= form_with(url: skill_search_index_path,method: :get,class: 'filter-form') do |form|
  %div.form-check.form-switch.d-flex.justify-content-end
    = expert_mode_toggle(@search.expert_mode)
    %a.d-flex.align-items-center.ms-1{href: "https://github.com/puzzle/skills?tab=readme-ov-file#skill-search-expert-mode"}
      %pzsh-icon.scale-icon-08.text-gray(name="question-circle")
  - @search.filter_rows.each_with_index do |filter, i|
    = render('filter_row', filter: filter, i: i, form: form)
    - if @search.expert_mode.show_operator?(i, @search.filter_count)
      = render('filter_operator', form: form, i: i)
  - unless @search.expert_mode.limit_reached?(@search.filter_count)
    %div.d-flex.align-items-center.mt-2
      %span.icon.icon-plus.me-1
      = form.submit ti('link.add'), name: 'add_row', class: 'btn btn-link p-0'
  %hr
  .d-flex.gap-2.align-items-center{'data-controller': 'dropdown'}
    = form.label Department.model_name.human, class: 'm-0', for: 'department-filter'
    = department_select(form)
