= form_with(url: skill_search_index_path, method: :get, class: 'filter-form') do |form|
  - @search_filters.each_with_index do |filter, i|
    - skill_id, level, interest = filter
    %div.d-flex.flex-row.align-items-center{id: "filter-row-#{i}"}
      %div.filter-container
        %div.w-100.d-flex.flex-row.justify-content-start{data: {controller: "skills-level"}}
          %div.w-50.align-self-end{"data-controller": "dropdown"}
            = form.collection_select "skill_id[]", Skill.order(:title), :id, :title, { selected: skill_id, prompt: true }, data:{"dropdown-target": "dropdown"}, onchange: "this.form.requestSubmit()"
          %div.w-25.d-flex.flex-column.align-items-center
            %label.form-label.text-gray.fs-6{"data-skills-level-target": "label"}= ti "people_skills.levels_by_id.#{level}"
            = form.range_field "level[]", min: 1, max: 5, value: level, class: "form-range w-75",
                                    "data-action": "change->skills-level#toggleLevel",
                                    "data-skills-level-target": "switch", onchange: "this.form.requestSubmit()"
          %div.w-25.d-flex.flex-column.align-items-center
            %span.fs-6.text-gray
              = ti "people_skills.interest"
            .rate
              - 5.downto(1) do |interest_n|
                = form.radio_button "interest[#{i}]", interest_n, id: "row#{i}_star#{interest_n}", checked: interest_n == interest, onClick: "this.form.requestSubmit()"
                = form.label 'stars', for: "row#{i}_star#{interest_n}", id: "row#{i}_star-label#{interest_n}", class: "star#{interest_n}"
      - if i != 0
        = form.label '', for: "delete-row-#{i}", class: 'icon icon-close p-0 cursor-pointer'
        = form.submit '', name: 'delete_row', value: i, class: 'd-none', id: "delete-row-#{i}"
  - if @search_filters.length < 5
    %div.d-flex.align-items-center.mt-2
      %span.icon.icon-plus.me-1
      = form.submit ti('link.add'), name: 'add_row', class: 'btn btn-link p-0'