%div.mt-3{"data-controller": "people-skills-filter"}
  %turbo-frame{id: "search-filters"}
    = form_with(url: skill_search_index_path, method: :get, class: "filter-form", data: {"people-skills-filter-target": "form"}) do |form|
      - filter_params.rows_count.times do |i|
        %div.d-flex.flex-row.align-items-center{"data-people-skills-filter-target": "filter", id: "filter-row-#{i}"}
          %div.filter-container.me-1
            = render("search_form", form: form, row_number: i, filter_params: filter_params)
          - if i != 0
            = close_action_link "#", {data: {action: "click->people-skills-filter#remove", "people-skills-filter-id-param": i}, id: "remove-row-#{i+1}"}
      - if filter_params.rows_count < 5
        - path = filter_form_skill_search_index_path(rows: filter_params.rows_count) + "&#{filter_params.query_params}"
        = add_action_link path, {}, {data: {"turbo-frame": "search-filters"},  id: "add-row-button"}

  %div.profile-header.mw-100.border-bottom.mt-4.fw-normal
    = ti "search.search_results"
  %turbo-frame{id: "search-results"}
    %div.border.p-3.rounded-bottom.search-results
      - if entries.size == 0
        - if filter_params.skill_ids.empty?
          = ti 'search.no_skill'
        - else
          = ti('search.no_match') + no_match_message
      - else
        - entries.each do | filtered_entry |
          %div.d-flex.flex-row.w-100.border-bottom
            %div.d-flex.flex-column.mt-2.mb-2.person-filter-container.justify-content-start
              = link_to filtered_entry[:person].name, person_path(filtered_entry[:person]), {"data-turbo-frame": "_top"}
            %div.d-flex.flex-column.mt-2.mb-2.skills-filter-container
              - filtered_entry[:skills].each do |person_skill|
                %div.d-flex.flex-row.mb-5
                  = render('person_skill', {person_skill: person_skill})