= form_with url: department_skill_snapshots_path, method: :get, data: { turbo_frame: "team-skill-chart" } do |f|
  .d-flex.mt-4.mb-4.gap-4
    %div
      = f.label :department_id, "Department", class: "text-secondary"
      = f.select :department_id,
            options_from_collection_for_select(Department.all, :id, :name, params[:department_id]), {}, { onchange: "this.form.requestSubmit()", class: "form-select"}
    %div
      = f.label :skill_id, "Skill", class: "text-secondary"
      = f.select :skill_id,
            options_from_collection_for_select(Skill.all, :id, :title, params[:skill_id]), {}, { onchange: "this.form.requestSubmit()", class: "form-select" }
    %div
      = f.label :year, "Year", class: "text-secondary"
      = f.select :year,
            options_for_select((2025..Date.today.year).to_a.reverse, params[:year]), {}, { onchange: "this.form.requestSubmit()", class: "form-select"}

%turbo-frame#team-skill-chart
  %div.chart-container{data: {"chart-dataset-value": @data, controller: "chart" }}
    %canvas{ "data-chart-target": "canvas", width: "500", height: "200" }
