
= haml_tag_if(@iteration.first?, :table, class: 'table') do
  = haml_tag_if(@iteration.first?, :thead) do
    = haml_tag_if(@iteration.first?, :tr) do
      %th{scope: "col"} #
      %th{scope: "col"} Skill
      %th{scope: "col"} Mitglieder
      %th{scope: "col"} Kategorie
      %th{scope: "col"} Subkategorie
      %th{scope: "col"} Default-Set
      %th{scope: "col"} Radar
      %th{scope: "col"} Ändern

  %tbody
    %tr
      -# %th{scope: "row"}=
      %td= @skill.title
      %td= @skill.people.count
      %td= @skill.category.title
      %td= @skill.category.parent.title
      %td= @skill.default_set
      %td= @skill.radar

