%turbo-frame{id: "competence-notes"}
  = form_with model: @person do |f|
    .w-100.mb-2
      = f.text_area :competence_notes, class: "form-control w-75", value: @person.competence_notes,
      rows: computed_size
    .mb-2
      = f.label :display_in_cv, class: "form-check-label me-1"
      = f.checkbox :display_in_cv, class: "form-check-input"
    .mb-2
      = f.submit
      = f.cancel

