= render 'scroll_to_menu', items: %w[personal-data core-competences educations advanced-trainings activities projects] do
  = export_action_link export_cv_person_path(@person), data: { turbo_frame: "remote_modal" }
%div.w-100{data: { "scroll-target": "parent"}}
  - if @person.people_skills.count == 0
    %span{"data-controller": "people", "data-people-target": "message"}
      %p.alert.alert-info.d-flex.justify-content-between
        = t('.no_skills_rated_msg')
        = close_action_link "#", data: {action: "click->people#remove"}
  = render('profile')
  = render('core_competences')
  = render('people/person_relations/index', list: @person.educations.list, id: "educations")
  = render('people/person_relations/index', list: @person.advanced_trainings.list, id: "advanced-trainings")
  = render('people/person_relations/index', list: @person.activities.list, id: "activities")
  = render('people/person_relations/index', list: @person.projects.list, id: "projects")
  = render('people/person_relations/index', list: @person.contributions.list, id: "contributions")
