= render('profile')
= render('core_competences')
= render('people/person_relations/index', list: @person.advanced_trainings.list)
= render('people/person_relations/index', list: @person.educations.list)
= render('people/person_relations/index', list: @person.activities.list)
= render('people/person_relations/index', list: @person.projects.list)
