= render 'scroll_to_menu', items: %w[personal-data core-competences educations advanced-trainings activities projects], translate: true do
  = link_to image_tag("export.svg") + "Export", export_cv_person_path(@person), data: { turbo_frame: "remote_modal" }
%div.col-12{data: { "scroll-target": "parent"}}
  = render('profile')
  = render('core_competences')
  = render('people/person_relations/index', list: @person.educations.list, id: "educations")
  = render('people/person_relations/index', list: @person.advanced_trainings.list, id: "advanced-trainings")
  = render('people/person_relations/index', list: @person.activities.list, id: "activities")
  = render('people/person_relations/index', list: @person.projects.list, id: "projects")