= form_with model: @person do |form|
  %div.d-flex.flex-xl-row.flex-lg-column.flex-md-column.flex-sm-column.flex-column
    %div.col-xl-3.col-12
      %img.rounded-circle{src: "/api/people/#{@person.id}/picture", width: '141', height: '141'}
      = form.file_field :picture
    %div.pe-5.col-xl-3.col-12
      %table
        %tbody
          %th.fw-normal Name
          %tr
            %td= form.text_field :name, class: "mw-100 form-control"
          %th.fw-normal Email
          %tr
            %td= form.text_field :email, class: "mw-100, form-control"
          %th.fw-normal Abschluss
          %tr
            %td= form.text_field :title, class: "mw-100, form-control"
          %th.fw-normal Funktionen
          %div
            = form.fields_for :person_roles do |person_role|
              %tr
                %td= render "person_role_fields", person_role: person_role
            %tr
              %td
                = link_to_add_role "Neue Funktion", form, :person_roles
          %th.fw-normal Organisationseinheit
          %tr
            %td= form.collection_select :department_id, Department.order(:name), :id, :name, {}, class: "form-select mw-100"
          %th.fw-normal Firma
          %tr
            %td= form.collection_select :company_id, Company.order(:name), :id, :name, {}, class: "form-select mw-100"
          %th.fw-normal Wohnort (Stadt)
          %tr
            %td= form.text_field :location, class: "form-control mw-100"

    %div.pe-5.col-xl-3.col-12
      %table
        %tbody
          %th.fw-normal Geburtsdatum
          %tr
            %td= form.date_field :birthdate, class: "form-control mw-100"
          %th.fw-normal Doppelbürger
          %tr
            %td{"data-controller"=>"nationality-two"}= check_box :has_nationality2, "", {"checked" => @person.nationality2?, "data-action" => "nationality-two#nationalityTwoVisible", "id" => "nat-two-checkbox"}
          %th.fw-normal Erste Nationalität
          %tr
            %td= form.collection_select :nationality, ISO3166::Country.all.sort, :alpha2, :iso_short_name, {}, class: "form-select mw-100"
          %th.fw-normal.nationality-two Zweite Nationalität
          %tr.nationality-two
            %td= form.collection_select :nationality2, ISO3166::Country.all.sort, :alpha2, :iso_short_name, {}, class: "form-select mw-100"
          %th.fw-normal Zivilstand
          %tr
            %td= form.collection_select :marital_status, Person.marital_statuses, :first, :first, { selected: @person.marital_status }, class: "form-select mw-100"
    %div.col-xl-3.col-12.mw-100
      %div.fw-normal Sprachen
      %div.border.border-dark-subtle.mt-1.p-2.rounded
        - @person.language_skills.each do |language|
          %div.mb-1= "#{language.language}: #{language.level} - #{language.certificate}"
  %div.mt-3
    = form.submit :Speichern, class: "btn btn-primary me-3"
    = link_to "Abbrechen", person_path