= form_with model: @person do |form|
  %div.d-flex.flex-xl-row.flex-column
    %div.col-xl-3.col-12
      - if avatar_cached?(@person.picture)
        %img.rounded-circle#avatar{src: "#{@person.picture}?#{Time.now.to_f}", width: '141', height: '141'}
      - else
        %img.rounded-circle#avatar{src: "#{@person.id}/picture?#{Time.now.to_f}", width: '141', height: '141'}
      %br
      %label.btn.btn-link{for: "avatar-uploader"} Bild ändern
      %div.visually-hidden{"data-controller"=>"image-upload"}= form.file_field :picture, {  accept: "image/", "data-action" => "image-upload#changeImage", id: "avatar-uploader" }
      = form.hidden_field :picture_cache
    %div.pe-5.col-xl-3.col-12
      %table
        %tbody
          %th.fw-normal Name
          %tr
            %td= form.text_field :name, class: "mw-100 form-control"
          %th.fw-normal Email
          %tr
            %td= form.text_field :email, class: "mw-100, form-control"
          %th.fw-normal Abschluss
          %tr
            %td= form.text_field :title, class: "mw-100, form-control"
          %th.fw-normal Funktionen
          %div
            = form.fields_for :person_roles do |person_role|
              %tr
                %td= render "person_role_fields", person_role: person_role
            %tr
              %td{"data-controller"=>"person-roles"}
                = link_to_add_role "Neue Funktion", form, :person_roles
          %th.fw-normal Organisationseinheit
          %tr
            %td= form.collection_select :department_id, Department.order(:name), :id, :name, {}, class: "form-select mw-100"
          %th.fw-normal Firma
          %tr
            %td= form.collection_select :company_id, Company.order(:name), :id, :name, {}, class: "form-select mw-100"
          %th.fw-normal Wohnort (Stadt)
          %tr
            %td= form.text_field :location, class: "form-control mw-100"

    %div.pe-5.col-xl-3.col-12
      %table
        %tbody
          %th.fw-normal Geburtsdatum
          %tr
            %td= form.date_field :birthdate, class: "form-control mw-100"
          %th.fw-normal Doppelbürger
          %tr
            %td{"data-controller"=>"nationality-two"}= check_box :has_nationality2, "checked", {"checked" => @person.nationality2?, "data-action" => "nationality-two#nationalityTwoVisible", "id" => "nat-two-checkbox"}
          %th.fw-normal Erste Nationalität
          %tr
            %td= form.collection_select :nationality, country_alpha2_translation_map, :first, :last, {}, class: "form-select mw-100"
          %th.fw-normal.nationality-two Zweite Nationalität
          %tr.nationality-two
            %td= form.collection_select :nationality2, country_alpha2_translation_map, :first, :last, {}, class: "form-select mw-100"
          %th.fw-normal Zivilstand
          %tr
            %td= form.collection_select :marital_status, marital_status_translation_map, :first, :last, { selected: @person.marital_status }, class: "form-select mw-100"
          %th.fw-normal Kürzel
          %tr
            %td= form.text_field :shortname, class: "mw-100 form-control"
    %div.col-xl-3.col-12.mw-100
      %div.fw-normal Sprachen
      %div.border.border-dark-subtle.mt-1.p-2.rounded
        = form.fields_for :language_skills do |language_skill|
          %div= language_skill.collection_select :language, common_languages_translated, :first, :last, {}, class: "form-select mw-100"
          %div Level
          %div= language_skill.collection_select :level, %w[Keine A1 A2 B1 B2 C1 C2 Muttersprache], :itself, :itself, {}, class: "form-select mw-100"
          %div Zertifikat
          %div.mb-5= language_skill.text_field :certificate, class: "mw-100 form-control"
  %div.mt-3
    = form.submit :Speichern, { class: "btn btn-primary me-3 bg-skills-blue", id: "save-button" }
    = link_to "Abbrechen", person_path, { id: "cancel-button" }