= form_with model: @person do |form|
  %div.d-flex.flex-xl-row.flex-column
    %div.col-xl-3.col-12
      - if avatar_cached?(@person.picture)
        %img.rounded-circle#avatar{src: "#{@person.picture}?#{Time.now.to_f}", width: '141', height: '141'}
      - elsif @person.id.nil?
        %img.rounded-circle#avatar{width: '141', height: '141'}
      - else
        %img.rounded-circle#avatar{src: "#{@person.id}/picture?#{Time.now.to_f}", width: '141', height: '141'}
      %br
      %label.btn.btn-link{for: "avatar-uploader"}
        - if @person.id.nil?
          = t "people.profile.upload_image"
        - else
          = t "people.profile.change_image"
      %div.visually-hidden{"data-controller"=>"image-upload"}= form.file_field :picture, {  accept: "image/*", "data-action" => "image-upload#changeImage", id: "avatar-uploader" }
      = form.hidden_field :picture_cache
    %div.pe-5.col-xl-3.col-12
      %table.w-100
        %tbody
          %th.fw-normal
            = form.label :name
          %tr
            %td= form.text_field :name, {class: "mw-100 form-control", **disabled_with_ptime_sync}
          %th.fw-normal
            = form.label :email
          %tr
            %td= form.text_field :email, {class: "mw-100 form-control", **disabled_with_ptime_sync}
          %th.fw-normal
            = form.label :title
          %tr
            %td= form.text_field :title, {class: "mw-100 form-control", **disabled_with_ptime_sync}
          %th.fw-normal
            = form.label :person_roles
          %div
            = form.fields_for :person_roles do |person_role|
              %tr
                %td= render "person_role_fields", f: person_role
            %tr
              - unless use_ptime_sync?
                %td{"data-controller"=>"dynamic-fields"}
                  = link_to_add_field t("people.profile.add_function"), form, :person_roles

          %th.fw-normal
            = form.label :department
          %tr
            %td= form.collection_select :department_id, Department.order(:name), :id, :name, {}, {class: "form-select mw-100", **disabled_with_ptime_sync}
          %th.fw-normal
            = form.label :company
          %tr
            %td= form.collection_select :company_id, Company.order(:name), :id, :name, {}, {class: "form-select mw-100", **disabled_with_ptime_sync}
          %th.fw-normal
            = form.label :location
          %tr
            %td= form.text_field :location, {class: "form-control mw-100", **disabled_with_ptime_sync}

    %div.pe-5.col-xl-3.col-12
      %table.w-100
        %tbody
          %th.fw-normal
            = form.label :birthdate
          %tr
            %td= form.date_field :birthdate, {class: "form-control mw-100", **disabled_with_ptime_sync}
          %th.fw-normal
            = form.label :dual_citizen
          %tr
            %td{"data-controller"=>"nationality-two"}= check_box :has_nationality2, "checked", {"checked" => @person.nationality2?, "data-action" => "nationality-two#nationalityTwoVisible", "id" => "nat-two-checkbox", **disabled_with_ptime_sync}
          %th.fw-normal
            = form.label :nationality
          %tr
            %td= form.collection_select :nationality, country_alpha2_translation_map, :first, :last, {}, {class: "form-select mw-100", **disabled_with_ptime_sync}
          %th.fw-normal.nationality-two
            = form.label :nationality2
          %tr.nationality-two
            %td= form.collection_select :nationality2, country_alpha2_translation_map, :first, :last, {}, {class: "form-select mw-100", **disabled_with_ptime_sync}
          %th.fw-normal
            = form.label :marital_status
          %tr
            %td= form.collection_select :marital_status, marital_status_translation_map, :first, :last, { selected: @person.marital_status }, { class: "form-select mw-100", **disabled_with_ptime_sync}
          %th.fw-normal
            = form.label :shortname
          %tr
            %td= form.text_field :shortname, {class: "mw-100 form-control", **disabled_with_ptime_sync}
    %div.col-xl-3.col-12{"data-controller"=>"lang-selection"}
      %div.fw-normal
        = form.label :language_skills
      %div.border.border-dark-subtle.mt-1.p-2.rounded.w-100
        = form.fields_for :language_skills, sort_languages(@person.language_skills) do |language_skill|
          = render "language_skill_fields", f: language_skill
        %div{"data-controller"=>"dynamic-fields"}
          = link_to_add_field t("people.profile.add_language"), form, :language_skills

  %div.mt-3.create-button
    = form.submit class: "btn btn-primary me-3 bg-skills-blue", id: "save-button"
    = form.cancel