= form_with model: @person do |form|
  %div.d-flex.flex-xl-row.flex-column
    %div.col-xl-3.col-12
      - if avatar_cached?(@person.picture)
        %img.rounded-circle#avatar{src: "#{@person.picture}?#{Time.now.to_f}", width: '141', height: '141'}
      - elsif @person.id.nil?
        %img.rounded-circle#avatar{width: '141', height: '141'}
      - else
        %img.rounded-circle#avatar{src: "#{@person.id}/picture?#{Time.now.to_f}", width: '141', height: '141'}
      %br
      %label.btn.btn-link{for: "avatar-uploader"}
        - if @person.id.nil?
          = t "people.profile.upload_image"
        - else
          = t "people.profile.change_image"
      %div.visually-hidden{"data-controller"=>"image-upload"}= form.file_field :picture, {  accept: "image/*", "data-action" => "image-upload#changeImage", id: "avatar-uploader" }
      = form.hidden_field :picture_cache
    %div.pe-5.col-xl-3.col-12
      %table.w-100
        %tbody
          %th.fw-normal
            = form.label :name
          %tr
            %td
              = disabled_ptime_sync_form(formdata = {"form" => form , "field_name" => :name, "field_usage" => "text_field", "translation_map" => "", "selected" => {}, "tooltip_placement" => "top"})
          %th.fw-normal
            = form.label :email
          %tr
            %td
              = disabled_ptime_sync_form(formdata = {"form" => form , "field_name" => :email, "field_usage" => "text_field", "translation_map" => "", "selected" => {}, "tooltip_placement" => "top"})
          %th.fw-normal
            = form.label :title
          %tr
            %td
              = disabled_ptime_sync_form(formdata = {"form" => form , "field_name" => :title, "field_usage" => "text_field", "translation_map" => "", "selected" => {}, "tooltip_placement" => "top"})
          %th.fw-normal
            = form.label :person_roles
          %div
            = form.fields_for :person_roles do |person_role|
              %tr
                %td= render "person_role_fields", f: person_role
            %tr
              - unless ptime_sync_active?
                %td{"data-controller"=>"dynamic-fields"}
                  = link_to_add_field t("people.profile.add_function"), form, :person_roles

          %th.fw-normal
            = form.label :department
          %tr
            %td
              = disabled_ptime_sync_form(formdata = {"form" => form , "field_name" => :department, "field_usage" => "text_field", "translation_map" => "", "selected" => {}, "tooltip_placement" => "top"})
          %th.fw-normal
            = form.label :company
          %tr
            %td
              = disabled_ptime_sync_form(formdata = {"form" => form , "field_name" => :company, "field_usage" => "text_field", "translation_map" => "", "selected" => {}, "tooltip_placement" => "top"})
          %th.fw-normal
            = form.label :location
          %tr
            %td
              = disabled_ptime_sync_form(formdata = {"form" => form , "field_name" => :location, "field_usage" => "text_field", "translation_map" => "", "selected" => {}, "tooltip_placement" => "top"})

    %div.pe-5.col-xl-3.col-12
      %table.w-100
        %tbody
          %th.fw-normal
            = form.label :birthdate
          %tr
            %td
              = disabled_ptime_sync_form(formdata = {"form" => form , "field_name" => :birthdate, "field_usage" => "text_field", "translation_map" => "", "selected" => {}, "tooltip_placement" => "top"})
          %th.fw-normal
            = form.label :dual_citizen
          %tr
            %td
              = disabled_ptime_sync_form(formdata = {"form" => form , "field_name" => :has_nationality2, "field_usage" => "", "translation_map" => "", "selected" =>  @person.nationality2?, "tooltip_placement" => "left" }, checkbox_field: true, checkbox_options: { "data-controller"=>"nationality-two" })
          %th.fw-normal
            = form.label :nationality
          %tr
            %td
              = disabled_ptime_sync_form(formdata = {"form" => form , "field_name" => :nationality, "field_usage" => "collection_select", "translation_map" => country_alpha2_translation_map, "selected" => {} , "tooltip_placement" => "top"})
          %th.fw-normal.nationality-two
            = form.label :nationality2
          %tr.nationality-two
            %td
              = disabled_ptime_sync_form(formdata = {"form" => form , "field_name" => :nationality2, "field_usage" => "collection_select", "translation_map" => country_alpha2_translation_map, "selected" => {}, "tooltip_placement" => "top"})
          %th.fw-normal
            = form.label :marital_status
          %tr
            %td
              = disabled_ptime_sync_form(formdata = {"form" => form , "field_name" => :marital_status, "field_usage" => "collection_select", "translation_map" => marital_status_translation_map, "selected" => { selected: @person.marital_status }, "tooltip_placement" => "top"})
          %th.fw-normal
            = form.label :shortname
          %tr
            %td
              = disabled_ptime_sync_form(formdata = {"form" => form , "field_name" => :shortname, "field_usage" => "text_field", "translation_map" => "", "selected" => {}, "tooltip_placement" => "top"})
    %div.col-xl-3.col-12{"data-controller"=>"lang-selection"}
      %div.fw-normal 
        = form.label :language_skills
      %div.border.border-dark-subtle.mt-1.p-2.rounded.w-100
        = form.fields_for :language_skills, sort_languages(@person.language_skills) do |language_skill|
          = render "language_skill_fields", f: language_skill
        %div{"data-controller"=>"dynamic-fields"}
          = link_to_add_field t("people.profile.add_language"), form, :language_skills

  %div.mt-3
    = form.submit class: "btn btn-primary me-3 bg-skills-blue", id: "save-button"
    = form.cancel