%div.border.border-dark-subtle.rounded.p-1.fw-light.nested-fields
  = person_role.hidden_field :_destroy
  Rolle
  = person_role.collection_select :role_id, Role.order(:name), :id, :name, {}, class: "form-select w-100 role-select"
  %div
    Stufe
    %div.d-flex.fw-light
      = person_role.collection_select :person_role_level_id, PersonRoleLevel.order(:level), :id, :level, {}, class: "form-select w-50 me-1 role-level-select"
      = person_role.number_field :percent, in: 0..200, step: 1, class: "form-control w-50 person-role-percent"
  %div{"data-controller"=>"person-roles"}= link_to "Remove", "#", { class: "remove_fields", 'data-action' => 'person-roles#removeField' }