%div.mb-3#personal-data{"data-scroll-target": "scrollItem"}
  %div.profile-header.mw-100.border-bottom
    = t "people.profile.personals"
  %div.mt-4
    %turbo-frame{id: "#{dom_id @person}"}
      %div.d-flex.flex-xl-row.flex-column
        %div.col-xl-3.col-12
          %img.rounded-circle{src: @person.picture, width: '141', height: '141'}
          %div.mt-3
            = edit_action_link
        %div.pe-5.col-xl-3.col-12
          %table.fixed-table
            %tbody
              %th.fw-normal.text-gray 
                = Person.human_attribute_name(:name)
              %tr
                %td.text-break.pb-1= @person.name
              %th.fw-normal.text-gray
                = Person.human_attribute_name(:email)
              %tr
                %td.text-break.pb-1= @person.email
              %th.fw-normal.text-gray 
                = Person.human_attribute_name(:title)
              %tr
                %td.text-break.pb-1= @person.title
              %th.fw-normal.text-gray 
                = Person.human_attribute_name(:person_roles, count: @person.person_roles.count)
              - unless @person.person_roles.empty?
                - @person.person_roles.each do |person_role|
                  %tr
                    %td.pb-1= person_role_string(person_role)
              - else
                %tr
                  %td -
              %th.fw-normal.text-gray 
                = Person.human_attribute_name(:department)
              %tr
                %td.pb-1= @person.department&.name || "-"
              %th.fw-normal.text-gray 
                = Person.human_attribute_name(:company)
              %tr
                %td= @person.company.name
        %div.pe-5.col-xl-3.col-12
          %table.fixed-table
            %tbody
              %th.fw-normal.text-gray
                = Person.human_attribute_name(:birthdate)
              %tr
                %td.pb-1
                  = @person.birthdate&.to_date&.strftime('%d.%m.%Y') || '-'
              %th.fw-normal.text-gray 
                = Person.human_attribute_name(:nationality)
              %tr
                %td.text-break.pb-1
                  = nationality_string(@person.nationality, @person.nationality2)
              %th.fw-normal.text-gray 
                = Person.human_attribute_name(:location)
              %tr
                %td.text-break.pb-1= @person.location
              %th.fw-normal.text-gray 
                = Person.human_attribute_name(:marital_status)
              %tr
                %td.pb-1= @person.marital_status.nil? ? '-' : t("marital_statuses.#{@person.marital_status}")
              %th.fw-normal.text-gray 
                = Person.human_attribute_name(:shortname)
              %tr
                %td= @person.shortname || "-"

        %div.col-xl-3.col-12
          %div.fw-normal.text-gray 
            = Person.human_attribute_name(:language_skills, count: @person.language_skills.count)
          %div.border.border-dark-subtle.mt-1.p-2.rounded.w-min-content
            %table
              %tbody
                - sort_languages(@person.language_skills).each do |language|
                  %tr
                    %td.p-2.pe-3.text-gray= language.language
                    %td.p-2.pe-3= image_tag("language-levels/#{language.level.downcase}.svg", alt: "Language level indicator")
                    - unless language.certificate.blank?
                      %td.p-2= image_tag("language-levels/icon_certificate.svg", alt: "Language certificate icon", title: language.certificate)
  %br