%div#scroll-sidebar.sidebar.responsive-hide{data: {"scroll-target": "list"}}
  %div
    - items.each do | item |
      %div.sidebar-item.w-100{data: {"scroll-target": "listItem", "action": "click->scroll#scrollToElement",
            "scroll-id-param": item.parameterize}}
        %span
          = t(".#{item}", default: item)

  %div.sidebar-extras
    = yield

  - if @person
    - alert = person_alert(@person)

    %span{"data-controller": "people", "data-people-target": "message"}
      %p{ class: "alert #{alert[:alert_class]} d-flex justify-content-between" }
        = t(alert[:message])
        = close_action_link "#", data: { action: "click->people#remove" }