%div.ps-3.pt-3.pb-3.skills-blue-text.skills-selected{"data-scroll-target": "listItem", "data-action": "click->scroll#scrollToElement",
      "data-scroll-id-param": "personal-data"}
  %span.cursor-pointer
    = t "profile.personal_data"
%div.ps-3.pt-3.pb-3.skills-blue-text{"data-scroll-target": "listItem", "data-action": "click->scroll#scrollToElement",
    "data-scroll-id-param": "core-competences"}
  %span.cursor-pointer
    = t "profile.core_competences"
%div.ps-3.pt-3.pb-3.skills-blue-text{"data-scroll-target": "listItem", "data-action": "click->scroll#scrollToElement",
    "data-scroll-id-param": "educations"}
  %span.cursor-pointer
    = t "profile.educations"
%div.ps-3.pt-3.pb-3.skills-blue-text{"data-scroll-target": "listItem", "data-action": "click->scroll#scrollToElement",
    "data-scroll-id-param": "advanced-trainings"}
  %span.cursor-pointer
    = t "profile.advanced_trainings"
%div.ps-3.pt-3.pb-3.skills-blue-text{"data-scroll-target": "listItem", "data-action": "click->scroll#scrollToElement",
    "data-scroll-id-param": "activities"}
  %span.cursor-pointer
    = t "profile.activities"
%div.ps-3.pt-3.pb-3.skills-blue-text{"data-scroll-target": "listItem", "data-action": "click->scroll#scrollToElement",
    "data-scroll-id-param": "projects"}
  %span.cursor-pointer
    = t "profile.projects"