%div.d-flex.align-items-center.justify-content-between
  %div.d-flex.col-9.gap-3
    %span.col-6{"data-controller": "dropdown"}
      = select :person_id, :person, options_for_select(sorted_people, select_when_available(model_path_or_nil(person))), {prompt: person.nil?}, {data: { "dropdown-target" => "dropdown"}}
    %div.d-flex.align-items-center.text-gray
      = "#{t 'profile.updated_at'}: #{@person&.last_updated_at.strftime("%d.%m.%Y")}" if @person&.last_updated_at

  - unless ptime_sync_active?
    %a.d-flex.justify-content-between#new-person-button
      = add_action_link new_person_path