%div.d-flex.align-items-center.justify-content-between
  %div.d-flex.col-9.gap-3
    %span.col-6{"data-controller": "dropdown"}
      - if ptime_broken?
        = collection_select :person_id, :person, Person.all.sort_by {|p| p.name.downcase }, :id, :name, select_when_availabale(person), {data:{"dropdown-target": "dropdown" , action: "change->dropdown#handleChange", value: "/people/"}}        
      - else
        - sorted_employees = fetch_ptime_employees.sort_by { |p| p[:name] }
        = select :person_id, :person, options_for_select(sorted_employees.map { |p| [ p[:name], p[:already_exists] ? p[:id] : "new?ptime_employee_id=#{p[:ptime_employee_id]}" ] }), {}, {data: { "dropdown-target" => "dropdown", action: "change->dropdown#handleChange", value: "/people/" }}
    %div.d-flex.align-items-center.text-gray
      = "#{t '.updated_at'}: #{@person&.last_updated_at.strftime("%d.%m.%Y")}" if @person&.last_updated_at
  %a.d-flex.justify-content-between#new-person-button
    = add_action_link new_person_path