%turbo-frame{id: "#{dom_id @person}"}
  = form_with model: @person do |form|
    %div.d-flex.justify-content-between.flex-lg-row.flex-md-row.flex-sm-column.flex-column.overflow-scroll
      %div.pe-5
        %img.rounded-circle{src: "/api/people/#{@person.id}/picture", width: '141', height: '141'}
        = form.file_field :picture
      %div.pe-5.d-flex
        %table
          %tbody
            %th.fw-normal Name
            %tr
              %td= form.text_field :name, class: "w-100 form-control"
            %th.fw-normal Email
            %tr
              %td= form.text_field :email, class: "w-100, form-control"
            %th.fw-normal Abschluss
            %tr
              %td= form.text_field :title, class: "w-100, form-control"
            %th.fw-normal Funktionen
            %div
              = form.fields_for :person_roles do |person_role|
                %tr
                  %td
                    %div.border.border-dark-subtle.rounded.p-1.fw-light
                      Rolle
                      = person_role.collection_select :role_id, Role.order(:name), :id, :name, {}, class: "form-select w-100"
                      %div
                        Stufe
                        %div.d-flex.fw-light
                          = person_role.collection_select :person_role_level_id, PersonRoleLevel.order(:level), :id, :level, {}, class: "form-select w-50 me-1"
                          = person_role.number_field :percent, step: 1, class: "form-control w-50"
              %tr
                %td
                  %button.btn.btn-link Neue Funktion
            %th.fw-normal Organisationseinheit
            %tr
              %td= form.collection_select :department_id, Department.order(:name), :id, :name, {}, class: "form-select w-100"
            %th.fw-normal Firma
            %tr
              %td= form.collection_select :company_id, Company.order(:name), :id, :name, {}, class: "form-select w-100"
            %th.fw-normal Wohnort (Stadt)
            %tr
              %td= form.text_field :location, class: "form-control w-100"

      %div.pe-5
        %table
          %tbody
            %th.fw-normal Geburtsdatum
            %tr
              %td= form.date_field :birthdate, class: "form-control w-100"
            %th.fw-normal Doppelbürger
            %tr
              %td{"data-controller"=>"nationality-two"}= check_box :has_nationality2, {}, {"checked" => @person.nationality2?, "data-action" => "nationality-two#nationalityTwoVisible", "id" => "nat-two-checkbox"}
            %th.fw-normal Erste Nationalität
            %tr
              %td= form.collection_select :nationality, ISO3166::Country.all.sort, :alpha2, :name, {}, class: "form-select w-100"
            %th.fw-normal.nationality-two Zweite Nationalität
            %tr.nationality-two
              %td= form.collection_select :nationality2, ISO3166::Country.all.sort, :alpha2, :name, {}, class: "form-select w-100"
            %th.fw-normal Zivilstand
            %tr
              %td= form.collection_select :marital_status, Person.marital_statuses, :first, :first, { selected: @person.marital_status }, class: "form-select w-100"
      %div
        %div.fw-normal Sprachen
        %div.border.border-dark-subtle.mt-1.p-2.rounded
          - @person.language_skills.each do |language|
            %div.mb-1= "#{language.language}: #{language.level} - #{language.certificate}"
    %div.mt-3
      = form.submit :Speichern, class: "btn btn-primary me-3"
      = link_to "Abbrechen", person_path