= render('profile')
= render('core_competences')

        %div.col-xl-3.col-12
          %div.fw-normal.text-gray Sprachen
          %div.border.border-dark-subtle.mt-1.p-2.rounded
          %div.border.border-dark-subtle.mt-1.p-2.rounded
            - @person.language_skills.each do |language|
              %div.mb-1= "#{language.language}: #{language.level} - #{language.certificate}"
      = link_to "Show all", people_path, {"data-turbo"=>false}

= link_to "Weiterbildung hinzufügen", new_advanced_training_path, 'data-turbo-stream': '', method: :get
= render partial: 'advanced_trainings/index', locals: { person: @person }      %div.d-flex.justify-content-end
        =link_to image_tag("plus-lg.svg", class: "text-primary")+ "Export", export_cv_person_path(@person), class: "btn text-primary", data: { turbo_frame: "remote_modal" }