= form_with(url: person_path(format: 'odt'), method: 'get', data: {controller: "skills-filter info-message", turbo: false}) do |f|
  .text-danger.text-decoration-underline{'data-info-message-target': 'message'}= ti('update_index_info')
  .mb-2.w-100
    = f.label :location, class: "form-label w-100"
    = f.collection_select :location, BranchAdress.all, :id, :short_name, {selected: (BranchAdress.find_by(default_branch_adress: true) || BranchAdress.first).id}, class: "form-select w-100"
  .mb-2.w-100.form-check.form-switch
    = f.check_box :includeCS, class: "form-check-input"
    = f.label t(".competences_skills"), class: "form-check-label w-100"
  .mb-2.w-100.form-check.form-switch
    = f.check_box :includeContributions, class: "form-check-input"
    = f.label t("activerecord.models.contribution.other"), class: "form-check-label w-100"
  .mb-2.w-100.form-check.form-switch
    = f.check_box :skillsByLevel, class: "form-check-input", "data-action": "click->skills-filter#toggleSwitch"
    = f.label t(".skills_by_level"), class: "form-check-label w-100"

    %div{"data-skills-filter-target": "container"}
      = f.label t("global.people_skills.levels.trainee"), "data-skills-filter-target": "label", class: "w-100"
      = f.range_field :levelValue, min: 1, max: 5, value: 1, class: "form-range w-25", "data-action": "change->skills-filter#toggleLevel", "data-skills-filter-target": "switch"
  .mb-2.w-100.form-check.form-switch
    = f.check_box :anon, class: "form-check-input"
    = f.label t(".anonymised_cv"), class: "form-check-label w-100"
  .mb-1.mt-4
    = f.submit ti("link.download"), {'data-action': 'info-message#showMessage'}
    = f.cancel person_path, "data-bs-dismiss":"modal"
