= form_with model: ([entry.person, entry]) do |f|
  = render('people/person_relations/form', form: f) do
    - content_for :input do
      = f.label :description
      = f.text_area :description, placeholder: "Description", class: "form-control w-100"
      = f.label :display_in_cv, class: "form-check-label text-gray"
      = f.checkbox :display_in_cv, class: "form-check-input"