%turbo-frame{id: "advanced_trainings_all"}
  %div.border.rounded.border
    %turbo-frame{id: "#{dom_id AdvancedTraining.new}"}
    - @person.advanced_trainings.list.each do |at|
      %div.border-top.bg-hover-gray
        %turbo-frame{id: "#{dom_id at}"}
          = link_to edit_person_advanced_training_path(@person, at), data:{turbo_prefetch: :false}, class: "text-decoration-none text-dark at-at" do
            %div.d-flex.row.pt-3.pb-5
              %span.col-3.ps-5
                #{translated_months[at.month_from || 0]} #{at.year_from}
                -if (at&.month_to.nil? && at&.year_to.nil?)
                  = "- #{I18n.t('date_range_picker.today')}"
                - elsif (at&.month_to != at&.month_from && at&.year_to != at&.year_from)
                  = "- #{translated_months[at&.month_to || 0]} #{at&.year_to}"
                - else 
                  =  "- #{translated_months[at.month_from || 0]} #{at.year_to}"
              %span.col
                = at.description