= render('people/date_range_entities/index') do
  = content_for(:header) do
    = "#{t "activerecord.models.advanced_training"} (#{@person.advanced_trainings.count})"
  = content_for(:body) do
    = link_to "#{t "activerecord.models.advanced_training"} hinzufügen", new_person_advanced_training_path(@person), data: { turbo_frame: "#{dom_id AdvancedTraining.new}"},  method: :get
    %turbo-frame{id: "advanced_trainings_all"}
      %div.border.rounded.border
        %turbo-frame{id: "#{dom_id AdvancedTraining.new}"}
        = render person.advanced_trainings.list
      