%turbo-frame{id: "trainings"}
  - @person.advanced_trainings.each do |at|
    %turbo-frame{id: "#{dom_id at}"}
      = link_to edit_advanced_training_path(at), class: "text-decoration-none text-dark" do
        %div.bg-hover-gray.border.rounded
          %div.d-flex.row
            %span.col-2
              #{Date::MONTHNAMES.compact[at.month_from]} #{at.year_from} -
              -if at.month_to.nil? && at.year_to.nil?
                = "now"
              - else 
                #{Date::MONTHNAMES.compact[at.month_to]} #{at.year_to}
            %span.col
              = at.description