= turbo_stream.replace "department_merge_history" do
  = render partial: "admin/department_merge_history/index", locals: { merge_histories: @merge_histories }

= turbo_stream.update dom_id(MergeDepartmentSkillForm.new) do
  = render "form"

= turbo_stream.update "flash-messages" do
  = render partial: "layouts/flash", collection: [:notice, :alert], as: :level