= yield
%div.d-flex.row.py-3.ps-5
  %span.col-3
    = render partial: 'application/daterange_picker', locals: { form: form, end_date: form.object.till_today? }
  %span.col-5.d-flex.flex-column
    = yield :input
  %div.col.d-flex.flex-column
    - if entry.persisted?
      = update_action_link
      = destroy_action_link('','trash')
    - else
      = save_action_link
      = save_and_new_action_link(data: { turbo_frame: dom_id(entry.class.new)})
    = cancel_action_link polymorphic_path(entry.person)