= link_to ti('unify_skills'), new_admin_unified_skill_path
- if [Company, Department, Role].all? { |c| can?(:manage, c) }
  - if use_ptime_sync?
    = link_to ti('update_people_manually'), admin_manual_ptime_sync_index_path
    = link_to ti('delete_not_synced_profiles'), admin_people_management_path(people: 'not_synced')
  = link_to ti('delete_unemployed_people'), admin_people_management_path(people: 'unemployed')
  = link_to Department.model_name.human , admin_departments_path
  = link_to Role.model_name.human , admin_roles_path
  = link_to Company.model_name.human , admin_companies_path
  = link_to ti('merge_department_snapshots'), new_admin_merge_department_skill_snapshot_path
