%div.w-100.d-flex.justify-content-center
  %div.w-50.mt-4
    %h2.text-center= t('admin.index.unify_skills')
    %div.mt-4
      = form_with model: entry, url: admin_unified_skills_path, id: 'unify-skills-form' do |form|
        = form.hidden_field :checked_conflicts, { value: entry.checked_conflicts, id: 'checked-conflicts-field' }
        %div.d-flex.justify-content-between.mb-2
          %span.w-45
            = form.label :old_skill_id1
            = form.select :old_skill_id1, old_skill1_select_options, {}, { data: { controller: 'dropdown', 'dropdown-target': 'dropdown' } }
          %span.w-45
            = form.label :old_skill_id2
            = form.select :old_skill_id2, old_skill2_select_options, {}, { data: { controller: 'dropdown', 'dropdown-target': 'dropdown' } }
        %hr
        = form.label :new_skill
        = form.fields_for :new_skill, Skill.new do |f|
          .mb-2.w-100
            = f.label :title, class: "form-label"
            = f.text_field :title, class: "form-control", value: skill_value(:title)
          .mb-2.w-100
            = f.label :category, class: "form-label w-100"
            = f.select :category_id, options_for_select(category_map_for_dropdown, selected: skill_value(:category_id)), {}, class: "form-select w-100"
          .mb-2.w-100
            = f.label :radar, class: "form-label w-100"
            = f.select :radar, options_for_select(Settings.radar, selected: skill_value(:radar)), {}, class: "form-select"
          .mb-2.w-100
            = f.label :portfolio, class: "form-label w-100"
            = f.select :portfolio, options_for_select(Settings.portfolio, selected: skill_value(:portfolio)), {}, class: "form-select"
          .mb-2.w-100
            = f.check_box :default_set, class: "form-check-input me-1", checked: true?(skill_value(:default_set))
            = f.label :default_set, class: "form-label"
        = form.submit ti('unify'), { 'data-turbo-frame': 'remote_modal' }
