%div.w-100.d-flex.justify-content-center
  %div.w-50.mt-4
    %h2.text-center= ti('unified_skills.merge_skills')
    %div.mt-4.mb-4
      = form_with method: :get, class: 'd-flex justify-content-between', data: {'turbo-frame': 'merge-skill-form'} do |form|
        %span.w-45
          = form.label :old_skill_id1
          = form.select :old_skill_id1, skills_for_dropdown, {}, {data: {controller: 'dropdown', 'dropdown-target': 'dropdown'}, onchange: 'this.form.requestSubmit();'}
        %span.w-45
          = form.label :old_skill_id2
          = form.select :old_skill_id2, skills_for_dropdown, {}, {data: {controller: 'dropdown', 'dropdown-target': 'dropdown'}, onchange: 'this.form.requestSubmit();'}

    %turbo-frame#merge-skill-form
      - if old_skill_id1.present? && old_skill_id2.present?
        = form_with(model: @skill, url: admin_unified_skills_path, method: :post) do |f|
          = hidden_field_tag :old_skill_id1, old_skill_id1
          = hidden_field_tag :old_skill_id2, old_skill_id2
          .mb-2.w-100
            = f.label :title, class: "form-label"
            = f.text_field :title, class: "form-control"
          .mb-2.w-100
            = f.label :kategorie, class: "form-label w-100"
            = f.collection_select :category_id, Category.all_children.sort_by { |category| category.parent&.title}, :id, :name_with_parent, {}, class: "form-select w-100"
          .mb-2.w-100
            = f.label :radar, class: "form-label w-100"
            = f.select :radar, Settings.radar, {}, class: "form-select"
          .mb-2.w-100
            = f.label :portfolio, class: "form-label w-100"
            = f.select :portfolio, Settings.portfolio, {}, class: "form-select"
          .w-100
            = f.submit ti('unified_skills.merge')