%div.mt-2
  %form.d-flex.align-items-center{data: {"turbo-frame": "search-results", "turbo-action": "advance"}, "data-controller": "search"}
    %input{class: 'form-control w-75', placeholder: ti("search_placeholder"), name: 'q', "data-action": "search#submitWithTimeout", id: "cv_search_field"}
    %div.ms-5
      %input{type: "checkbox", name: 'search_skills', id: 'search_skills_checkbox', onchange: 'this.form.requestSubmit();'}
        = ti('search_skills')
  %p.text-secondary.d-flex.align-items-center
    = image_tag("info", class: "pe-1")
    = ti("multiple_keywords_message")
  %div.profile-header.mw-100.border-bottom.mt-2.mb-2

    = ti "search.search_results"
  %turbo-frame{id: "search-results"}
    - if @cv_search_results.blank?
      = ti "search.no_results"
    - else
      - @cv_search_results.each do |result|
        .d-flex.flex-row.border.p-1.justify-content-center
          %div.w-50.d-flex.mb-2.h-25.mt-2
            = link_to result[:person][:name], person_path(result[:person][:id]), {class: "bg-skills-green w-75 text-decoration-none text-white ps-1 p-2 rounded-1", "data-turbo-frame": "_top" }
          %div.d-flex.flex-column.w-100.h-100.mt-2
            - result[:found_in].each do |found_in|
              %div.d-flex.flex-row.mb-2
                %div.w-25.d-flex.justify-content-start.align-items-center.me-5
                  %div.me-1.w-100.h-100
                    %p.bg-skills-search-result-blue.text-decoration-none.text-white.ps-1.p-2.rounded-1.text-center.mb-0
                      = "#{found_in[:keywords_in_attribute].sort.join(', ')}"
                %div.d-flex.justify-content-start.align-items-center.me-2
                  = ti("search.found_in")
                %div.w-25.d-flex.justify-content-start.align-items-center
                  %div.me-1.w-100.h-100.d-flex.flex-row.align-items-center.justify-content-start
                    %p.bg-skills-search-result-blue.text-decoration-none.ps-1.p-2.rounded-1.text-center.mb-0.w-100
                      = link_to found_in[:attribute], path(result, found_in), {class: "text-decoration-none text-white","data-turbo-frame": "_top" }
