%div.mt-2
  %form.d-flex.align-items-center{data: {"turbo-frame": "search-results", "turbo-action": "advance"}, "data-controller": "search"}
    %input{class: 'form-control w-75', placeholder: ti("search_placeholder"), name: 'q', "data-action": "search#submitWithTimeout", id: "cv_search_field"}
    %div.ms-5
      %input{type: "checkbox", name: 'search_skills', id: 'search_skills_checkbox', onchange: 'this.form.requestSubmit();'}
        = ti('search_skills')
  %div.profile-header.mw-100.border-bottom.mt-2.mb-2
    = ti "search.search_results"
  %turbo-frame{id: "search-results"}
    - if @cv_search_results.blank?
      = ti "search.no_results"
    - else
      - @cv_search_results.each do |result|
        %div.w-50.d-flex
          = link_to result[:person][:name], person_path(result[:person][:id]), {class: "bg-skills-green w-50 text-decoration-none text-white ps-1 p-2 rounded-1", "data-turbo-frame": "_top" }
          %div.w-50.d-flex.justify-content-end.align-items-center
            %div.me-1 
              = ti("search.found_in")
            - url_params = {q: params[:q], rating: found_in_skills?(result)? 1: nil}
            - person_id = result[:person][:id]
            - path = person_path(person_id, url_params)
            - path = person_people_skills_path(person_id, url_params) if found_in_skills?(result)
            = link_to result[:found_in][:attribute], path, {class: "bg-skills-search-result-blue w-50 text-decoration-none text-white ps-1 p-2 rounded-1 text-center", "data-turbo-frame": "_top" }
        %br