= form_with model: skill do |f|
  .mb-3
    = f.label :name, class: "form-label"
    = f.text_field :name, class: "form-control"
  .mb-3
    = f.label :description, class: "form-label"
    = f.text_area :description, class: "form-control"
  .mb-3
    = f.button class: "btn btn-primary"
    = link_to "Cancel", skills_path, class: "btn btn-outline-secondary"