%div.d-flex.flex-column.position-fixed.bg-white.w-80.z-3{"data-controller": "skillset-selected"}
  = form_with(url: skills_path, method: :get, data: { turbo_frame: 'skills' }) do |form|
    %div.d-flex.flex-row.mt-2
      = form.text_field :title, class: "form-control skills-search-field rounded-end-0 z-3", placeholder: "Charles Leclerc", oninput: "this.form.requestSubmit()", include_blank: true
      %div.border.d-flex.justify-content-center.align-items-center.rounded-end.bg-white
        %img.pointer.p-2{src: "/assets/search.svg"}
    %div.d-flex.flex-row.mt-3
      %div.w-25
        .btn-group{"aria-label" => "Basic outlined example", role: "group"}
          %label.btn.btn-outline-primary{"data-skillset-selected-target": "selectButton",
          "data-action": "click->skillset-selected#selectButton", "data-skillset-selected-id-param": 0}
            = form.radio_button :defaultSet, false, onClick: "this.form.requestSubmit()", class: "d-none"
            Alle
          %label.btn.btn-outline-primary{"data-skillset-selected-target": "selectButton",
          "data-action": "click->skillset-selected#selectButton", "data-skillset-selected-id-param": 1}
            = form.radio_button :defaultSet, "new", onClick: "this.form.requestSubmit()", class: "d-none"
            Neue
          %label.btn.btn-outline-primary{"data-skillset-selected-target": "selectButton",
          "data-action": "click->skillset-selected#selectButton", "data-skillset-selected-id-param": 2}
            = form.radio_button :defaultSet, true, onClick: "this.form.requestSubmit()", class: "d-none"
            Default
      %div.d-flex.flex-row.align-items-center.justify-content-center.w-25
        %span.text-gray.me-3
          Kategorie
        = form.collection_select :category, Category.all_parents.order(:title), :id, :title, {include_blank: "Select a category"}, class: "form-select mw-100", onchange: 'this.form.requestSubmit();'
      %div.w-25.d-flex.justify-content-center.align-items-center
        =link_to image_tag("download.svg")+ "Export", export_skills_path, class: "btn text-primary"
      %div.w-25.d-flex.justify-content-center.align-items-center
        =link_to image_tag("plus-lg.svg", class: "text-primary")+ "Neuer Skill",
        new_skill_path, class: "btn text-primary", data: { turbo_frame: "remote_modal" }


