%div.d-flex.justify-content-end.align-items-center
  %div
    =link_to image_tag("download.svg")+ "Export", export_skills_path, class: "btn text-primary"
  %div
    =link_to image_tag("plus-lg.svg", class: "text-primary")+ "Neuer Skill", new_skill_path, class: "btn text-primary", data: { turbo_frame: "remote_modal" }
.row.bg-light-subtle.border.border-top.border-5.border-secondary.border-top-0.border-start-0.border-end-0
  .col-2.d-flex.align-items-center
    %strong= t "skills.table.skill"
  .col-1.bg-secondary-subtle.d-flex.align-items-center
    %strong= t "skills.table.members"
  .col-3.d-flex.align-items-center
    %strong= t "skills.table.category"
  .col-2.bg-secondary-subtle.d-flex.align-items-center
    %strong= t "skills.table.subcategory"
  .col-1.d-flex.align-items-center
    %strong= t "skills.table.default_set"
  .col-1.bg-secondary-subtle.d-flex.align-items-center
    %strong= t "skills.table.radar"
  .col-1.d-flex.align-items-center
    %strong= t "skills.table.portfolio"
  .col-1.bg-secondary-subtle.d-flex.align-items-center
    %strong= t "skills.table.modify"
- @skills.each do |skill|
  %turbo-frame{id: "#{dom_id skill}"}
    .row.border.border-top.table-light.tableform-hover.table-row
      .col-2.d-flex.align-items-center
        = link_to skill.title, skill_path(skill), data: { turbo_frame: "remote_modal" }
      .col-1.bg-light.d-flex.align-items-center
        = filter_by_rated(skill).count
      .col-3.d-flex.align-items-center
        =skill.category.parent.title
      .col-2.bg-light.d-flex.align-items-center
        =skill.category.title
      .col-1.d-flex.align-items-center
        =skill.default_set.nil? ? "Neu" : (skill.default_set? ? "Ja" : "Nein")
      .col-1.bg-light.d-flex.align-items-center
        =skill.radar
      .col-1.d-flex.align-items-center
        =skill.portfolio
      .col-1.bg-light
        %div.h-100.d-flex.justify-content-center.align-items-center
          =link_to edit_skill_path(skill), class: "btn bg-gray-100" do
            %img.pointer.edit-button{:src=> "/assets/pencil-square.svg",:height=>"16"}