%table.table.mx-3
  %thead
    %tr
      %th{scope: "col"} #
      %th{scope: "col"}= t "skills.table.skill"
      %th{scope: "col"}= t "skills.table.members"
      %th{scope: "col"}= t "skills.table.category"
      %th{scope: "col"}= t "skills.table.subcategory"
      %th{scope: "col"}= t "skills.table.default_set"
      %th{scope: "col"}= t "skills.table.radar"
      %th{scope: "col"}= t "skills.table.modify"
  %tbody
    - @entries.each_with_index do |skill, i|
      %tr
        %th{scope: "row"}= i+1
        %td= skill.title
        %td= skill.people.count
        %td= skill.category.title
        %td= skill.category.parent.title
        %td= skill.default_set.nil? ? "Neu" : (skill.default_set? ? "Ja" : "Nein")
        %td= skill.radar
