%div.bg-white.w-100.d-flex
  = render("header")
%div.w-100.margin-header.mt-4
  .row.bg-light-subtle.border.border-top.border-5.border-secondary.border-top-0.border-start-0.border-end-0
    .col-2.d-flex.align-items-center
      %strong= sort_link "title"
    .col-1.bg-secondary-subtle.d-flex.align-items-center
      %strong= sort_link "members"
    .col-3.d-flex.align-items-center
      %strong= sort_link "category"
    .col-2.bg-secondary-subtle.d-flex.align-items-center
      %strong= sort_link "subcategory"
    .col-1.d-flex.align-items-center
      %strong= sort_link "default_set"
    .col-1.bg-secondary-subtle.d-flex.align-items-center
      %strong= sort_link "radar"
    .col-1.d-flex.align-items-center
      %strong= sort_link "portfolio"
    .col-1.bg-secondary-subtle.d-flex.align-items-center
      %strong= ti "table.modify"
  %div
    %turbo-frame{id: "skills"}
      - sort_skills.each do |skill|
        %turbo-frame{id: "#{dom_id skill}"}
          .row.border.border-top.table-light.tableform-hover.table-row.py-2
            .col-2.d-flex.align-items-center.text-break
              = link_to skill.title, skill_path(skill), data: { turbo_frame: "remote_modal" }
            .col-1.bg-light.d-flex.align-items-center
              = @member_counts[skill.id].to_i
            .col-3.d-flex.align-items-center
              =skill.category.parent.title
            .col-2.bg-light.d-flex.align-items-center
              =skill.category.title
            .col-1.d-flex.align-items-center
              =skill.default_set.nil? ? "Neu" : (skill.default_set? ? "Ja" : "Nein")
            .col-1.bg-light.d-flex.align-items-center
              =skill.radar
            .col-1.d-flex.align-items-center
              =skill.portfolio
            .col-1.bg-light
              %div.h-100.d-flex.justify-content-center.align-items-center
                =admin_action_link("", "pencil", edit_skill_path(skill))