%div.d-flex.justify-content-end
  =link_to image_tag("plus-lg.svg", class: "text-primary")+ "Neuer Skill", new_skill_path, class: "btn text-primary", data: { turbo_frame: "remote_modal" }

%table.table.table-hover
  %thead.table-light
    %tr
      %th{scope: "col"}= t "skills.table.skill"
      %th.table-secondary{scope: "col"}= t "skills.table.members"
      %th{scope: "col"}= t "skills.table.category"
      %th.table-secondary{scope: "col"}= t "skills.table.subcategory"
      %th{scope: "col"}= t "skills.table.default_set"
      %th.table-secondary{scope: "col"}= t "skills.table.radar"
      %th{scope: "col"}= t "skills.table.modify"
  %tbody
    - @skills.each_with_index do |skill, index|
      %tr{:contenteditable => "false", :id => "table-row-#{index}", "data-controller" => "table", "data-table-target" => "row"}
        %td= skill.title
        %td.table-light= skill.people.count
        %td= skill.category.title
        %td.table-light= skill.category.parent&.title
        %td= skill.default_set.nil? ? "Neu" : (skill.default_set? ? "Ja" : "Nein")
        %td.table-light= skill.radar
        %td{:contenteditable => "false"}
          %turbo-frame{id: "#{dom_id skill}"}
            = link_to "Edit", edit_skill_path(skill), class: "btn bg-gray-100"
          %img.pointer.edit-button{:src=> "/assets/pencil-square.svg",:height=>"16", "data-action" => "click->table#editRow", "data-table-target" => "editButton"}
          %img.pointer.save-button{:src=> "/assets/floppy2-fill.svg",:height=>"16", "data-action" => "click->table#saveData", "data-table-target" => "saveButton", "style" => "display: none;", "data-table-skill-param" => "#{skill.to_json}"}
          %img.pointer.cancel-button.d-none{:src=> "/assets/x.svg",:height=>"16", "data-action" => "click->table#cancelRow", "data-table-target" => "cancelButton", "style" => "display: none;"}