%table.table.mx-3
  %thead
    %tr
      %th{scope: "col"} #
      %th{scope: "col"} Skill
      %th{scope: "col"} Mitglieder
      %th{scope: "col"} Kategorie
      %th{scope: "col"} Subkategorie
      %th{scope: "col"} Default-Set
      %th{scope: "col"} Radar
      %th{scope: "col"} Ändern
  %tbody
    - @entries.each_with_index do |skill, i|
      %tr
        %th{scope: "row"}= i+1
        %td= skill.title
        %td= skill.people.count
        %td= skill.category.title
        %td= skill.category.parent.title
        %td= skill.default_set.nil? ? "Neu" : (skill.default_set? ? "Ja" : "Nein")
        %td= skill.radar
