%div.d-flex.justify-content-end
  =link_to image_tag("plus-lg.svg", class: "text-primary")+ "Neuer Skill", new_skill_path, class: "btn text-primary", data: { turbo_frame: "remote_modal" }

%table.table.table-hover
  %thead.table-light
    %tr
      %th{scope: "col"}= t "skills.table.skill"
      %th.table-secondary{scope: "col"}= t "skills.table.members"
      %th{scope: "col"}= t "skills.table.category"
      %th.table-secondary{scope: "col"}= t "skills.table.subcategory"
      %th{scope: "col"}= t "skills.table.default_set"
      %th.table-secondary{scope: "col"}= t "skills.table.radar"
      %th{scope: "col"}= t "skills.table.modify"
  %tbody
    - @skills.each_with_index do |skill|
      %tr
        %td= skill.title
        %td.table-light= skill.people.count
        %td= skill.category.title
        %td.table-light= skill.category.parent&.title
        %td= skill.default_set.nil? ? "Neu" : (skill.default_set? ? "Ja" : "Nein")
        %td.table-light= skill.radar
        %td
          %div= link_to "New product", edit_skill_path(skill), class: "btn btn-primary", data: { turbo_frame: "remote_modal" }
