%div.d-flex.justify-content-end
  =link_to image_tag("plus-lg.svg", class: "text-primary")+ "Neuer Skill", new_skill_path, class: "btn text-primary", data: { turbo_frame: "remote_modal" }

.row.bg-light-subtle.border.border-top.border-5.border-secondary.border-top-0.border-start-0.border-end-0
  .col-2.d-flex.align-items-center
    %strong= t "skills.table.skill"
  .col-1.bg-secondary-subtle.d-flex.align-items-center
    %strong= t "skills.table.members"
  .col-3.d-flex.align-items-center
    %strong= t "skills.table.category"
  .col-3.bg-secondary-subtle.d-flex.align-items-center
    %strong= t "skills.table.subcategory"
  .col-1.d-flex.align-items-center
    %strong= t "skills.table.default_set"
  .col-1.bg-secondary-subtle.d-flex.align-items-center
    %strong= t "skills.table.radar"
  .col-1.d-flex.align-items-center
    %strong= t "skills.table.modify"
- @skills.each_with_index do |skill|
  %turbo-frame{id: "#{dom_id skill}"}
    .row.border.border-top.table-light.tableform-hover.table-row
      .col-2.d-flex.align-items-center
        =skill.title
      .col-1.bg-light.d-flex.align-items-center
        =skill.people.count
      .col-3.d-flex.align-items-center
        =skill.category.parent.title
      .col-3.bg-light.d-flex.align-items-center
        =skill.category.title
      .col-1.d-flex.align-items-center
        =skill.default_set.nil? ? "Neu" : (skill.default_set? ? "Ja" : "Nein")
      .col-1.bg-light.d-flex.align-items-center
        =skill.radar
      .col-1
        =link_to "Edit", edit_skill_path(skill), class: "btn bg-gray-100"
        %img.pointer.edit-button{:src=> "/assets/pencil-square.svg",:height=>"16", "data-action" => "click->table#editRow", "data-table-target" => "editButton"}
        %img.pointer.save-button{:src=> "/assets/floppy2-fill.svg",:height=>"16", "data-action" => "click->table#saveData", "data-table-target" => "saveButton", "style" => "display: none;", "data-table-skill-param" => "#{skill.to_json}"}
        %img.pointer.cancel-button.d-none{:src=> "/assets/x.svg",:height=>"16", "data-action" => "click->table#cancelRow", "data-table-target" => "cancelButton", "style" => "display: none;"}