= turbo_stream.replace "skills" do
  = render("skills/skills_search_results")

= turbo_stream.update "header-filters" do
  = render("header_filters")

= turbo_stream.update "sort" do
  = hidden_field_tag :sort, params[:sort]
  = hidden_field_tag :sort_dir, params[:sort_dir]

= turbo_stream.replace "table-header" do
  = render("table_header")

= turbo_stream.replace "remote_modal" do
  = turbo_frame_tag "remote_modal"

= turbo_stream.update "flash-messages" do
  = render partial: 'layouts/flash', collection: [:notice, :alert], as: :level
