= render "remote_modal", title: "Skill: #{@skill.title} (#{@skill.people_skills.count} Members)" do
  %div.d-flex.flex-column
    - @skill.people_skills.each do |person_skill|
      %div.d-flex.flex-row.align-items-center.skill-row
        %div.col-2
          =link_to Person.find(person_skill.person_id).name, person_path(person_skill.person_id)
        %div.col-2.d-flex.justify-content-center
          %p.m-0= @skill.title
        %div.col-2
          %div.d-flex.flex-column
            %label.form-label= ExpertiseTopicSkillValue.skill_levels.key(person_skill.level - 1)
            %input.form-range.w-75{type: "range", min: 0, max: 5, value: person_skill.level}
        %div.col-2
          %div.d-flex.flex-column
            %label.form-label Interesse
            %input.form-range.w-75{type: "range", min: 0, max: 5, value: person_skill.interest}
        %div.col-2
          %div.d-flex.flex-row.form-check
            %input.form-check-input.me-2{type: "checkbox", checked: person_skill.certificate}
            %label.form-label Zertifikat
        %div.col-2
          %div.d-flex.flex-row.form-check
            %input.form-check-input.me-2{type: "checkbox", checked: person_skill.certificate}
            %label.form-label Kernkompetenz