%div.position-relative.mw-100.border-bottom.text-black.ps-5.border{id: "#{ff.object.new_record? ? 'default-' : ''}skill-div-#{ff.object.skill_id}"}
  %p.position-absolute.top-0.end-0.text-secondary.d-flex.align-items-center.bg-skills-gray.visually-hidden.p-1{id: "skill-auto-save-message-#{ff.object.skill_id}", data: {turbo: {permanent: true}}}
    = ti("auto_save_message")
    = image_tag("save", class: "px-2")
  %div.d-flex.flex-row.align-items-center.mt-3.mb-3.w-100{data: {controller: "people-skills"}}
    %div.col-2
      = ff.object.skill.title
      = ff.hidden_field :interest
      = ff.hidden_field :unrated, value: false, id: "unrated-field-#{ff.object.skill.id}"
      = ff.hidden_field :edit_form
    %div.col-2
      %div.d-flex.flex-column.align-items-center
        = ff.label :level, for: "level_#{ff.object.skill_id}"
        = ff.label(ti("people_skills.levels_by_id.#{ff.object.level}"), {"data-people-skills-target": "label"})
        - range_min = (ff.object.id.nil? || ff.object.level != 0) ? 1 : 0
        = ff.range_field :level, min: range_min, max: 5, class: "form-range w-75", id: "level_#{ff.object.skill_id}",
        "data-action": "change->people-skills#displayLevelLabel people-skills#rateSkill",
        "data-people-skills-target": "switch"
    %div.col-2
      %div.d-flex.flex-column.align-items-center
        = render partial: "edit_interest_stars", locals: { ff: ff }
    %div.col-2
      %div.d-flex.flex-row.form-check
        = ff.check_box :certificate, { class: "form-check-input me-2", id: "certificate_#{ff.object.skill_id}", "data-action": "change->people-skills#rateSkill" }
        = ff.label :certificate, for: "certificate_#{ff.object.skill_id}"
    %div.col-2
      %div.d-flex.flex-row.form-check
        = ff.check_box :core_competence, { class: "form-check-input me-2", id: "core_competence_#{ff.object.skill_id}", "data-action": "change->people-skills#rateSkill" }
        = ff.label :core_competence, for: "core_competence_#{ff.object.skill_id}"
        = ff.hidden_field :skill_id
    %div.col-2
      - unless ff.object.unrated
        = ff.submit ti("unrate"), { class: "btn btn-link", "data-action": "people-skills#unrateSkill"}
