- child_categories.each do |child_category, people_skills|
  %div.white-header.mw-100.border-bottom.text-gray{id: "category-#{child_category.id}"}
    %div{id: "category-title-#{child_category.id}"}= "#{child_category.title} (#{people_skills.length})"
    - people_skills.each do |people_skill|
      %div{id: "#{people_skill.id.nil? ? "default-" : ""}skill-#{people_skill.skill.id}"}
        = form_with model: people_skill, url: polymorphic_path([@person, people_skill], rating: params["rating"]) do |form|
          = render "people/people_skills/edit_form", ff: form, show_category: true
