= turbo_stream.update "person-skill-overview" do
  = render "people/people_skills/overview"

= turbo_stream.replace "scroll-sidebar" do
  = render('people/scroll_to_menu', items: parent_categories_with_rated_skills) do
    = add_action_link_modal
