%turbo-frame{id: "people-skill-form"}
  %div.w-100
    = form_with(model: @person, url: people_skills_person_path(@person)) do |form|
      %div.d-flex.flex-row.w-100
        %div.w-25.bg-skills-gray.d-flex.flex-column.align-items-center.people-skills-actions.pt-3.pb-3.me-2.mt-2.border.border-light-subtle.border-2
          %div.d-flex.flex-row
            = image_tag("pencil-square.svg", {class: "me-1"})
            %span.fw-medium Bearbeiten
          = link_to "Abbrechen", people_skills_person_path(@person), class: "d-flex align-items-center text-decoration-none mt-2 mb-2"
          = form.submit :Speichern, { class: "btn btn-primary bg-skills-blue w-75", id: "save-button" }
        %div.mw-75.border-bottom.people-skills.overflow-scroll
          %p.d-flex.align-items-center.profile-header
            Skills
            ="(#{@person.people_skills.count})"
            - Category.all_parents.each do |category|
              %div.profile-header.mw-100.border-bottom.mt-4
                = category.title
              - category.children.each do |category_child|
                %div.white-header.mw-100.border-bottom.text-gray
                  =category_child.title + " (#{people_skills_of_category(category_child).count})"
                  = form.fields_for :people_skills, form.object.people_skills.where(skill: category_child.skills) do |ff|
                    %div.mw-100.border-bottom.text-black.ps-5.border
                      %div.d-flex.flex-row.align-items-center.mt-3.mb-3
                        %div.col-2
                          = ff.object.skill.title
                        %div.col-2
                          %div.d-flex.flex-column{data: {controller: "skills-level"}}
                            %label.form-label.text-gray{"data-skills-level-target": "label"}= t ExpertiseTopicSkillValue.skill_levels.key(ff.object.level - 1)
                            = ff.range_field :level, min: 1, max: 5, class: "form-range w-75",
                              "data-action": "change->skills-level#toggleLevel", "data-skills-level-target": "switch"
                        %div.col-2
                          %div.d-flex.flex-column
                            %label.form-label.text-gray= t "people-skills.interest"
                            .rate
                              = ff.radio_button :interest, 5, checked: ff.object.interest == 5, id: "star5#{ff.object.id}"
                              %label{for: "star5#{ff.object.id}", title: "text", id: "star-label5#{ff.object.id}", class: "star5"} 5 stars
                              = ff.radio_button :interest, 4, checked: ff.object.interest == 4, id: "star4#{ff.object.id}"
                              %label{for: "star4#{ff.object.id}", title: "text", id: "star-label4#{ff.object.id}", class: "star4"} 4 stars
                              = ff.radio_button :interest, 3, checked: ff.object.interest == 3, id: "star3#{ff.object.id}"
                              %label{for: "star3#{ff.object.id}", title: "text", id: "star-label3#{ff.object.id}", class: "star3"} 3 stars
                              = ff.radio_button :interest, 2, checked: ff.object.interest == 2, id: "star2#{ff.object.id}"
                              %label{for: "star2#{ff.object.id}", title: "text", id: "star-label2#{ff.object.id}", class: "star2"} 2 stars
                              = ff.radio_button :interest, 1, checked: ff.object.interest == 1, id: "star1#{ff.object.id}"
                              %label{for: "star1#{ff.object.id}", title: "text", id: "star-label1#{ff.object.id}", class: "star1"} 1 star
                        %div.col-2
                          %div.d-flex.flex-row.form-check
                            = ff.check_box :certificate, class: "form-check-input me-2"
                            %label.form-label.text-gray= t "people-skills.certificate"
                        %div.col-2
                          %div.d-flex.flex-row.form-check
                            = ff.check_box :core_competence, class: "form-check-input me-2"
                            %label.form-label.text-gray= t "people-skills.core-competence"
