%div.d-flex.flex-row.w-100.mt-2
  %turbo-frame#people-skill-form.d-flex.flex-row.w-100.gap-2{"data-controller": "scroll"}
    %div.w-20.d-flex.flex-column
      %div.me-3.min-height.bg-skills-gray.me-3.border.border-light-subtle.border-2
        = render('people/scroll_to_menu', items: Category.all_parents.pluck(:title), translate: false)
      %div.people-skills-actions
        = link_to image_tag("pencil-square.svg", {class: "me-1"})+ t("helpers.submit.edit", model: Skill.model_name.plural.capitalize()),
        people_skills_edit_person_path(@person), class: "d-flex align-items-center p-3"
      %div.people-skills-actions
        = link_to image_tag("plus-lg.svg", {class: "me-1"}) +  t("helpers.submit.add", model: Skill), new_person_people_skill_path(@person), 
        class: "d-flex align-items-center p-3", data: { turbo_frame: "remote_modal"}
    %div.w-80.side-container#scroll-content{"data-action": "scroll->scroll#scrollEvent"}
      %p.d-flex.align-items-center.profile-header
        Skills
        ="(#{@person.people_skills.count})"
        - Category.all_parents.each do |category|
          %div.profile-header.mw-100.border-bottom.mt-4{id: category.title, "data-scroll-target": "scrollItem"}
            = category.title
          - ([category] + category.children.to_a).each do |category_child|
            %div.white-header.mw-100.border-bottom.text-gray
              =category_child.title + " (#{people_skills_of_category(@person, category_child).count})"
              - people_skills_of_category(@person, category_child).each do |person_skill|
                - @person_skill = person_skill
                %div.mw-100.border-bottom.text-black.ps-5.border
                  %div.d-flex.flex-row.align-items-center.mt-3.mb-3
                    = render("people_skills/person_skill", {person_skill: @person_skill})