%div.d-flex.flex-row.w-100.mt-2
  %turbo-frame#people-skill-form.d-flex.flex-row.w-100.gap-2{"data-controller": "scroll"}
    %div.w-20.d-flex.flex-column.me-3.gap-2
      %div.people-skills-actions.d-flex.flex-column
        = render('people/scroll_to_menu', items: Category.all_parents.pluck(:title), translate: false)
      %div.people-skills-actions
        = link_to image_tag("pencil-square.svg", {class: "me-1"})+ t("helpers.submit.edit", model: Skill.model_name.plural.capitalize()),
        people_skills_edit_person_path(@person), class: "d-flex align-items-center p-3"
      %div.people-skills-actions
        = link_to image_tag("plus-lg.svg", {class: "me-1"}) +  t("helpers.submit.add", model: Skill), new_person_people_skill_path(@person), 
        class: "d-flex align-items-center p-3", data: { turbo_frame: "remote_modal"}
    %div.w-80.side-container#scroll-content{"data-action": "scroll->scroll#scrollEvent"}
      %p.d-flex.align-items-center.profile-header
        Skills
        ="(#{@person.people_skills.count})"
      %div.ms-3
        = form_with(url: person_people_skills_path(@person), method: :get, data: {controller: "filter", turbo_frame: "people-skills"}) do |f|
          %span.btn-group
            -rating = request.query_parameters[:rating] || "0"
            = f.radio_button :rating, 1, class: "btn-check", checked: rating == "1",
              onClick: "this.form.requestSubmit()", data: {action: "change->filter#submit"}
            = f.label :rating, 'All', value: 1, class: "btn btn-outline-primary"

            = f.radio_button :rating, 0, class: "btn-check", checked: rating == "0",
              onClick: "this.form.requestSubmit()", data: {action: "change->filter#submit"}
            = f.label :rating, 'Rated', value: 0, class: "btn btn-outline-primary"

            = f.radio_button :rating, -1, class: "btn-check", checked: rating == "-1",
              onClick: "this.form.requestSubmit()", data: {action: "change->filter#submit"}
            = f.label :rating, 'Unrated', value: -1, class: "btn btn-outline-primary"
        = turbo_frame_tag 'people-skills' do
          - Category.all_parents.each do |category|
            %div.profile-header.mw-100.border-bottom.mt-4{id: category.title, "data-scroll-target": "scrollItem"}
              = category.title
            - ([category] + category.children.to_a).each do |category_child|
              %div.white-header.mw-100.border-bottom.text-gray
                - @people_skills_of_category = people_skills_of_category(category_child)
                =category_child.title + " (#{@people_skills_of_category.count})"
                - @people_skills_of_category.each do |person_skill|
                  %div.mw-100.border-bottom.text-black.ps-5.border
                    %div.d-flex.flex-row.align-items-center.mt-3.mb-3
                      = render("people_skills/person_skill", {person_skill: person_skill})