%turbo-frame#people-skill-form.d-flex.gap-3.col-12
  = render('people/scroll_to_menu', items: Category.all_parents.pluck(:title), translate: false) do
    = link_to image_tag("plus-lg.svg") + t("helpers.submit.add", model: Skill), new_person_people_skill_path(@person), 
    data: { turbo_frame: "remote_modal"}
  %div.w-100{data: { "scroll-target": "parent"}}
    - if not_rated_default_skills(@person).count > 0 && !params.key?("no_default_skill_prompt")
      %div.border.border-1.mb-2.p-3.border-black#default-skills
        %div#default-skill-errors
        %div.d-flex.align-items-center.profile-header.justify-content-between.mb-2
          %div
            Neue Skills zur Bewertung
            = "(#{not_rated_default_skills(@person).count})"
          = link_to person_people_skills_path(@person, no_default_skill_prompt: "") do
            =image_tag("x.svg", alt: "Default-skill-form cancel button", width: 25, height: 25, id: "x-button")
        - not_rated_default_skills(@person).each do |skill|
          = form_with model: @person, url: people_skills_person_path(@person) do |form|
            = form.fields_for :people_skills, skill do |ff|
              = render "people/people_skills/edit_form", ff: ff
        %div.align-items-center.mt-3
          = link_to "Abbrechen", person_people_skills_path(@person, no_default_skill_prompt: "")
    %div#person-skill-overview
      = render "people/people_skills/overview"
