= turbo_stream.remove "default-skill-#{@person.people_skills.last.skill_id}"

= turbo_stream.update "person-skill-overview" do
  = render "people/people_skills/overview"

- if @not_rated_default_skills.count < 1
  = turbo_stream.remove "default-skills"