<main id="main" class="container-fluid">
  <div id="inner-main" class="container-fluid">
    <div class="row-fluid">
      {{#if session.isAuthenticated}}
        {{! Navbar with logo }}
        <nav class="navbar p-0 navbar-expand-sm">
          <ul class="navbar-nav">
            {{#link-to "people"}}
              <a class="navbar-brand p-0" href="#">
                <img src="/logo.png" alt="" height="40" width="40">
                  PuzzleSkills
                <small class="versionText" color="black">{{app-version versionOnly=true}}</small>
              </a>
            {{/link-to}}
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item border-black border-bottom-0 border-top-0">
              <a href="https://twiki.puzzle.ch/bin/view/Puzzle/PuzzleSkills" target="_blank" class="nav-link pull-right" rel="noopener" role="button">
                <i class="fa fa-life-ring" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item border-black border-bottom-0 border-top-0 border-left-0">
              <a id="logout-button" role="button" class="nav-link pull-right" {{action 'invalidateSession'}}>
                Logout
              </a>
            </li>
          </ul>
        </nav>
        <nav class="navbar custom-nav-bar p-0 navbar-expand-sm mb-3 bg-primary">
          <ul class="navbar-nav mr-auto nav-pills">
            <li class="nav-item hovering-nav-bar">
              {{#link-to "people" class="nav-link text-white rounded-0"}}
                Person
              {{/link-to}}
            </li>
            <li class="nav-item hovering-nav-bar">
              {{#link-to "companies" class="nav-link text-white rounded-0"}}
                Firmenprofile
              {{/link-to}}
            </li>
            <li class="nav-item hovering-nav-bar">
              <a class="nav-link text-white rounded-0" href="#">Technologien</a>
            </li>
          </ul>
        </nav>
      {{/if}}
      {{outlet}}
    </div>
  </div>
</main>
{{ember-notify messageStyle='bootstrap'}}
{{footer-bar}}
