<div class="ember-view">
  <main id="main" class="container-fluid">
    <div id="inner-main" class="container-fluid">
      <div class="row-fluid">
        {{! Navbar with logo }}
        <div class="header top">
          <nav class="navbar p-0 navbar-expand">
            <ul class="navbar-nav">
              <LinkTo @route="people">
                <a class="navbar-brand p-0" href="#">
                  <img src="/logo.svg" alt="" width="180">
                  <small class="versionText align-bottom" color="black">{{app-version versionOnly=true}}</small>
                </a>
              </LinkTo>
            </ul>
            <ul class="navbar-nav ml-auto">
              {{#if this.session.authenticated}}
                <li class="nav-item border-black border-bottom-0 border-top-0 border-right-0">
                  <a id="logout-button" role="button" class="nav-link pull-right" {{action "transitionToProfile"}}>
                    <i class="fa fa-user-circle" aria-hidden="true"></i> {{this.username}}
                  </a>
                </li>
              {{/if}}
              <li class="nav-item border-black border-bottom-0 border-top-0">
                <a href={{this.helplink}} target="_blank" class="nav-link pull-right" rel="noopener" role="button">
                  <i class="fa fa-life-ring" aria-hidden="true"></i>
                </a>
              </li>
              <li class="nav-item border-black border-bottom-0 border-top-0 border-left-0">
                <a id="logout-button" role="button" class="nav-link pull-right" {{action "logoutUser"}}>
                  Logout
                </a>
              </li>
            </ul>
          </nav>
          <nav class="navbar custom-nav-bar p-0 navbar-expand bg-primary">
            <ul class="navbar-nav mr-auto nav-pills">
              <li class="nav-item hovering-nav-bar">
                <LinkTo @route="people" class="nav-link text-white rounded-0">
                  Profil
                </LinkTo>
              </li>
              <li class="nav-item hovering-nav-bar">
                <LinkTo @route="skill_search" class="nav-link text-white rounded-0">
                  Skill Suche
                </LinkTo>
              </li>
              <li class="nav-item hovering-nav-bar">
                <LinkTo @route="cv_search" class="nav-link text-white rounded-0">
                  CV Suche
                </LinkTo>
              </li>
              {{#if this.isAdmin}}
                <li class="nav-item hovering-nav-bar">
                  <LinkTo @route="skills" class="nav-link text-white rounded-0">
                    Skillset
                  </LinkTo>
                </li>
              {{/if}}
            </ul>
          </nav>
        </div>
        <div class="outlet">
          {{outlet}}
        </div>
      </div>
    </div>
  </main>
  {{ember-notify messageStyle="bootstrap"}}
  <FooterBar />
</div>
