<div id="cv-searchbar-header" class="header">
  <CvSearchbar />
  <div class="card-header bg-info mt-3">
    <p class="text-dark header-text mb-0">{{t "cv-search.searchResults"}}</p>
  </div>
</div>
<div class="card mt-12 mb-5">
  <div id="cv-search-results" class="border border-info rounded-bottom">
    {{#if this.model}}
      {{#each this.model as |data|}}
        <div>
          <LinkTo @route="person" @model={{data.person.id}} class="cv-search-pills m-2">
            {{data.person.name}}
          </LinkTo>
          <div class="cv-search-found-in">
            {{t "cv-search.foundIn"}}
            <LinkTo {{on "click" (fn this.navigateToProfile)}} @route="person" @model={{data.person.id}} class="cv-search-found-in-link" @query={{hash query=this.q}}>
              {{t (found-in data.found_in) }}
            </LinkTo>
          </div>
        </div>
      {{/each}}
    {{else}}
      <p class="m-2">{{t "cv-search.noResults"}}</p>
    {{/if}}
  </div>
</div>
