<div class="form-login">
  <img src="/assets/images/logo.png" alt="">
  <form class="form-inline {{if loading 'form-loading'}}" {{action 'authenticate' on='submit'}}>
    <div class="form-group login-form-user">
      {{input type="text" value=identification class="form-control" placeholder="Username" disabled=loading autofocus=true required='required'}}
    </div>
    <div class="form-group login-form-password">
      {{input type="password" value=password class="form-control" placeholder="Password" disabled=loading required='required'}}
    </div>
    <button type="submit" class="btn btn-primary" disabled={{loading}}>
      {{#if loading}}Logging in...{{else}}Login{{/if}}
    </button>
    {{#if errorMessage}}
      <p class="error-message">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
