<div id="right-grid" class="span9 sub-page">
  <a onclick={{action (toggle 'personEditing' this)}} class="pull-right">
    {{if personEditing 'Editieren...' 'Abbrechen'}}
  </a>
  {{component (if personEditing 'person-show' 'person-edit') person=model}}
  {{competences-show competences=model.competences}}
  {{educations-show educations=model.educations}}
  {{advanced-trainings-show  advancedTrainings=model.advancedTrainings}}
  {{activities-show activities=model.activities}}
  {{projects-show projects=model.projects}}
</div>
