<div {{did-insert this.initFilters}} id="skill-search-header" class="pt-3">
  {{#each this.filters as |filter index|}}
    {{#if (gt index 0)}}
      <p>{{t "skill-search.and"}}</p>
    {{/if}}
    <div class="row">
      <div class="col-6 skills-power-select">
        <PowerSelect @selected={{filter.selectedSkill}} @options={{this.skills}} @onChange={{action "setSkill" index}} @initiallyOpened={{false}} @renderInPlace={{true}} @searchField="title" @triggerClass="w-75 power-select-{{index}}" as |skill|>
          {{skill.title}}
        </PowerSelect>
      </div>

      <div class="col">
        <div class="col justify-content-center people-skill-level">
          <p class="description skillset-level-title">{{levelName filter.levelValue}}</p>
          <UiSlider class="skillsearch-selection-slider" @value={{filter.levelValue}} @ticks="1,2,3,4,5" @tooltip="hide" @min={{1}} @max={{5}} @immediateResponse={{true}} />
        </div>
      </div>
       <div class="col">
          <div class="col justify-content-center people-skill-interest">
            <p class="description skillsearch-interest-title">{{t "skill-search.interest"}}</p>
            <IconRating @fillColor="#238BCA" @value={{filter.interestValue}} @onClick={{action (mut filter.interestValue)}}/>
          </div>
      </div>
      <div class="col pt-3">
        <div >
          <a class="edit-buttons" role="button" data-toggle="tooltip" data-placement="top" title="Filter zurücksetzen" onclick={{action "resetFilter" index}} >
            <i class="fa fa-redo"></i>
          </a>
          {{#if (gt this.filters.length 1)}}
            <a class="edit-buttons" role="button" data-toggle="tooltip" data-placement="top" title="Filter zurücksetzen" onclick={{action "removeFilter" index}} >
              <i class="fa fa-window-close"></i>
            </a>
          {{/if}}
        </div>
      </div>
    </div>
  {{/each}}

  {{#if (lt this.filters.length 5)}}
    <a class="edit-buttons" role="button" data-toggle="tooltip" data-placement="top" title="Skill hinzufügen" id="addSkillsButton" onclick={{action "addFilter"}} >
      <small>{{t "skill-search.addFilter"}}</small>
    </a>
  {{/if}}
  <div class="card mt-4">
    <div class="card-header bg-info">
      <p class="text-dark header-text mb-0">{{t "skill-search.searchResults"}}</p>
    </div>
  </div>
</div>
<div id="skill-search-results-card" class="card mb-5">
  <div id="skill-search-results" class="px-2 border border-info rounded-bottom">
    {{#if this.model}}
      {{#each this.model as |peopleSkill|}}
        <div class="p-2">
          <PeopleSkillShow @peopleSkill={{peopleSkill}} @showPersonName={{true}} @skillList={{true}} />
        </div>
      {{/each}}
    {{else}}
      <p class="m-2">{{t "skill-search.noResults"}}</p>
    {{/if}}
  </div>
</div>