<div id="skill-search-header" class="header pt-3">
  <div class="row">
    <div class="col-6">
      <PowerSelect @selected={{this.selectedSkill}} @options={{this.skills}} @onChange={{action "setSkill"}} @searchEnabled={{true}} @searchField="title" @triggerClass="w-75" as |skill|>
        {{skill.title}}
      </PowerSelect>
    </div>

    <div class="col">
      <div class="col justify-content-center people-skill-level">
        <p class="description skillset-level-title">{{this.levelName}}</p>
        <UiSlider id="skillsearch-selection-slider" @value={{this.levelValue}} @ticks="1,2,3,4,5" @tooltip="hide" @min={{1}} @max={{5}} @immediateResponse={{true}} />
      </div>
    </div>

    <div class="col">
      <div class="col justify-content-center people-skill-interest">
        <p class="description skillsearch-interest-title">{{t "skill-search.interest"}}</p>
        <IconRating @fillColor="#238BCA" @value={{this.interestValue}} @onClick={{action (mut this.interestValue)}}/>
      </div>
    </div>

    <div class="col pt-3">
      <div >
        <a class="edit-buttons" role="button" data-toggle="tooltip" data-placement="top" title="{{t "skill-search.resetFilter"}}" {{on "click" this.resetFilter}} >
          <i class="fa fa-redo"></i>
        </a>
      </div>
    </div>
  </div>



  <div class="card mt-4">
    <div class="card-header bg-info">
      <p class="text-dark header-text mb-0">{{t "skill-search.searchResults"}}</p>
    </div>
  </div>

</div>
<div class="card mt-13 mb-5">
  <div id="skill-search-results" class="px-2 border border-info rounded-bottom">
    {{#if this.model}}
      {{#each this.model as |peopleSkill|}}
        <div class="p-2">
          <PeopleSkillShow @peopleSkill={{peopleSkill}} @showPersonName={{true}} />
        </div>
      {{/each}}
    {{else}}
      <p class="m-2">{{t "skill-search.noResults"}}</p>
    {{/if}}
  </div>
</div>
