= turbo_frame_tag "department_merge_history" do
  = ti('department_merge_history.merge_history')

  - if @merge_histories.any?
    = plain_table(@merge_histories) do |t|
      - t.attrs(:created_at)
      - t.attr :target_department_id do |row|
        = row.target_department.name
      - t.attr :old_department_ids do |row|
        = old_department_names(row)
  - else
    = ti('department_merge_history.no_departments_merged')