= form_with model: ([entry.person, entry]) do |f|
  = render('people/person_relations/form', form: f) do
    - content_for :input do
      = f.label :title
      = f.text_field :title, placeholder: "Title", class: "form-control w-100"
      = f.label :description
      = f.text_area :description, placeholder: "Description", class: "form-control w-100"

      - if entry.technology.present?
        = f.label :technology
        %div.bg-warning-subtle.p-2.rounded.mb-2
          = ti("migration_hint")
        = f.text_area :technology, placeholder: "Description", class: "form-control w-100"
      %div{ data: { controller: "dropdown", dropdown_multiple_value: true, dropdown_placeholder_text_value: ta(:please_select) } }
        = f.label :skill_ids, Skill.model_name.human.pluralize
        = f.select :skill_ids,
              options_from_collection_for_select(Skill.all, 'id', 'title', entry.skill_ids),
              {},
              multiple: true, size: 10, data: { dropdown_target: "dropdown", dropdown_multiple_value: true }
      = f.label :role
      = f.text_area :role, placeholder: "Description", class: "form-control w-100"
      .flex-row.mt-1
        = f.label :display_in_cv, class: "form-check-label text-gray me-1"
        = f.checkbox :display_in_cv, class: "form-check-input"