%turbo-frame{id: "search-filters"}
  %div{"data-controller": "people-skills-filter"}
    = form_with(url: skill_search_index_path, method: :get, class: "filter-form", data: {"people-skills-filter-target": "form"}) do |form|
      %div.filter-container.me-1#filter-row-0
        = render("skill_search/search_form", form: form, row_number: 0, filter_params: filter_params)
      - filter_params.rows.times do |i|
        %div.d-flex.flex-row.align-items-center{"data-people-skills-filter-target": "filter", id: "filter-row-#{i+ 1}"}
          %div.filter-container.me-1
            = render("skill_search/search_form", form: form, row_number: i + 1)
          = close_action_link "#", {data: {action: "click->people-skills-filter#remove", "people-skills-filter-id-param": i}, id: "remove-row-#{i+1}"}
    - if filter_params.rows < 4
      - path = filter_form_skill_search_index_path(rows: filter_params.rows + 1) + "&#{filter_params.query_params}"
      = add_action_link path, {}, {data: {"turbo-frame": "search-filters"},  id: "add-row-button"}