%div.border-top
  %turbo-frame{id: dom_id(contribution)}
    = link_to edit_person_contribution_path(contribution.person, contribution), data:{turbo_prefetch: :false, turbo_frame: dom_id(contribution)}, class: "text-decoration-none text-dark bg-hover-gray d-block" do
      %div.d-flex.row.pt-3.pb-5
        %span.col-3.ps-5
          = date_range_label contribution
        %span.col.d-flex.flex-column
          %span.fw-bolder
            = contribution.title
          = contribution.reference
        - unless contribution.display_in_cv
          %span.col-1.d-flex.justify-content-end.pe-5
            %div{ 'data-bs-toggle': 'tooltip', 'data-bs-title': ti("is_not_displayed_in_cv"), 'data-controller': 'tooltip'}
              = image_tag('no-file.svg')
