<tr id="template_activity_record" class="template">
  <td id="show_year" class="show-year-cell">
    {{activity.year_from}}
    {{#if (eq activity.year_to null)}}
      - heute
    {{else if (not-eq activity.year_from activity.year_to)}}
      - {{activity.year_to}}
    {{/if}}
  </td>
  <td class="show-description-cell">
    <div>
      <div class="activity-role">
        {{activity.role}}<br>
      </div>
      <div class="activity-description preserve-whitespace">
        {{~activity.description~}}
      </div>
    </div>
  </td>
  <td>
    <button onclick={{action selectActivity activity}}
        id="button-edit-activities"
        class="btn btn-link">
      Editieren
    </button>
  </td>
</tr>
