<div id="activity">
  <div class="card-header bg-info" data-toggle="collapse" data-parent="#accordion" href="#collapseActivity">
    <div class="row">
      <div class="col-sm-6">
        <a class="card-link text-dark header-text" >Stationen ({{amountOfActivities}})</a>
      </div>
      <div class="col-sm-6 text-right d-block">
        <a class="card-link text-dark" data-toggle="collapse" data-parent="#accordion" href="#collapseActivity"><i class="fa angle"></i></a>
      </div>
    </div>
  </div>
  <div id="collapseActivity" class="collapse show border border-info rounded-bottom">
    <div class="card-body d-flex flex-column">
      <div class="mb-2">
        <a onclick={{action 'toggleActivityNew' true}} role="button" class="{{~unless activityNew 'edit-buttons'~}}"><i class="fa {{~unless activityNew ' add'~}}"></i>{{~unless activityNew ' Station hinzufügen'~}}</a>
      </div>
      <div id="competence-content-show" class="mb-2">
        {{component (if activityNew 'activity-new')
            personId=person.id
            done=(action 'toggleActivityNew')}}
        {{#each sortedActivities as |activity|}}
          <div class="zeile">
            <div class="row">
              <div class="col-sm-3 centered-content text-center">
                {{if (not-eq (moment-format activity.start_at 'DD') "13") (moment-format activity.start_at 'MM.YYYY') (moment-format activity.start_at 'YYYY')}}
                {{#if (eq activity.finish_at null)}}
                  - heute
                {{else if (not-eq activity.finish_at activity.start_at)}}
                  - {{if (not-eq (moment-format activity.finish_at 'DD') "13") (moment-format activity.finish_at 'MM.YYYY') (moment-format activity.finish_at 'YYYY')}}
                {{/if}}
              </div>
              <div class="col-sm-9">
                <strong>{{activity.role}}</strong>
                <br>{{activity.lineBreakDescription}}
              </div>
            </div>
          </div>
        {{/each}}
      </div>
      {{#if sortedActivities}}
        {{#unless activityNew}}
          <div class="mt-auto">
            <a onclick={{activitiesEditing}} role="button" class="edit-buttons"><i class="fa fa-pencil"></i> Bearbeiten</a>
          </div>
        {{/unless}}
      {{/if}}
    </div>
  </div>
</div>
