<form onsubmit={{action 'submit' newActivity}} id="form_education">
  <div id="education-content-edit" class="row-fluid" style="display: block;">
    <div class="span10">
      <div class="row-fluid">
        <div class="span2">
          {{input placeholder="von" value=newActivity.year_from type="number" class="input-mini"}}
        </div>
        <div class="span10">
          {{input placeholder="Funktion oder Rolle" value=newActivity.role class="input-xxlarge"}}
        </div>
      </div>
      <div class="row-fluid">
        <div class="span2">
          {{input placeholder="bis" value=newActivity.year_to type="number" class="input-mini"}}
        </div>
        <div class="span10">
          {{textarea placeholder="Firmenangaben und Beschreibung der Tätigkeit"
                  value=newActivity.description class="input-xxlarge"}}
        </div>
      </div>
    </div>
    <div class="span2">
      <button class="btn btn-primary btn-block btn-mini" >
        Speichern </button>
    </div>
  </div>
</form>
