<div class="row">
  <div class="col-sm-3 text-center">
    {{if @activity.monthFrom (concat (moment-format @activity.monthFrom "MM" "MM") ".")}}{{@activity.yearFrom}}
    {{#if (eq @activity.yearTo null)}}
    - heute
    {{else if (or (not-eq @activity.yearFrom @activity.yearTo) (not-eq @activity.monthFrom @activity.monthTo))}}
    - {{if @activity.monthTo (concat (moment-format @activity.monthTo "MM" "MM") ".")}}{{@activity.yearTo}}
    {{/if}}
  </div>
  <div class="col-sm-9 cv-search-searchable">
    <strong class="activity-entity">{{@activity.role}}</strong>
    <br>{{@activity.description}}
  </div>
</div>
