<section id="activity" class="section">
  {{model-header title="Aktivitäten"}}
    <div class="row-fluid">
      <div class="span12">
        <table id="activity-content-show-table"
          class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Zeit</th>
              <th>Aktivität</th>
              <th class="action-header">Aktion</th>
            </tr>
          </thead>
          <tbody id="activity-content-show">
            {{#each activities as |activity|}}
              <tr id="template_activity_record" class="template">
                <td id="show_year" class="show-year-cell">{{activity.year_from}}-{{activity.year_to}}</td>
                <td class="show-description-cell">
                  <div>
                    <div id="show_role" class="activity-role">
                      {{activity.role}}<br>
                    </div>
                    <div id="show_description" class="activity-description">
                      {{activity.description}}
                    </div>
                  </div>
                </td>
                <td><a id="button-edit-activity" class="button">Edit</a></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
</section>
