<div id="activity">
  <div class="card-header bg-info">
    <div class="row">
      <div class="col-sm-6">
        <a class="card-link text-dark header-text">Stationen</a>
      </div>
    </div>
  </div>
  <div id="collapseActivity" class="collapse show border border-info rounded-bottom">
    <div class="card-body d-flex flex-column">
      <div id="competence-content-show" class="mb-2">
        {{#each person.activities as |activity|}}
          <div class="zeile">
            <div class="row">
              <div class="col-sm-3">
                <div class="input-group centered-content-input">
                  {{daterange-edit entity=activity}}
                </div>
              </div>
              <div class="col-sm-7">
                <div class="input-group centered-content-input">
                  {{input value=activity.role class="form-control" placeholder="Rolle"}}
                  {{textarea value=activity.description class="input-xxlarge form-control" placeholder="Firmenangaben und Beschreibung der Tätigkeit"}}
                </div>
              </div>
              {{delete-with-confirmation
                entry=activity
              }}
            </div>
          </div>
        {{/each}}
      </div>
      <div class="mt-auto">
        <button onclick={{action 'submit' person}} role="button" class="btn btn-primary"><i class="fa save"></i> Speichern</button>
        <button onclick={{action 'abortEdit'}} role="button" class="btn btn-secondary"><i class="fa abort"></i> Abbrechen</button>
      </div>
    </div>
  </div>
</div>
{{yield}}
