<tr id="template_activity_record" class="template">
{{#if activityEditing}}
  {{activity-edit activity=activity editing=activityEditing
                           submit=(action (toggle 'activityEditing' this))}}
{{else}}
  <td id="show_year" class="show-year-cell">{{activity.year_from}}-{{activity.year_to}}</td>
  <td class="show-description-cell">
    <div>
      <div id="show_role" class="activity-role">
        {{activity.role}}<br>
      </div>
      <div id="show_description" class="activity-description">
        {{activity.description}}
      </div>
    </div>
  </td>
  <td>
    <a onclick={{action (toggle 'activityEditing' this)}} id="button-edit-activity" class="button">Edit</a>
  </td>
{{/if}}
</tr>
