<form onsubmit={{action 'submit' newActivity}} id="form_newActivity">
  <div id="newEducation-content-edit" class="zeile">
    <div class="row">
      <div class="col-sm-3">
        <div class="input-group centered-content-input">
          {{daterange-edit entity=newActivity}}
        </div>
      </div>
      <div class="col-sm-7 row">
        <div class="col-sm-4 content-input">
          {{input value=newActivity.role class="centered-content-input form-control" placeholder="Rolle"}}
        </div>
        <div class="col-sm-8 centered-content-input">
          {{textarea placeholder="Firmenangaben und Beschreibung der Tätigkeit"
                     value=newActivity.description class="input-xxlarge form-control"}}
        </div>
      </div>
      <div class="col-sm-2 centered-content text-right">
        <a href="#" onclick={{action 'submit' newActivity}} role="button" id="submit-button" class="text-dark"><i class="fa save"></i></a>
      </div>
    </div>
  </div>
</form>
