{{#form-for (changeset activity validations) submit=(action 'submit') as |f|}}
    {{f.number-field 'year_from'}}
    {{f.number-field 'year_to'}}
    {{f.text-field 'role'}}
    {{f.text-field 'description'}}
    {{f.submit "Speichern"}}
    {{f.reset "Reset"}}
    <a onclick={{action (toggle 'editing' this)}}>
      Abbrechen
    </a>
    {{activity-delete activity=activity activityEditing=editing}}
{{/form-for}}
