<div id="activitiesHeader" class="card-header bg-info">
    <div class="row">
      <div class="col-sm-6 header-text">
        {{t "activities-show.activities"}} ({{this.amountOfActivities}})
      </div>
    </div>
  </div>
  <div class="border border-info rounded-bottom">
    <div class="card-body d-flex flex-column">
      <div class="mb-2">
            <a {{on "click" this.toggleActivityNew}} role="button" class={{~unless this.isNewRecord "edit-buttons"~}}><i class="fa {{~unless this.isNewRecord " add"~}}"></i> {{~unless this.isNewRecord " Station hinzufügen"~}}</a>
          </div>
      <div id="competence-content-show" class="mb-2">
        {{#if this.isNewRecord}}
           <ActivityForm @person={{@person}} @done={{toggleActivityNew}}/>
        {{/if}}
        {{#each this.sortedActivities as |activity|}}
          {{#if (eq this.editingActivity activity)}}
                    <ActivityForm @person={{@person}} @activity={{activity}} @done={{this.abortActivityEdit}}/>
                  {{else}}
                    <div class="zeile {{unless this.editingActivity "people-skill-link"}}" {{on "click" (fn this.setEditingActivity activity)}} role="button">
                      <ActivityShow @activity={{activity}}/>
                    </div>
                  {{/if}}
        {{/each}}
      </div>
    </div>
</div>
