<div id="activitiesHeader" class="card-header bg-info">
    <div class="row">
      <div class="col-sm-6 header-text" id="amount-of-activities">
        {{t "activities-show.activities"}} ({{this.amountOfActivities}})
      </div>
    </div>
  </div>
  <div class="border border-info rounded-bottom">
    <div class="card-body d-flex flex-column">
      {{#unless this.isNewRecord}}
        <div class="mb-2">
          <a id="add-activity-button" {{on "click" this.toggleActivityNew}} role="button" class="edit-buttons"><i class="fa add"></i>{{t "activities-show.add"}}</a>
        </div>
      {{/unless}}
      <div id="competence-content-show" class="mb-2">
        {{#if this.isNewRecord}}
           <ActivityForm @person={{@person}} @done={{toggleActivityNew}}/>
        {{/if}}
        {{#each this.sortedActivities as |activity|}}
          {{#if (eq this.editingActivity activity)}}
                    <ActivityForm @person={{@person}} @activity={{activity}} @done={{this.abortActivityEdit}}/>
                  {{else}}
                    <div class="zeile activity-row {{unless this.editingActivity "people-skill-link"}}" {{on "click" (fn this.setEditingActivity activity)}} role="button">
                      <ActivityShow @activity={{activity}}/>
                    </div>
                  {{/if}}
        {{/each}}
      </div>
    </div>
</div>
