<div id="advancedTrainingsHeader" class="advancedTraining">
  <div class="card-header bg-info">
    <div class="row">
      <div class="col-sm-6 header-text">
        {{t "advanced-trainings-show.advancedTraining"}} ({{this.amountOfAdvancedTrainings}})
      </div>
    </div>
  </div>
  <div class="border border-info rounded-bottom">
    <div class="card-body d-flex flex-column">
      <div class="mb-2">
        <a onclick={{action "toggleAdvancedTrainingNew" true}} role="button" class={{~unless this.isNewRecord "edit-buttons"~}}><i class="fa {{~unless this.isNewRecord " add"~}}"></i> {{~unless this.isNewRecord " Weiterbildung hinzufügen"~}}</a>
      </div>
      <div id="advancedtraining-content-show" class="mb-2">
        {{#if this.isNewRecord}}
                <AdvancedTrainingForm @person={{@person}} @done={{toggleAdvancedTrainingNew}}/>
              {{/if}}
        {{#each this.sortedAdvancedTrainings as |advanced-training|}}
        {{#if (eq this.editingAdvancedTraining advanced-training)}}
          <AdvancedTrainingForm @person={{@person}} @advancedTraining={{advanced-training}} @done={{this.abortAdvancedTrainingEdit}}/>
        {{else}}
          <div class="zeile {{unless this.editingAdvancedTraining "people-skill-link"}}" {{on "click" (fn this.setEditingAdvancedTraining advanced-training)}} role="button">
            <AdvancedTrainingShow @advancedTraining={{advanced-training}}/>
          </div>
        {{/if}}
        {{/each}}
      </div>
      {{#if this.sortedAdvancedTrainings}}
        {{#unless this.advanced-trainingNew}}
          <div class="mt-auto">
            <a onclick={{this.advancedTrainingsEditing}} role="button" class="edit-buttons"><i class="fa fa-edit"></i> {{t "advanced-trainings-show.edit"}}</a>
          </div>
        {{/unless}}
      {{/if}}
    </div>
  </div>
</div>
