{{#with (changeset advanced-training validations) as |changeset|}}
  <form onsubmit={{action 'submit' changeset}} id="form_advancedTraining">
    <div id="advancedTraining-content-edit" class="row-fluid" style="display: block;">
      <div class="span10">
        <div class="row-fluid">
          <div class="span2">
          {{input value=changeset.year_from type="number" class="input-mini"}}
          </div>
          <div class="span10">
            {{input value=changeset.description class="input-xxlarge"}}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span2">
          {{input value=changeset.year_to type="number" class="input-mini"}}
          </div>
        </div>
      </div>
      <div class="span2">
        <button class="btn btn-primary btn-block btn-mini" >
          Speichern </button>
        <button class="btn btn-inverse btn-block btn-mini" type="button" onclick={{action done}}>
          Abbrechen </button>
        {{#confirm-dialog
          text="Sind Sie sicher, dass Sie diesen Eintrag löschen möchten?"
          confirmButton="Löschen"
          cancelButton="Abbrechen"
          confirmAction=(action 'confirmDestroy' advanced-training)
          confirmButtonClass="btn btn-danger"
          cancelButtonClass="btn pull-right"
          okCssIcon="fa fa-check-circle-o"
          cancelCssIcon="fa fa-ban"
        }}
        <button class="btn btn-danger btn-block btn-mini" type="button">
          Delete </button>
        {{/confirm-dialog}}
     
      </div>
    </div>
  </form>
{{/with}}
