<div class="advancedTraining">
  <div class="card-header bg-info">
    <div class="row">
      <div class="col-sm-6">
        <a class="card-link text-dark header-text">Weiterbildung</a>
      </div>
    </div>
  </div>
  <div id="collapseAdvancedTraining" class="collapse show border border-info rounded-bottom">
    <div class="card-body d-flex flex-column">
      <div id="advancedtraining-content-show" class="mb-2">
        {{#each sortedAdvancedTrainings as |advanced-training|}}
          <div class="zeile">
            <div class="row">
              <div class="col-sm-3">
                <div class="input-group centered-content-input">
                  {{daterange-edit entity=advanced-training}}
                </div>
              </div>
              <div class="col-sm-7 content-input">
                <div class="input-group centered-content-input">
                  {{textarea value=advanced-training.description class="input-xxlarge form-control" placeholder="Beschreibung"}}
                </div>
              </div>
              {{delete-with-confirmation
                entry=advanced-training
              }}
            </div>
          </div>
        {{/each}}
      </div>
      <div class="mt-auto">
        <button onclick={{action 'submit' person}} role="button" class="btn btn-primary"><i class="fa save"></i> Speichern</button>
        <button onclick={{action 'abortEdit'}} role="button" class="btn btn-secondary"><i class="fa abort"></i> Abbrechen</button>
      </div>
    </div>
  </div>
</div>
