<div class="advancedTraining">
  <div class="card-header bg-primary">
    <div class="row">
      <div class="col-sm-6">
        <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseAdvancedTraining">Weiterbildung ({{amountOfAdvancedTrainings}})</a>
      </div>
      <div class="col-sm-6 text-right d-block">
        <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseAdvancedTraining"><i class="fa angle"></i></a>
      </div>
    </div>
  </div>
  <div id="collapseAdvancedTraining" class="collapse show border border-primary rounded-bottom">
    <div class="card-body d-flex flex-column">
      <div class="mb-2">
        <a onclick={{action (toggle 'advanced-trainingNew' this)}} role="button" class="{{~if advanced-trainingNew 'abort-edit-buttons' 'edit-buttons'~}}"><i class="fa {{~if advanced-trainingNew ' abort abort-edit-buttons' ' add'~}}"></i> {{~if advanced-trainingNew ' hinzufügen abbrechen' ' Weiterbildung hinzufügen'~}}</a>
      </div>
      <div id="advancedtraining-content-show" class="mb-2">
        {{component (if advanced-trainingNew 'advanced-training-new')
            personId=person.id
            done=(action (toggle 'advanced-trainingNew' this))}}
        {{#each filteredAdvancedTrainings as |advanced-training|}}
          <div class="zeile">
            <div class="row">
              <div class="col-sm-3 centered-content text-center">
                {{advanced-training.year_from}}
                {{#if (eq advanced-training.year_to null)}}
                  - heute
                {{else if (not-eq advanced-training.year_from advanced-training.year_to)}}
                  - {{advanced-training.year_to}}
                {{/if}}
              </div>
              <div class="col-sm-9 centered-content">
                {{advanced-training.description}}
              </div>
            </div>
          </div>
        {{/each}}
      </div>
      <div class="mt-auto">
        <a onclick={{advancedTrainingsEditing}} role="button" class="edit-buttons"><i class="fa fa-pencil"></i> Bearbeiten</a>
      </div>
    </div>
  </div>
</div>
