<div class="row">
  <div class="col-sm-3 centered-content text-center">
    {{advanced-training.year_from}}
    {{#if (eq advanced-training.year_to null)}}
      - heute
    {{else if (not-eq advanced-training.year_from advanced-training.year_to)}}
      - {{advanced-training.year_to}}
    {{/if}}
  </div>
  <div class="col-sm-8 centered-content">
    {{advanced-training.description}}
  </div>
  <div class="col-sm-1 text-right centered-content">
    <a onclick={{action selectAdvancedTraining advanced-training}} class="card-link text-dark"><i class="fa edit"></i></a>
  </div>
</div>