<section id="advancedTraining" class="section">
  <a onclick={{action (toggle 'advanced-trainingNew' this)}} id="button-new-advanced-trainings" class="button pull-right">{{if advanced-trainingNew 'Abbrechen' 'Neu'}}</a>
  {{model-header title="Weiterbildung"}}
  {{#if advanced-trainingEditing}}
      {{advanced-training-edit advanced-training=advanced-trainingEditing done=(action (toggle 'advanced-trainingEditing' this))
    }}
  {{else}}
    {{#if advanced-trainingNew}}
      {{advanced-training-new personId=personId done=(action (toggle 'advanced-trainingNew' this))}}
    {{else}}
      <div id="advancedtraining-content-show" class="row-fluid">
        <div class="span12">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Zeit</th>
                <th>Beschreibung</th>
                <th class="action-header">Aktion</th>
              </tr>
            </thead>
            <tbody id="advanced-training-content-show">
              {{#each advanced-trainings as |advanced-training|}}
                {{advanced-training-show selectAdvancedTraining = (action (mut advanced-trainingEditing)) advanced-training=advanced-training}}
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    {{/if}}
  {{/if}}
</section>
