<div id="advancedTrainingsHeader" class="advancedTraining">
  <div class="card-header bg-info">
    <div class="row">
      <div class="col-sm-6 header-text" id="amount-of-advanced-trainings">
        {{t "advanced-trainings-show.advancedTraining"}} ({{this.amountOfAdvancedTrainings}})
      </div>
    </div>
  </div>
  <div class="border border-info rounded-bottom">
    <div class="card-body d-flex flex-column">
      {{#unless this.isNewRecord}}
        <div class="mb-2">
          <a id="add-advanced-trainings-button" onclick={{action "toggleAdvancedTrainingNew" true}} role="button" class="edit-buttons"><i class="fa add"></i>{{t "advanced-trainings-show.add"}}</a>
        </div>
      {{/unless}}
      <div id="advancedtraining-content-show" class="mb-2">
        {{#if this.isNewRecord}}
                <AdvancedTrainingForm @person={{@person}} @done={{toggleAdvancedTrainingNew}}/>
              {{/if}}
        {{#each this.sortedAdvancedTrainings as |advanced-training|}}
        {{#if (eq this.editingAdvancedTraining advanced-training)}}
          <AdvancedTrainingForm @person={{@person}} @advancedTraining={{advanced-training}} @done={{this.abortAdvancedTrainingEdit}}/>
        {{else}}
          <div class="zeile advanced-training-row {{unless this.editingAdvancedTraining "people-skill-link"}}" {{on "click" (fn this.setEditingAdvancedTraining advanced-training)}} role="button">
            <AdvancedTrainingShow @advancedTraining={{advanced-training}}/>
          </div>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
