<form onsubmit={{action 'submit' newAdvancedTraining}} id="form_advancedTraining">
  <div id="advancedTraining-content-edit" class="zeile new">
    <div class="row">
      <div class="col-sm-3">
        <div class="input-group centered-content-input">
          {{daterange-edit entity=newAdvancedTraining}}
        </div>
      </div>
      <div class="col-sm-7 content-input">
        <label for="{{concat elementId '-new-desc'}}">Beschreibung</label>
        {{textarea id=(concat elementId '-new-desc') value=newAdvancedTraining.description class="input-xxlarge form-control"}}
      </div>
      <div class="col-md-2 centered-content d-flex flex-column mt-4 px-4">
        <button onclick={{action 'submit' newAdvancedTraining false}} role="button" id="submit-button" class="btn btn-primary m-2">Speichern</button>
        <button onclick={{action 'submit' newAdvancedTraining true}} role="button" class="btn btn-info border m-2">Speichern & Neu</button>
        <a href="#" onclick={{action 'abortNew'}} role="button" id="submit-button" class="abort-edit-buttons text-center mx-4">Abbrechen</a>
      </div>
    </div>
  </div>
</form>
