<section id="competence" class="section">
  <a onclick={{action (toggle 'competenceNew' this)}} id="button-new-competences" class="button pull-right">{{if competenceNew 'Abbrechen' 'Neu'}}</a>
  {{model-header title="Kompetenzen"}}
  {{#if competenceNew}}
    {{competence-new personId=personId submit=(action (toggle 'competenceNew' this))}}
  {{else}}
    <div id="competence-content-show" class="row-fluid">
    <div class="span12">
      {{#each competences as |competence|}}
        {{competence-show competence=competence}}
    {{/each}}
    </div>
  </div>
{{/if}}
</section>
