<div id="accordion">
  <div class="card mb-3">
    <div class="card-header bg-primary">
      <div class="row">
        <div class="col-sm-6">
          <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Übersicht</a>
        </div>
        <div class="col-sm-6 text-right d-block">
          <a class="card-link text-white"><i class="fa edit"></i></a>
          <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa angle"></i></a>
        </div>
      </div>
    </div>
    <div id="collapseOne" class="collapse multi-collapse show border border-primary rounded-bottom">
      <div class="card-body">
        {{#with (changeset person validations) as |changeset|}}
          {{#form-for changeset submit=(action 'submit') as |f|}}
                <div class="row">
                  {{f.submit "Speichern"}}
                  {{f.reset "Reset"}}
                  <a onclick={{personEditing}} class="pull-right">
                    {{if personEditing  'Abbrechen' 'Editieren...'}}
                  </a>
                  <div class="col-sm-2">
                    <img class="img-fluid" alt="FIRMENLOGO" src="img/puzzle_logo.png">
                  </div>
                  <div class="col-sm-10 row">
                    <div class="col-sm-4">
                      <table class="table-uebersicht">
                        <tr>
                          <td>{{f.text-field 'name' label="Name"}}</td>
                        </tr>
                        <tr>
                          <td>Standorte TODO</td>
                        </tr>
                        <tr>
                          <td>{{f.text-field 'web' label="Web"}}</td>
                        </tr>
                        <tr>
                          <td>{{f.text-field 'email' label="Email"}}</td>
                        </tr>
                        <tr>
                          <td>{{f.text-field 'phone' label="Telefon"}}</td>
                        </tr>
                      </table>
                    </div>
                    <div class="col-sm-4">
                      <table class="table-uebersicht">
                        <tr>
                          <td>{{f.text-field 'partnermanager' label="Partnermanager"}}</td>
                        </tr>
                        <tr>
                          <td>{{f.text-field 'contactPerson' label="Ansprechperson"}}</td>
                        </tr>
                        <tr>
                          <td>{{f.text-field 'emailContactPerson' label="Email"}}</td>
                        </tr>
                        <tr>
                          <td>{{f.text-field 'phoneContactPerson' label="Telefon"}}</td>
                        </tr>
                        <tr>
                          <td>{{f.text-field 'crm' label="CRM"}}</td>
                        </tr>
                      </table>
                    </div>
                    <div class="col-sm-4">
                      <table class="table-uebersicht">
                        <tr>
                          <td>{{f.text-field 'level' label="Level"}}</td>
                        </tr>
                        <td>
                          Mitarbeiter anzahl TODO
                        </td>
                      </table>
                    </div>
                  </div>
                </div>
            {{/form-for}}
          {{/with}}
        </div>
    </div>
  </div>
</div>