<section id="profil" class="section">
  <div id="accordion">
    <div class="card mb-3">
      <div class="card-header bg-primary">
        <div class="row">
          <div class="col-sm-6">
            <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Firma Erfassen</a>
          </div>
          <div class="col-sm-6 text-right d-block">
            <a {{action "submit" this.newCompany}} role="button" id="submit-button" class="card-link text-white"><i class="fa save"></i></a>
          </div>
        </div>
      </div>
      <div id="collapseOne" class="collapse show border border-primary rounded-bottom">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              <table class="table-uebersicht">
                <tbody>
                  <tr>
                    <td><label for="name">Name</label><Input @id="name" @value={{this.newCompany.name}} @type="text"/></td>
                  </tr>
                  <tr>
                    <td>
                      <button data-test-add-location class="btn btn-success form-field--control" type="button" {{action "addLocations" this.newCompany}}>Neue Adresse</button>
                    </td>
                  </tr>
                  {{#each this.newCompany.locations as |location|}}
                    <tr>
                      <td class="nextToDelete" data-test-location>
                        <label for="location">Standort</label><Input @id="location" @value={{location.location}} @type="text"/>
                        <DeleteWithConfirmation @entry={{location}} />
                      </td>
                    </tr>
                  {{/each}}
                  <tr>
                    <td><label for="web">Web</label><Input @id="web" @value={{this.newCompany.web}} @type="text"/></td>
                  </tr>
                  <tr>
                    <td><label for="email">Email</label><Input @id="email" @value={{this.newCompany.email}} @type="text"/></td>
                  </tr>
                  <tr>
                    <td><label for="phone">Telefon</label><Input @id="phone" @value={{this.newCompany.phone}} @type="text"/></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-4">
              <table class="table-uebersicht">
                <tbody>
                  <tr>
                    <td><label for="partnermanager">Name</label><Input @id="partnermanager" @value={{this.newCompany.partnermanager}} @type="text"/></td>
                  </tr>
                  <tr>
                    <td><label for="contactPerson">Ansprechperson</label><Input @id="contactPerson" @value={{this.newCompany.contactPerson}} @type="text"/></td>
                  </tr>
                  <tr>
                    <td><label for="emailContactPerson">Email</label><Input @id="emailContactPerson" @value={{this.newCompany.emailContactPerson}} @type="text"/></td>
                  </tr>
                  <tr>
                    <td><label for="phoneContactPerson">Telefon</label><Input @id="phoneContactPerson" @value={{this.newCompany.phoneContactPerson}} @type="text"/></td>
                  </tr>
                  <tr>
                    <td>{{f.text-field "crm" label="CRM"}}</td>
                    <td><label for="crm">CRM</label><Input @id="crm" @value={{this.newCompany.crm}} @type="text"/></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-4">
              <table class="table-uebersicht">
                <tbody>
                  <tr>
                    <td><label for="level">Level</label><Input @id="level" @value={{this.newCompany.level}} @type="text"/></td>
                  </tr>
                  <tr>
                    <td>
                      <button data-test-add-employee-quantity class="btn btn-success form-field--control" type="button" {{action "addEmployeeQuantity" this.newCompany}}>Neue Mitarbeiter-Anzahl</button>
                    </td>
                  </tr>
                  {{#each this.newCompany.employeeQuantities as |quantity|}}
                    <tr>
                      <td class="nextToDelete" data-test-employee-quantity-category>
                        <label for="category">Kategorie</label><Input @id="category" @value={{quantity.category}} @type="text"/>
                        <DeleteWithConfirmation @entry={{quantity}} />
                      </td>
                    </tr>
                    <tr>
                      <td data-test-employee-quantity-quantity>
                        <label for="quantity">Anzahl</label><Input @id="quantity" @value={{quantity.quantity}} @type="text"/>
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
