<section id="competence" class="section">
  <a onclick={{action (toggle 'competenceEdit' this)}} id="button-new-competences" class="button pull-right">
    {{if competenceEdit 'Abbrechen' 'Editieren'}}
  </a>
  {{#if competenceEdit}}
    {{competences-edit person=person done=(action (toggle 'competenceEdit' this))}}
  {{else}}
    {{model-header title="Kompetenzen"}}
    <div id="competence-content-show" class="row-fluid">
      <div class="span12">
        <ul>
        {{#each competenceList as |competence|}}
          <li>{{competence}}</li>
        {{/each}}
        </ul>
      </div>
    </div>
  {{/if}}
</section>
