<div class="card-header bg-primary">
  <div class="row">
    <div class="col-sm-6">
      <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Angebot</a>
    </div>
    <div class="col-sm-6 text-right d-block">
      <a {{action 'submit' company}} role="button" id="submit-button" class="card-link text-white"><i class="fa save"></i></a>
      <a onclick={{action 'abortEdit'}} role="button" data-test-company-edit-form-toggle class="card-link text-white"><i class="fa abort"></i></a>
      <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fa angle"></i></a>
    </div>
  </div>
</div>
<div id="collapseTwo" class="collapse show border border-primary rounded-bottom">
  <div class="card-body">
    {{#each company.offers as |offer|}}
      <div class="row mb-2">
        <div class="col-sm-3" >
          {{input value=offer.category type="text" class="form-control" placeholder="Neue Kategorie"}}
        </div>
        <div class="col-sm-8">
          {{#power-select-multiple-with-create
            options=options
            selected=offer.offer
            placeholder="Angebotene Technologien"
            onchange=(action (mut offer.offer))
            onfocus=(action "handleFocus")
            onblur=(action "handleBlur")
            oncreate=(action "createOffer" offer.offer)
            buildSuggestion=suggestion
          as |offer|}}
            {{offer}}
          {{/power-select-multiple-with-create}}
        </div>
        {{delete-with-confirmation
          message=(concat 'Angebot ' offer.category ' wirklich löschen?')
          entry=offer
        }}
      </div>
    {{/each}}
    <a role="button" class="card-link text-dark" {{action 'createNewOffer' company}}><i class="fa add"></i></a>
    <div class="row mb-1">
      <div class="col-sm-3">
        <span class="p-2">Weiteres (Bemerkungen)</span>
      </div>
      <div class="col-sm-8">
        {{input type="textarea" value=company.offerComment class="form-control"}}
      </div>
      <div class="col-sm-1">
      </div>
    </div>
  </div>
</div>
