<div id="profil-uebersicht">
  {{#with (changeset company validations) as |changeset|}}
    {{#form-for changeset submit=(action 'submit') as |f|}}
      <div class="card-header bg-primary">
        <div class="row">
          <div class="col-sm-6">
            <a class="card-link text-white" href="#">Übersicht</a>
          </div>
          <div class="col-sm-6 text-right d-block text-white">
            {{#unless company.myCompany}}
              <div id="delete-company-icon pull-right">
                {{delete-with-confirmation
                  entry=company
                  transitionTo='companies'
                  tagName='span'
                }}
              </div>
            {{/unless}}
          </div>
        </div>
      </div>
      <div id="collapseOne" class="collapse show border border-primary rounded-bottom">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              <table class="table-company">
                <tr>
                  <td>{{f.text-field 'name' label="Name" required=true}}</td>
                </tr>
                <tr>
                  <td>
                    <button class="btn btn-success form-field--control" type="button" {{action 'addLocations' company}}>Neue Adresse</button>
                  </td>
                </tr>
                {{#each company.locations as |location|}}
                  {{#fields-for location as |l|}}
                    <tr>
                      <td class="nextToDelete">
                        {{l.text-field 'location' label="Standort"}}
                        {{delete-with-confirmation
                          entry=location
                        }}
                      </td>
                    </tr>
                  {{/fields-for}}
                {{/each}}
                <tr>
                  <td>{{f.text-field 'web' label="Web"}}</td>
                </tr>
                <tr>
                  <td>{{f.text-field 'email' label="Email"}}</td>
                </tr>
                <tr>
                  <td>{{f.text-field 'phone' label="Telefon"}}</td>
                </tr>
              </table>
            </div>
            <div class="col-sm-4">
              <table class="table-company">
                <tr>
                  <td>{{f.text-field 'partnermanager' label="PM"}}</td>
                </tr>
                <tr>
                  <td>{{f.text-field 'contactPerson' label="Ansprechperson"}}</td>
                </tr>
                <tr>
                  <td>{{f.text-field 'emailContactPerson' label="Email"}}</td>
                </tr>
                <tr>
                  <td>{{f.text-field 'phoneContactPerson' label="Telefon"}}</td>
                </tr>
                <tr>
                  <td>{{f.text-field 'crm' label="CRM"}}</td>
                </tr>
              </table>
            </div>
            <div class="col-sm-4">
              <table class="table-company">
                <tr>
                  <td>{{f.text-field 'level' label="Level"}}</td>
                </tr>
                <tr>
                  <td>
                    <button class ="btn btn-success form-field--control" type="button" {{action 'addEmployeeQuantity' company}}>Neue Mitarbeiter-Anzahl</button>
                  </td>
                </tr>
                {{#each company.employeeQuantities as |quantity|}}
                  {{#fields-for quantity as |q|}}
                    <tr>
                      <td class="nextToDelete">
                        {{q.text-field 'category' label="Kategorie"}}
                        {{delete-with-confirmation
                          entry=quantity
                        }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        {{q.text-field 'quantity' label="Anzahl"}}
                      </td>
                    </tr>
                  {{/fields-for}}
                {{/each}}
              </table>
            </div>
          </div>
          <div class="mt-2">
            <button {{action 'submit' changeset}} id="submit-button" class="btn btn-primary">Speichern</button>
            <button {{action 'abortEdit'}} class="btn abort-button">Abbrechen</button>
          </div>
        </div>
      </div>
    {{/form-for}}
  {{/with}}
</div>
