<div>
  <button {{action 'deleteCompany' company}} class="btn btn-link">
    Delete
  </button>
</div>
<div id="accordion">
  <div class="card mb-3">
    <div class="card-header bg-primary">
      <div class="row">
        <div class="col-sm-6">
          <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Übersicht</a>
        </div>
        <div class="col-sm-6 text-right d-block">
          <a class="card-link text-white"><i class="fa edit"></i></a>
          <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa angle"></i></a>
        </div>
      </div>
    </div>
    <div id="collapseOne" class="collapse multi-collapse show border border-primary rounded-bottom">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-2">
            <img class="img-fluid" alt="FIRMENLOGO" src="img/puzzle_logo.png">
          </div>
          <div class="col-sm-10 row">
            <div class="col-sm-4">
              <table class="table-uebersicht">
                <tr>
                  <td>Name</td><td>{{company.name}}</td>
                </tr>
                <tr>
                  <td>Standorte</td><td>
                    {{#each company.locations as |location|}}
                      {{location.location}}<br>
                    {{/each}}
                  </td>
                </tr>
                <tr>
                  <td>Web</td><td><a href="https://{{company.web}}">{{company.web}}</a></td>
                </tr>
                <tr>
                  <td>eMail</td><td><a href="mailto:{{company.email}}">{{company.email}}</a></td>
                </tr>
                <tr>
                  <td>Telefon</td><td>{{company.phone}}</td>
                </tr>
              </table>
            </div>
            <div class="col-sm-4">
              <table class="table-uebersicht">
                <tr>
                  <td>Partnermanager</td><td>M{{company.partnermanager}}</td>
                </tr>
                <tr>
                  <td>Ansprechperson</td><td>{{company.contactPerson}}</td>
                </tr>
                <tr>
                  <td>eMail</td><td><a href="mailto:{{company.emailContactPerson}}">{{company.emailContactPerson}}</a></td>
                </tr>
                <tr>
                  <td>Telefon</td><td>{{company.phoneContactPerson}}</td>
                </tr>
                <tr>
                  <td>CRM</td><td><a href="https://{{company.crm}}">{{company.crm}}</a></td>
                </tr>
              </table>
            </div>
            <div class="col-sm-4">
              <table class="table-uebersicht">
                <tr>
                  <td>Level</td><td>{{company.level}}</td>
                </tr>
                {{#each company.employeeQuantities as |quantity|}}
                <tr>
                  <td>{{quantity.category}}</td><td>{{quantity.quantity}}</td>
                </tr>
                {{/each}}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="card mb-3">
      <div class="card-header bg-primary">
        <div class="row">
          <div class="col-sm-6">
            <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Angebot</a>
          </div>
          <div class="col-sm-6 text-right d-block">
            <a class="card-link text-white"><i class="fa edit"></i></a>
            <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fa angle"></i></a>
          </div>
        </div>
      </div>
      <div id="collapseTwo" class="collapse  multi-collapse border border-primary rounded-bottom">
        <div class="card-body">
          <div class="row mb-1">
            <div class="col-sm-3">
              <span class="p-2">Software Design & Methoden</span>
            </div>
            <div class="col-sm-9">
              <span class="badge badge-success p-2 mr-2 skill" href="#">Scrum</span>
              <span class="badge badge-success p-2 mr-2 skill" href="#">CI/CD</span>
              <span class="badge badge-success p-2 mr-2 skill" href="#">Hermes</span>
              <span class="badge badge-success p-2 mr-2 skill" href="#">BA</span>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-sm-3">
              <span class="p-2">Technologien</span>
            </div>
            <div class="col-sm-9">
              <span class="badge badge-success p-2 mr-2 skill" href="#">Java EE</span>
              <span class="badge badge-success p-2 mr-2 skill" href="#">Java SE</span>
              <span class="badge badge-success p-2 mr-2 skill" href="#">Angular</span>
              <span class="badge badge-success p-2 mr-2 skill" href="#">Docker</span>
              <span class="badge badge-success p-2 mr-2 skill" href="#">OpenShift</span>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-sm-3">
              <span class="p-2">Datenbanken</span>
            </div>
            <div class="col-sm-9">
              <span class="badge badge-success p-2 mr-2 skill" href="#">Mongo DB</span>
              <span class="badge badge-success p-2 mr-2 skill" href="#">PostgreSQL</span>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-sm-3">
              <span class="p-2">Weiteres (Bemerkungen)</span>
            </div>
            <div class="col-sm-9">
              <textarea class="form-control" rows="1">Lorem Ispum bla bla</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-primary">
        <div class="row">
          <div class="col-sm-6">
            <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Profile</a>
          </div>
          <div class="col-sm-6 text-right d-block">
            <a class="card-link text-white"><i class="fa edit"></i></a>
            <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><i class="fa angle"></i></a>
          </div>
        </div>
      </div>
      <div id="collapseThree" class="collapse  multi-collapse border border-primary rounded-bottom">
        <div class="card-body">
          <div class="row mb-1">
            <div class="col-sm-3">
              <span class="badge badge-info profil-knopf" href="#">Max Muster</span>
            </div>
            <div class="col-sm-3">
              <span class="badge border border-secondary profil-knopf" href="#">Senior Penguin Master</span>
            </div>
            <div class="col-sm-3">
              <span class="badge border border-secondary profil-knopf" href="#">Dipl. Vogel</span>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-sm-3">
              <span class="badge badge-info profil-knopf" href="#">Darth Vader</span>
            </div>
            <div class="col-sm-3">
              <span class="badge border border-secondary profil-knopf" href="#">Imperator</span>
            </div>
            <div class="col-sm-3">
              <span class="badge border border-secondary profil-knopf" href="#">Lebensmiteltechnologe FH</span>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-sm-3">
              <span class="badge badge-success profil-knopf" href="#">Neues Profil</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>