<div class="card-header bg-primary">
  <div class="row">
    <div class="col-sm-6">
      <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Übersicht</a>
    </div>
    <div class="col-sm-6 text-right d-block">
      <button onclick={{this.companyEditing}} data-test-company-edit-form-toggle class="card-link text-white"><i class="fa edit"></i></button>
      <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa angle"></i></a>
    </div>
  </div>
</div>
<div id="collapseOne" class="collapse show border border-primary rounded-bottom">
  <div class="card-body">
    <div class="row" id="profile-uebersicht-content-show">
      <div class="col-sm-4">
        <table class="table-company">
          <tbody>
            <tr>
              <td>Name</td><td data-test-company-name>{{this.company.name}}</td>
            </tr>
            <tr>
              <td>Standorte</td>
              <td data-test-locations>
                {{#each this.company.locations as |location|}}
                  {{location.location}}<br>
                {{/each}}
              </td>
            </tr>
            <tr>
              <td>Web</td><td data-test-company-web><a href="https://{{this.company.web}}">{{this.company.web}}</a></td>
            </tr>
            <tr>
              <td>eMail</td><td data-test-company-email><a href="mailto:{{this.company.email}}">{{this.company.email}}</a></td>
            </tr>
            <tr>
              <td>Telefon</td><td data-test-company-phone>{{this.company.phone}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-4">
        <table class="table-company">
          <tbody>
            <tr>
              <td>PM</td><td data-test-company-partnermanager>{{this.company.partnermanager}}</td>
            </tr>
            <tr>
              <td>Ansprechperson</td><td data-test-company-contactPerson>{{this.company.contactPerson}}</td>
            </tr>
            <tr>
              <td>eMail</td><td data-test-company-emailContactPerson><a href="mailto:{{this.company.emailContactPerson}}">{{this.company.emailContactPerson}}</a></td>
            </tr>
            <tr>
              <td>Telefon</td><td data-test-company-phoneContactPerson>{{this.company.phoneContactPerson}}</td>
            </tr>
            <tr>
              <td>CRM</td><td data-test-company-crm><a href="https://{{this.company.crm}}">{{this.company.crm}}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-4">
        <table class="table-company">
          <tbody>
            <tr>
              <td>Level</td><td data-test-company-level>{{this.company.level}}</td>
            </tr>
            {{#each this.company.employeeQuantities as |quantity|}}
              <tr>
                <td data-test-employee-quantity-category>{{quantity.category}}</td><td data-test-employee-quantity-quantity>{{quantity.quantity}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
