{{#if this.showModal}}
  <div id="confirmation-modal" class="modal fade show text-left" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          {{this.confirmText}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary border m-2" {{on "click" this.cancel}}>{{t "confirm-dialog.cancel"}}</button>
          <button type="button" class="btn btn-primary border m-2" {{on "click" this.confirm}}>{{t "confirm-dialog.confirm"}}</button>
        </div>
      </div>
    </div>
  </div>
  <div id="modal-backdrop" class="modal-backdrop-transparent modal-transition modal-backdrop-blue"></div>
{{/if}}
