<table class="table table-sm daterange-table">
  <thead>
    <tr>
      <td scope="col"></td>
      <td class="text-center" scope="col">Monat</td>
      <td class="text-center" scope="col">Jahr</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="align-middle" scope="row">
        Von:
      </th>
      <td>
        {{#power-select
        selected=monthFrom
        options=monthsFromSelect
        searchEnabled=false
        onfocus=(action "handleFocus")
        onblur=(action "handleBlur")
        onchange=(action "setMonthFrom")
        onkeydown=(action "setWithTab" 'setMonthFrom')
        as |month|
        }}
          {{month}}
        {{/power-select}}
      </td>
      <td>
        <input type="number" value={{if (not-eq yearFrom 0) yearFrom}} onchange={{action "setYearFrom" value="target.value"}} max="9999"
        class={{concat (if yearFromInvalid 'invalid') " year form-control" }} placeholder="von">
      </td>
    </tr>
    <tr>
      <th class="align-middle" scope="row">
        Bis:
      </th>
      <td>
        {{#power-select
        selected=monthTo
        options=monthsToSelect
        searchEnabled=false
        onfocus=(action "handleFocus")
        onblur=(action "handleBlur")
        onchange=(action "setMonthTo")
        onkeydown=(action "setWithTab" 'setMonthTo')
        as |month|
        }}
          {{month}}
        {{/power-select}}
      </td>
      <td>
        {{#if (not-eq monthTo "heute")}}
          <input type="number" value={{if (not-eq yearTo 0) yearTo}} onchange={{action "setYearTo" value="target.value"}} max="9999"
          class={{concat (if yearFromInvalid 'invalid') " year form-control" }} placeholder="bis">
        {{/if}}
      </td>
    </tr>
  </tbody>
</table>
