<table class="table table-sm daterange-table">
  <thead>
    <tr>
      <td scope="col"></td>
      <td class="text-center" scope="col">Monat</td>
      <td class="text-center" scope="col">Jahr</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="align-middle" scope="row">
        Von:
      </th>
      <td>
        <PowerSelect @selected={{this.selectedMonthFrom}} @options={{this.monthsFromSelect}} @searchEnabled={{false}} @onFocus={{action "handleFocus"}} @onBlur={{action "handleBlur"}} @onChange={{action "setMonth" "From"}} @onKeydown={{action "setWithTab" "setMonth"}} as |month|>
          {{month}}
        </PowerSelect>
      </td>
      <td>
        <input type="number" value={{this.entity.yearFrom}} onchange={{action "setYearFrom" value="target.value"}} max="9999" class={{concat (if this.yearFromInvalid "invalid") " year form-control" }} placeholder="von">
      </td>
    </tr>
    <tr>
      <th class="align-middle" scope="row">
        Bis:
      </th>
      <td>
        <PowerSelect @selected={{this.selectedMonthTo}} @options={{this.monthsToSelect}} @searchEnabled={{false}} @onFocus={{action "handleFocus"}} @onBlur={{action "handleBlur"}} @onChange={{action "setMonth" "To"}} @onKeydown={{action "setWithTab" "setMonth" "To"}} as |month|>
          {{month}}
        </PowerSelect>
      </td>
      <td>
        {{#if (not-eq this.selectedMonthTo "heute")}}
          <input type="number" value={{this.entity.yearTo}} max="9999" onchange={{action "setYearTo" value="target.value"}} class={{concat (if this.yearFromInvalid "invalid") " year form-control" }} placeholder="bis">
        {{/if}}
      </td>
    </tr>
  </tbody>
</table>
