<a {{on "click" this.openConfirmation}} id="deleteButton" class="card-link delete-buttons deleteField" role="button">
  <i class="fa fa-trash"></i> {{yield}}
</a>

{{#if this.showConfirmation}}
  <div id="delete-confirmation-modal" class="modal fade show text-left" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{t "delete-confirmation.confirmDelete"}}</h5>
        </div>
        <div class="modal-body">
          {{t "delete-confirmation.message" name=this.entry.instanceToString}}
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel-button" class="btn btn-secondary" {{on "click" this.cancel}}>{{t "delete-confirmation.cancel"}}</button>
          <button type="button" id="delete-button" class="btn btn-primary" {{on "click" (fn this.delete @entry @transitionTo)}}>{{t "delete-confirmation.delete"}}</button>
        </div>
      </div>
    </div>
  </div>
  <div id="modal-backdrop" class="modal-backdrop-transparent modal-transition modal-backdrop-blue"></div>
{{/if}}
