{{#if this.messageIsHTMLDocument}}
  <iframe title="messageIsHTMLDocument" srcdoc={{this.error.message}}></iframe>
{{else if this.error.isAdapterError}}
  <pre class="error">{{this.error.message}}</pre>
{{else if this.error.errors}}
  {{#if this.error.message}}<pre class="error">{{this.error.message}}</pre>{{/if}}
  <ul>
    {{#each this.error.errors as |error|}}
      <li>{{error.code}} &ndash; {{error.title}}</li>
    {{/each}}
  </ul>
{{else if this.error.message}}
  <p>{{this.error.message}}</p>
{{else}}
  <p>Something unexpected happened</p>
{{/if}}
{{#if this.error.stack}}
  <button type="button" class="btn btn-primary" onclick={{toggle "showStack" this}}>
    Show stack
  </button>
  <LinkTo @route="people" class="btn btn-primary">Bring me home</LinkTo>
  {{#if this.showStack}}
    <pre class="error-stack">{{this.error.stack}}</pre>
  {{/if}}
{{/if}}
