<div class="zeile">
  <div id="education-content-edit">
    <div class="row">
      <EducationForm @person={{this.person}} @education={{this.newEducation}}/>
      <div class="col-md-3 centered-content d-flex flex-column mt-4 px-5">
        <button {{on "click" (fn this.submitNewEducation false)}} role="button" id="submit-button" class="btn btn-primary m-2">Speichern</button>
        <button {{on "click" (fn this.submitNewEducation true)}} role="button" class="btn btn-info border m-2">Speichern & Neu</button>
        <a href="#" {{on "click" this.abortNew}} role="button" id="submit-button" class="abort-edit-buttons text-center mx-4">Abbrechen</a>
      </div>
    </div>
  </div>
</div>
