<div class="row">
  <div class="col-sm-3 centered-content text-center">
    {{education.year_from}}
    {{#if (eq education.year_to null)}}
      - heute
    {{else if (not-eq education.year_from education.year_to)}}
      - {{education.year_to}}
    {{/if}}
  </div>
  <div class="col-sm-8">
    <strong>{{education.title}}</strong>
    <br>{{education.location}}
  </div>
  <div class="col-sm-1 text-right centered-content">
    <a onclick={{action selectEducation education}} role="button" data-test-company-edit-form-toggle class="card-link text-dark"><i class="fa edit"></i></a>
  </div>
</div>