<div id="educationsHeader" class="card-header bg-info" data-toggle="collapse" data-parent="#accordion" href="#collapseEducation" >
  <div class="row">
    <div class="col-sm-6">
      <a class="card-link text-dark header-text">Ausbildung ({{amountOfEducations}})</a>
    </div>
    <div class="col-sm-6 text-right d-block">
      <a class="card-link text-dark" data-toggle="collapse" data-parent="#accordion" href="#collapseEducation"><i class="fa angle"></i></a>
    </div>
  </div>
</div>
<div id="collapseEducation" class="collapse show border border-info rounded-bottom">
  <div class="card-body d-flex flex-column">
    <div class="mb-2">
      <a onclick={{action (toggle 'educationNew' this)}} role="button" class="{{~unless educationNew 'edit-buttons'~}}"><i class="fa {{~unless educationNew ' add'~}}"></i> {{~unless educationNew ' Ausbildung hinzufügen'~}}</a>
    </div>
    <div id="competence-content-show">
      {{component (if educationNew 'education-new')
                  personId=person.id
                  done=(action (toggle 'educationNew' this))}}
      {{#each sortedEducations as |education|}}
        <div class="zeile">
          <div class="row">
            <div class="col-sm-3 centered-content text-center">
              {{if (not-eq (moment-format education.start_at 'DD') "13") (moment-format education.start_at 'MM.YYYY') (moment-format education.start_at 'YYYY')}}
              {{#if (eq education.finish_at null)}}
                - heute
              {{else if (not-eq education.finish_at education.start_at)}}
                - {{if (not-eq (moment-format education.finish_at 'DD') "13") (moment-format education.finish_at 'MM.YYYY') (moment-format education.finish_at 'YYYY')}}
              {{/if}}
            </div>
            <div class="col-sm-9">
              <strong>{{education.title}}</strong>
              <br>{{education.location}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    {{#if sortedEducations}}
      {{#unless educationNew}}
        <div>
          <a onclick={{educationsEditing}} role="button" class="edit-buttons"><i class="fa fa-pencil"></i> Bearbeiten</a>
        </div>
      {{/unless}}
    {{/if}}
  </div>
</div>
