<div id="educationsHeader" class="card-header bg-info">
  <div class="row">
    <div class="col-sm-6 header-text" id="amount-of-educations">
      Ausbildung ({{this.amountOfEducations}})
    </div>
  </div>
</div>
<div class="border border-info rounded-bottom">
  <div class="card-body d-flex flex-column">
    <div class="mb-2">
      <a onclick={{action "toggleEducationNew" true}} role="button" class={{~unless this.educationNew "edit-buttons"~}}><i class="fa {{~unless this.educationNew " add"~}}"></i> {{~unless this.educationNew " Ausbildung hinzufügen"~}}</a>
    </div>
    <div id="competence-content-show">
      {{component (if this.educationNew "education-new")
                  personId=this.person.id
                  done=(action "toggleEducationNew")}}
      {{#each this.sortedEducations as |education|}}
        <div class="zeile">
          <div class="row">
            <div class="col-sm-3 text-center">
              {{if education.monthFrom (concat (moment-format education.monthFrom "MM" "MM") ".")}}{{education.yearFrom}}
              {{#if (eq education.yearTo null)}}
                - heute
              {{else if (or (not-eq education.yearFrom education.yearTo) (not-eq education.monthFrom education.monthTo))}}
                - {{if education.monthTo (concat (moment-format education.monthTo "MM" "MM") ".")}}{{education.yearTo}}
              {{/if}}
            </div>
            <div class="col-sm-9">
              <strong class="education-entity">{{education.title}}</strong>
              <br>{{education.location}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    {{#if this.sortedEducations}}
      {{#unless this.educationNew}}
        <div>
          <a onclick={{this.educationsEditing}} role="button" class="edit-buttons" id="edit-education-button">
            <i class="fa fa-edit"></i>
            Bearbeiten
          </a>
        </div>
      {{/unless}}
    {{/if}}
  </div>
</div>
