<form onsubmit={{action 'submit' newEducation}} id="form_newEducation">
  <div id="newEducation-content-edit" class="zeile">
    <div class="row">
      <div class="col-sm-3">
        <div class="input-group centered-content-input">
          {{daterange-edit entity=newEducation}}
        </div>
      </div>
      <div class="col-sm-7 content-input">
        <label for="{{concat elementId '-new-title'}}">Ausbildung</label>
        {{input id=(concat elementId '-new-title') value=newEducation.title class="input-xxlarge form-control"}}
        <label class="mt-2" for="{{concat elementId '-new-loc'}}">Ausbildungsort</label>
        {{textarea id=(concat elementId '-new-loc') value=newEducation.location class="input-xxlarge form-control"}}
      </div>
      <div class="col-md-2 centered-content d-flex flex-column mt-4 px-4">
        <button onclick={{action 'submit' newEducation false}} role="button" id="submit-button" class="btn btn-primary m-2">Speichern</button>
        <button onclick={{action 'submit' newEducation true}} role="button" class="btn btn-info border m-2">Speichern & Neu</button>
        <a href="#" onclick={{action 'abortNew'}} role="button" id="submit-button" class="abort-edit-buttons text-center mx-4">Abbrechen</a>
      </div>
    </div>
  </div>
</form>
