<div id="educationsHeader" class="card-header bg-info">
  <div class="row">
    <div class="col-sm-6 header-text" id="amount-of-educations">
      Ausbildung ({{this.amountOfEducations}})
    </div>
  </div>
</div>
<div class="border border-info rounded-bottom">
  <div class="card-body d-flex flex-column">
    <div class="mb-2">
      <a {{on "click" this.toggleEducationNew}} role="button" class={{~unless this.educationNew "edit-buttons"~}}><i class="fa {{~unless this.educationNew " add"~}}"></i> {{~unless this.educationNew " Ausbildung hinzufügen"~}}</a>
    </div>
    <div id="competence-content-show">
      {{#if this.educationNew}}
        <EducationNew @person={{@person}} @done={{toggleEducationNew}}/>
      {{/if}}
      {{#each this.sortedEducations as |education|}}
        {{#if this.educationsEditing}}
          <EducationEdit @person={{@person}} @education={{education}} @done={{toggleEducationsEditing}}/>
        {{else}}
          <EducationShow @education={{education}}/>
        {{/if}}
      {{/each}}
    </div>
    {{#if (or (not this.educationNew) (not this.educationsEditing))}}
      {{#if this.educationsEditing}}
        <div class="mt-auto">
          <button {{on "click" this.submitPerson}} role="button" class="btn btn-primary" id="submit-education-button">Speichern</button>
          <button {{on "click" this.toggleEducationsEditing}} role="button" class="btn abort-button">Abbrechen</button>
        </div>
      {{else}}
        {{#if @educations}}
          <div>
            <a {{on "click" this.toggleEducationsEditing}} role="button" class="edit-buttons" id="edit-education-button">
              <i class="fa fa-edit"></i>
              Bearbeiten
            </a>
          </div>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</div>
