<div class="card-header bg-info">
  <div class="row">
    <div class="col-sm-6">
      <a class="card-link text-dark header-text">Ausbildung</a>
    </div>
  </div>
</div>
<div id="collapseEducation" class="collapse show border border-info rounded-bottom">
  <div class="card-body">
    <div id="competence-content-show" class="mb-2">
      {{#each sortedEducations as |education|}}
        <div class="zeile">
          <div id="education-content-edit">
            <div class="row">
              <div class="col-sm-3">
                <div class="input-group centered-content-input">
                  {{daterange-edit entity=education}}
                </div>
              </div>
              <div class="col-sm-7 content-input">
                <label for="{{concat elementId '-' education.id '-title'}}">Ausbildung</label>
                {{input id=(concat elementId '-' education.id '-title') value=education.title class="input-xxlarge form-control"}}
                <label class="mt-2" for="{{concat elementId '-' education.id '-loc'}}">Ausbildungsort</label>
                {{textarea id=(concat elementId '-' education.id '-loc') value=education.location class="input-xxlarge form-control"}}
              </div>
              <div id="delete-education-icon" onclick={{action 'notify'}}>
                {{delete-with-confirmation
                  entry=education
                }}
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="mt-auto">
      <button onclick={{action 'submit' person}} role="button" class="btn btn-primary">Speichern</button>
      <button onclick={{action 'abortEdit'}} role="button" class="btn abort-button">Abbrechen</button>
    </div>
  </div>
</div>
