<form onsubmit={{action 'submit' newEducation}} id="form_newEducation">
  <div id="newEducation-content-edit" class="zeile">
    <div class="row">
      <div class="col-sm-3">
        <div class="input-group centered-content-input">
          {{daterange-edit entity=newEducation}}
        </div>
      </div>
      <div class="col-sm-7 content-input">
        <label for="{{concat elementId '-new-title'}}">Ausbildung</label>
        {{input id=(concat elementId '-new-title') value=newEducation.title class="input-xxlarge form-control"}}
        <label class="mt-2" for="{{concat elementId '-new-loc'}}">Ausbildungsort</label>
        {{textarea id=(concat elementId '-new-loc') value=newEducation.location class="input-xxlarge form-control"}}
      </div>
      <div class="col-sm-2 centered-content text-right">
        <a href="#" onclick={{action 'submit' newEducation}} role="button" id="submit-button" class="text-dark"><i class="fa save"></i></a>
      </div>
    </div>
  </div>
</form>
