<div id="educationsHeader" class="card-header bg-info">
  <div class="row">
    <div class="col-sm-6 header-text" id="amount-of-educations">
      Ausbildung ({{this.amountOfEducations}})
    </div>
  </div>
</div>
<div class="border border-info rounded-bottom">
  <div class="card-body d-flex flex-column">
    <div class="mb-2">
      <a {{on "click" this.toggleEducationNew}} role="button" class={{~unless this.isNewRecord "edit-buttons"~}}><i class="fa {{~unless this.isNewRecord " add"~}}"></i> {{~unless this.isNewRecord " Ausbildung hinzufügen"~}}</a>
    </div>
    <div id="educations-content-show">
      {{#if this.isNewRecord}}
        <EducationForm @person={{@person}} @done={{toggleEducationNew}}/>
      {{/if}}
      {{#each this.sortedEducations as |education|}}
        {{#if (eq this.editingEducation education)}}
          <EducationForm @person={{@person}} @education={{education}} @done={{this.abortEducationEdit}}/>
        {{else}}
          <div class="zeile {{unless this.editingEducation "people-skill-link"}}" {{on "click" (fn this.setEditingEducation education)}} role="button">
            <EducationShow @education={{education}}/>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>
