<div class="card-header bg-primary">
  <div class="row">
    <div class="col-sm-6">
      <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseEducation">Ausbildung</a>
    </div>
    <div class="col-sm-6 text-right d-block">
      <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseEducation"><i class="fa angle"></i></a>
    </div>
  </div>
</div>
<div id="collapseEducation" class="collapse show border border-primary rounded-bottom">
  <div class="card-body">
    <div class="container-fluid" id="competence-content-show">
        {{#each sortedEducations as |education|}}
          {{#if (eq educationEditing education)}}
            {{education-edit education=education done=(action (toggle 'educationEditing' this))}}
          {{else}}
            {{education-show selectEducation = (action (mut educationEditing)) education=education}}
          {{/if}}
        {{/each}}
    </div>
    <button onclick={{action (toggle 'educationNew' this)}}
              id="button-new-educations"
            class="btn btn-link pull-right">
      {{~if educationNew 'Abbrechen' 'Neu'~}}
    </button>
  </div>
</div>
