<div class="card-header bg-info">
  <div class="row">
    <div class="col-sm-6">
      <a class="card-link text-dark header-text">Ausbildung</a>
    </div>
  </div>
</div>
<div id="collapseEducation" class="collapse show border border-info rounded-bottom">
  <div class="card-body">
    <div id="competence-content-show" class="mb-2">
      {{#each person.educations as |education|}}
        <div class="zeile">
          <div id="education-content-edit">
            <div class="row">
              <div class="col-sm-3">
                <div class="input-group centered-content-input">
                  {{daterange-edit entity=education}}
                </div>
              </div>
              <div class="col-sm-7 content-input">
                <div class="input-group centered-content-input">
                  {{input value=education.title class="input-xxlarge form-control" placeholder="Mein Abschluss"}}
                  {{input value=education.location class="input-xxlarge form-control" placeholder="Mein Ausbildungsort"}}
                </div>
              </div>
              <div id="delete-education-icon">
                {{delete-with-confirmation
                  entry=education
                }}
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="mt-auto">
      <button onclick={{action 'submit' person}} role="button" class="btn btn-primary"><i class="fa save"></i> Speichern</button>
      <button onclick={{action 'abortEdit'}} role="button" class="btn btn-secondary"><i class="fa abort"></i> Abbrechen</button>
    </div>
  </div>
</div>
