<div class="card-header bg-primary">
  <div class="row">
    <div class="col-sm-6">
      <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseEducation">Ausbildung ({{amountOfEducations}})</a>
    </div>
    <div class="col-sm-6 text-right d-block">
      <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseEducation"><i class="fa angle"></i></a>
    </div>
  </div>
</div>
<div id="collapseEducation" class="collapse show border border-primary rounded-bottom">
  <div class="card-body d-flex flex-column">
    <div class="mb-2">
      <a onclick={{action (toggle 'educationNew' this)}} role="button" class="{{~if educationNew 'abort-edit-buttons' 'edit-buttons'~}}"><i class="fa {{~if educationNew ' abort' ' add'~}}"></i> {{~if educationNew ' hinzufügen abbrechen' ' Ausbildung hinzufügen'~}}</a>
    </div>
    <div id="competence-content-show" class="mb-2">
      {{component (if educationNew 'education-new')
                  personId=person.id
                  done=(action (toggle 'educationNew' this))}}
      {{#each filteredEducations as |education|}}
        <div class="zeile">
          <div class="row">
            <div class="col-sm-3 centered-content text-center">
              {{education.year_from}}
              {{#if (eq education.year_to null)}}
                - heute
              {{else if (not-eq education.year_from education.year_to)}}
                - {{education.year_to}}
              {{/if}}
            </div>
            <div class="col-sm-9">
              <strong>{{education.title}}</strong>
              <br>{{education.location}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <div>
      <a onclick={{educationsEditing}} role="button" class="edit-buttons"><i class="fa fa-pencil"></i> Bearbeiten</a>
    </div>
  </div>
</div>
