<form onsubmit={{action 'submit' newEducation}} id="form_newEducation">
  <div id="newEducation-content-edit" class="zeile">
    <div class="row">
      <div class="col-sm-3">
        <div class="input-group centered-content-input">
          {{daterange-edit entity=newEducation}}
        </div>
      </div>
      <div class="col-sm-7 content-input">
        <div class="input-group centered-content-input">
          {{input value=newEducation.title class="input-xxlarge form-control" placeholder="Mein Abschluss"}}
          {{input value=newEducation.location class="input-xxlarge form-control" placeholder="Mein Ausbildungsort"}}
        </div>
      </div>
      <div class="col-sm-2 centered-content text-right">
        <a href="#" onclick={{action 'submit' newEducation}} role="button" id="submit-button" class="text-dark"><i class="fa save"></i></a>
      </div>
    </div>
  </div>
</form>
