<td>{{expertiseTopic.name}}</td>
<td>{{expertiseTopicSkillValue.yearsOfExperience}}</td>
<td>{{expertiseTopicSkillValue.numberOfProjects}}</td>
<td>{{expertiseTopicSkillValue.lastUse}}</td>
<td>{{expertiseTopicSkillValue.skillLevel}}</td>
<td class="fws-comments-field">{{expertiseTopicSkillValue.comment}}</td>
<td>
  <a href="#"onclick={{action ontoggleedit true}}><i class="fa edit"></i></a>
</td>
