{{#with (changeset expertiseTopicSkillValue validations) as |changeset|}}
  <td class="fws-topic-name">{{expertiseTopic.name}}</td>
  <td>
    <input form={{formId}}
        max="80"
        min="0"
        class="form-control"
        type="number"
        value={{expertiseTopicSkillValue.yearsOfExperience}}
        oninput={{action (mut changeset.yearsOfExperience) value="target.value"}}>
  </td>
  <td>
    <input form={{formId}}
        max="255"
        min="0"
        class="form-control"
        type="number"
        value={{expertiseTopicSkillValue.numberOfProjects}}
        oninput={{action (mut changeset.numberOfProjects) value="target.value"}}>
  </td>
  <td>
    <input form={{formId}}
        max="4095"
        min="1900"
        class="form-control"
        type="number"
        value={{expertiseTopicSkillValue.lastUse}}
        oninput={{action (mut changeset.lastUse) value="target.value"}}>
  </td>

  <td>
    <select form={{formId}}
        class=""
        onchange={{action (mut changeset.skillLevel)
        value="target.value"}}
        required>
      {{#each skillLevelData as |sld|}}
        <option value={{sld}} selected={{eq changeset.skillLevel sld}}>{{sld}}</option>
      {{/each}}
    </select>
  </td>

  <td>
    <textarea class="form-control"
              rows="1"
        oninput={{action (mut changeset.comment) value="target.value"}}>
      {{~expertiseTopicSkillValue.comment~}}
    </textarea>
  </td>
  <td>
    <form id={{formId}} onsubmit={{action onsubmit changeset}}>
      <a href="#collapseFWS{{expertiseCategory.name}}" onclick={{action onsubmit changeset}}>
        <i class="fa save"></i>
      </a>
    </form>
    <form id={{formId}}>
      <a href="#collapseFWS{{expertiseCategory.name}}" onclick={{action cancelEdit changeset}}>
        <i class="fa abort"></i>
      </a>
    </form>
  </td>
{{/with}}
