{{#with (changeset expertiseTopicSkillValue validations) as |changeset|}}
  <td class="fws-topic-name">{{expertiseTopic.name}}</td>
  <td>
    <input form={{formId}}
        max="80"
        min="0"
        required="true"
        class="fws-number-input"
        type="number"
        value={{expertiseTopicSkillValue.yearsOfExperience}}
        oninput={{action (mut changeset.yearsOfExperience) value="target.value"}}>
  </td>
  <td>
    <input form={{formId}}
        max="255"
        min="0"
        required="true"
        class="fws-number-input"
        class="fws-number-input"
        type="number"
        value={{expertiseTopicSkillValue.numberOfProjects}}
        oninput={{action (mut changeset.numberOfProjects) value="target.value"}}>
  </td>
  <td>
    <input form={{formId}}
        max="4095"
        min="1900"
        required="true"
        class="fws-year-input"
        type="number"
        value={{expertiseTopicSkillValue.lastUse}}
        oninput={{action (mut changeset.lastUse) value="target.value"}}>
  </td>

  <td>
    <select form={{formId}} class="fws-select selectpicker" onchange={{action (mut changeset.skillLevel) value="target.value"}}>
      {{#each skillLevelData as |sld|}}
        <option value={{sld}} selected={{eq changeset.skillLevel sld}}>{{sld}}</option>
      {{/each}}
    </select>
  </td>

  <td>
    <textarea class="fws-textarea-input"
        oninput={{action (mut changeset.comment) value="target.value"}}>
      {{~expertiseTopicSkillValue.comment~}}
    </textarea>
  </td>
  <td>
    <form id={{formId}} onsubmit={{action onsubmit changeset}}>
      <button class="btn-link" title="save">
        <img class="fws-action-icon" src="/assets/images/save.svg" alt="save icon">
      </button>
    </form>
    <form id={{formId}}>
      <button onclick={{action cancelEdit changeset}} class="btn-link" title="cancel">
        <img class="fws-action-icon" src="/assets/images/cross.svg" alt="cancel_icon">
      </button>
    </form>
  </td>
{{/with}}
