{{#if showTopics}}
  <div class="expertise-category unfolded" onclick={{action (toggle 'showTopics' this)}} >
    {{expertiseCategory.name}}
    <img class="fws-category-unfold-icon" src="/assets/images/chevron-up.svg">
  </div>
{{else}}
  <div class="expertise-category" onclick={{action (toggle 'showTopics' this)}} >
    {{expertiseCategory.name}}
    <img class="fws-category-unfold-icon" src="/assets/images/chevron-down.svg">
  </div>
{{/if}}

{{#liquid-if showTopics}}
  <table class="expertise-topic-skill-values-table table">
    <tr>
      <th class="fws-topic-name">Fachwissen</th>
      <th>Jahre</th>
      <th>Projekte</th>
      <th class="fws-last-use">Letztmals angewendet</th>
      <th>Erfahrungswert</th>
      <th>Bemerkung</th>
      <th></th>
    </tr>
      {{#each expertiseTopics as |et|}}
        {{expertise-topic-skill-value expertiseTopic=et person=person}}
      {{/each}}
  </table>
{{/liquid-if}}
