{{#with (changeset this.expertiseTopicSkillValue this.validations) as |etsvChangeset|}}
  <td class="fws-topic-name">{{this.expertiseTopic.name}}</td>
  <td>
    <input form={{this.formId}}
        max="80"
        min="0"
        class="form-control"
        type="number"
        value={{this.expertiseTopicSkillValue.yearsOfExperience}}
        oninput={{action (mut etsvChangeset.yearsOfExperience) value="target.value"}}>
  </td>
  <td>
    <input form={{this.formId}}
        max="255"
        min="0"
        class="form-control"
        type="number"
        value={{this.expertiseTopicSkillValue.numberOfProjects}}
        oninput={{action (mut etsvChangeset.numberOfProjects) value="target.value"}}>
  </td>
  <td>
    <input form={{this.formId}}
        max="4095"
        min="1900"
        class="form-control"
        type="number"
        value={{this.expertiseTopicSkillValue.lastUse}}
        oninput={{action (mut etsvChangeset.lastUse) value="target.value"}}>
  </td>

  <td>
    <select form={{this.formId}}
        class=""
        onchange={{action (mut etsvChangeset.skillLevel)
        value="target.value"}}
        required>
      {{#each this.skillLevelData as |sld|}}
        <option value={{sld}} selected={{eq etsvChangeset.skillLevel sld}}>{{sld}}</option>
      {{/each}}
    </select>
  </td>

  <td>
    <textarea class="form-control"
              rows="1"
              oninput={{action (mut etsvChangeset.comment) value="target.value"}}>      {{~this.expertiseTopicSkillValue.comment~}}    </textarea>
  </td>
  <td>
    <form id={{this.formId}} onsubmit={{action this.onsubmit etsvChangeset}}>
      <a href="#collapseFWS{{this.expertiseCategory.name}}" onclick={{action this.onsubmit this.changeset}}>
        <i class="fa save"></i>
      </a>
    </form>
    <form id={{this.formId}}>
      <a href="#collapseFWS{{this.expertiseCategory.name}}" onclick={{action this.cancelEdit this.changeset}}>
        <i class="fa abort"></i>
      </a>
    </form>
  </td>
{{/with}}
