<td>{{this.expertiseTopic.name}}</td>
<td>{{this.expertiseTopicSkillValue.yearsOfExperience}}</td>
<td>{{this.expertiseTopicSkillValue.numberOfProjects}}</td>
<td>{{this.expertiseTopicSkillValue.lastUse}}</td>
<td>{{this.expertiseTopicSkillValue.skillLevel}}</td>
<td class="fws-comments-field">{{this.expertiseTopicSkillValue.comment}}</td>
<td>
  <a href="#collapseFWS{{this.expertiseCategory.name}}" onclick={{action this.ontoggleedit true}}><i class="fa edit"></i></a>
</td>
