<td>{{expertiseTopic.name}}</td>
<td>{{expertiseTopicSkillValue.yearsOfExperience}}</td>
<td>{{expertiseTopicSkillValue.numberOfProjects}}</td>
<td>{{expertiseTopicSkillValue.lastUse}}</td>
<td>{{expertiseTopicSkillValue.skillLevel}}</td>
<td>{{expertiseTopicSkillValue.comment}}</td>
<td><a href=""><img class="fws-action-icon" alt="edit" src="/assets/images/edit.svg"></a></td>
