<div class="card">
  <div class="card-header bg-info mt-2" data-toggle="collapse" data-parent="#accordion" href="#collapseFWS{{expertiseCategory.name}}">
    <div class="row">
      <div class="col-sm-6">
        <a class="card-link text-dark header-text">{{expertiseCategory.name}}</a>
      </div>
      <div class="col-sm-6 text-right d-block">
        <a class="card-link text-dark" data-toggle="collapse" data-parent="#accordion" href="#collapseFWS{{expertiseCategory.name}}"><i class="fa angle"></i></a>
      </div>
    </div>
  </div>
  <div id="collapseFWS{{expertiseCategory.name}}" class="show collapse border border-info rounded-bottom">
    <div class="card-body">
      <table class="table fws">
        <tr>
          <th class="fws-topic-name">Fachwissen</th>
          <th>Jahre Erfahrung</th>
          <th>Anzahl Projekte</th>
          <th class="fws-last-use">Letztmals angewendet</th>
          <th>
            Erfahrungswert
            <a onclick={{action (toggle 'showInfoModal' this)}} type="button" href="#collapseFWS{{expertiseCategory.name}}">
              <i class="fa info"></i>
            </a>
          </th>
          <th class="fws-comments-field">Bemerkung</th>
          <th></th>
        </tr>
        {{#if isLoading.isFulfilled}}
          {{#each expertiseTopics as |et|}}
            {{expertise-topic-skill-value expertiseTopic=et expertiseCategory=expertiseCategory person=person}}
          {{/each}}
        {{/if}}
      </table>
    </div>
  </div>
</div>

{{#if showInfoModal}}
  {{#modal-dialog close='closeInfo'}}
    <table class="table">
      <tr>
        <th>Erfahrungswert</th>
        <th>Beschreibung</th>
      </tr>
      <tr>
        <td>Trainee</td>
        <td>Ich habe von der Technologie gehört oder mich eingelesen und eventuell auch ein paar Beispiele gemacht. </td>
      </tr>
      <tr>
        <td>Junior</td>
        <td>Ich habe die Technologie praktisch angewandt und kenne mich mit den wichtigsten Funktionen und den häufigsten Problemen aus.</td>
      </tr>
      <tr>
        <td>Professional</td>
        <td>Ich habe praktische Erfahrung und kenne mich mit den meisten Funktionalitäten und Problemen aus.</td>
      </tr>
      <tr>
        <td>Senior</td>
        <td>Ich habe mehrere Jahre Erfahrung und kenne mich mit allen Funktionalitäten und den Problemen sehr gut aus. Zudem kenne ich die aktuelle Version sehr gut und kann ohne Vorbereitung Unterstützung bieten</td>
      </tr>
      <tr>
        <td>expert</td>
        <td>Ich habe mehrere Jahre Erfahrung und kenne mich mit allen Funktionalitäten, dem Aufbau und den Problemen sehr gut aus. Weiter kenne ich aktuelle sowie frühere Versionen sehr gut und kann ohne Vorbereitung eine umfangreiche Unterstützung und Übersicht bieten.</td>
      </tr>

    </table>
    <button onclick={{action (toggle 'showInfoModal' this)}} class="btn pull-right">
      Got it!
    </button>
  {{/modal-dialog}}
{{/if}}
