<ul class="nav nav-tabs">
  {{#each this.sortedLanguageSkills as |skill|}}
    <li class="nav-item">
      <a class= "nav-link {{if (eq skill.language this.selectedLanguage.iso1) "active"}}" onclick={{action "setSkill" skill}} role="button">{{skill.language}}</a>
    </li>
  {{/each}}
  <li class="nav-item">
    <a class="nav-link language-button" onclick={{action "createSkill"}} role="button" rel="noopener"><i class="fa fa-plus" aria-hidden="true"></i></a>
  </li>
</ul>
<div class="container">
  <div class="row">
    <div class="col-md-10 pl-0">
      <PowerSelect @triggerClass="mt-2" @triggerId="language" @selected={{this.selectedLanguage}} @options={{this.languages}} @onfocus={{action "handleFocus"}} @onblur={{action "handleBlur"}} @onchange={{action "setLanguage"}} @onkeydown={{action "setWithTab" "setLanguage"}} @disabled={{this.isObligatoryLanguage}} @searchField="name" as |language|>
        {{#if (not-eq language.iso1 "-")}}{{language.name}} ({{language.iso1}}){{/if}}
      </PowerSelect>

    </div>
    <div class="col-md-2 pl-0 pt-2" onclick={{action "deleteSkill" this.selectedSkill}} role="button">
      {{#unless this.isObligatoryLanguage}} 
        <DeleteWithConfirmation @entry={{this.selectedSkill}}>
        </DeleteWithConfirmation>
      {{/unless}}
    </div>
  </div>
</div>
<label class="description mt-2">Level</label>
<PowerSelect @triggerClass="w-70 d-block" @triggerId="level" @selected={{this.selectedSkill.level}} @searchEnabled={{false}} @options={{this.levels}} @onfocus={{action "handleFocus"}} @onblur={{action "handleBlur"}} @onchange={{action (mut this.selectedSkill.level)}} @onkeydown={{action "setWithTab" "setLevel"}} as |level|>
  {{level}}
</PowerSelect>
<label class="description mt-2">Zertifikat</label>
<Input class="w-100 input-field" placeholder="Leer lassen, falls keines" @id="certificateInput" @value={{this.selectedSkill.certificate}} />
