{{#if this.isLoading}} 
  <div class="text-center mt-4">
    <img alt="loading-spinner" class="img-fluid" src="/assets/images/loading.gif">
  </div>
{{/if}}
{{#if (not-eq this.isLoading (not-eq (eq this.isClosed this.newPeopleSkills) (eq this.isLoading this.isClosed)))}}
  <div id="new-people-skills-show" class="mt-3">
    <div class="row mb-3">
      <div class="col-md-11">
        <h5><b>{{t "new-people-skills-show.newSkills"}} ({{this.newPeopleSkillsAmount}})</b></h5>
      </div>
      <div class="col-md-1">
        <button type="button" class="close" onclick={{action "close"}} aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    {{#each this.newPeopleSkills as |peopleSkill|}}
      <div class="new-people-skill-show row py-2">
        <div class="col-md-10">
          <PeopleSkillEdit @peopleSkill={{peopleSkill}} />
        </div>
        <div class="col-md-2 col flex-column d-flex justify-content-center">
          <a class="edit-buttons" role="button" onclick={{action "saveWithDefault" peopleSkill}}>{{t "new-people-skills-show.dontRate"}}</a>
        </div>
      </div>
    {{/each}}
    <div class="mt-3">
      <button type="button" onclick={{action "submit" this.person}} role="button" class="btn btn-primary" id="submit-education-button">{{t "new-people-skills-show.save"}}</button>
      <button type="button" onclick={{action "close"}} role="button" class="btn abort-button">{{t "new-people-skills-show.notNow"}}</button>
    </div>
  </div>
{{/if}}
