<div class="row">
  {{#if this.showPersonName}}
    <div role="button" onclick={{toggleSkillShow}} data-toggle={{if this.toggleSkillShow "modal"}} data-target="#skill-show-modal" class="col pt-3 people-skill-person-name">
      <a role="button" onclick={{action "changePerson" this.peopleSkill.person}} class="edit-buttons">
        <span data-dismiss="modal">{{this.peopleSkill.person.name}}</span>
      </a>
    </div>
  {{/if}}
  {{#each this.peopleSkill.skills as |skill|}}
    <PeopleSkillListShow @skill={{skill}} @showSkillTitle={{true}} class="skills-list-container"/>
  {{/each}}
  {{yield}}
</div>
<br>