<div class="row">
  {{#if this.showPersonName}}
    <div role="button" onclick={{toggleSkillShow}} data-toggle={{if this.toggleSkillShow "modal"}} data-target="#skill-show-modal" class="col pt-3 people-skill-skillname">
      <a role="button" onclick={{action "changePerson" this.peopleSkill.person}} class="edit-buttons">
        <span data-dismiss="modal">{{this.peopleSkill.person.name}}</span>
      </a>
    </div>
  {{/if}}
  {{#if this.showSkillTitle}}
    <div role="button" onclick={{toggleSkillShow}} data-toggle={{if this.toggleSkillShow "modal"}} data-target="#skill-show-modal" class="col pt-3 people-skill-skillname">
      <div class="people-skill-title">{{this.peopleSkill.skill.title}}</div>
    </div>
  {{/if}}
  <div onclick={{this.toggleSkillShow}} data-toggle={{if this.toggleSkillShow "modal"}} role="button" data-target="#skill-show-modal" class="col justify-content-center people-skill-level">
    <p class="description skillset-level-title">{{this.levelName}}</p>
    <UiSlider @value={{this.levelValue}} @ticks="1,2,3,4,5" @tooltip="hide" @disabled={{true}} @min={{1}} @max={{5}} @immediateResponse={{true}} @action={{action "adjustSliderStylingOnReset"}} />
  </div>
  <div onclick={{this.toggleSkillShow}} data-toggle={{if this.toggleSkillShow "modal"}} role="button" data-target="#skill-show-modal" class="col people-skill-interest">
    <p class="description skillset-interest-title">Interesse</p>
    <IconRating @fillColor="#238BCA" @readOnly={{true}} @value={{this.peopleSkill.interest}} @onClick={{action (mut this.newPeopleSkill.interest)}} />
  </div>
  <div onclick={{this.toggleSkillShow}} data-toggle={{if this.toggleSkillShow "modal"}} role="button" data-target="#skill-show-modal" class="col pt-3 people-skill-certificate">
    {{#if this.peopleSkill.certificate}}
      <i class="fa fa-check-square" aria-hidden="true"></i>
    {{else}}
      <i class="far fa-square" aria-hidden="true"></i>
    {{/if}}
    <span class="description ml-2">Zertifikat</span>
  </div>
  <div onclick={{this.toggleSkillShow}} data-toggle={{if this.toggleSkillShow "modal"}} role="button" data-target="#skill-show-modal" class="col pt-3 people-skill-coreCompetence">
    {{#if this.peopleSkill.coreCompetence}}
      <i class="fa fa-check-square" aria-hidden="true"></i>
    {{else}}
      <i class="far fa-square" aria-hidden="true"></i>
    {{/if}}
    <span class="description ml-2">Kernkompetenz</span>
  </div>
  {{yield}}
</div>
<br>
