<SkillShow @skill={{this.currentSkill}} />
<NavSidebar @items={{this.sidebarItems}}>
  <ul class="nav flex-column mt-2 border">
    {{#if this.peopleSkillsEditing}}
      <li class="d-flex flex-column nav-link">
        <div class="mb-2 text-center">
          <i class="fa fa-edit"></i> {{t "people-skills-show.edit"}}
        </div>
        <button type="button" onclick={{action "submit" this.person}} role="button" class="btn btn-primary" id="submit-education-button">Speichern</button>
        <button type="button" onclick={{action "abortEdit"}} role="button" class="btn abort-button w-100 mt-1">Abbrechen</button>
      </li>
    {{else}}
      <li class="d-flex flex-column nav-link">
        <a role="button" class="edit-buttons" onclick={{action (toggle "peopleSkillsEditing" this)}}>
          <i class="fa fa-edit"></i> {{t "people-skills-show.editSkills"}}
        </a>
      </li>
    {{/if}}
  </ul>
  <ul class="nav flex-column mt-2">
    <li class="d-flex flex-column nav-link border">
      <a role="button" class="edit-buttons" data-toggle="modal" data-target="#people-skill-new-modal">
        <i class="fa fa-plus" aria-hidden="true"></i> {{t "people-skills-show.addSkill"}}
      </a>
    </li>
  </ul>
</NavSidebar>
<div class="col-sm-10 float-right position-relative px-0">
  <NewPeopleSkillsShow @person={{this.person}} @skills={{this.skills}} />
  <PeopleSkillNew @peopleSkills={{this.peopleSkills}} @childCategories={{this.childCategories}} @person={{this.person}} />
  <div id="peopleSkillsHeader" class="pt-3 pb-5">
    <div class="card-header bg-info people-skills-header">
      <div class="row">
        <div class="col-sm-6 header-text">
          Skills ({{this.peopleSkills.length}})
        </div>
      </div>
    </div>
    <div class="border border-info rounded-bottom">
      <div class="card-body d-flex flex-column">
        <div class="row mb-3">
          <div class="col-sm-10">
            <SkillsetRatedFilter @personId={{this.person.id}} />
          </div>
        </div>
        {{#if this.skillset}}
          {{#each this.skillset as |parentCategory|}}
            <div id="parentCategory-{{parentCategory.id}}" class="row pb-2">
              <div class="col">
                <div class="card-header bg-info people-skills-header">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="text-dark parent-categories-text">
                        {{parentCategory.title}}
                      </div>
                    </div>
                  </div>
                </div>
                {{#each parentCategory.children as |child|}}
                  <div class="show border border-info rounded-bottom">
                    <div class="card-body d-flex flex-column people-skillset-category">
                      <div class="description fs-15">
                        {{child.title}}
                        ({{child.skills.length}})
                      </div>
                      {{#each child.skills as |skill|}}
                        <div class="show border border-info rounded-bottom people-skill-link">
                          <div class="card-body d-flex flex-column people-skillset-skill fs-15">
                            {{#if this.peopleSkillsEditing}}
                              <PeopleSkillEdit @peopleSkill={{skill}} />
                            {{else}}
                              <PeopleSkillShow @peopleSkill={{skill}} @toggleSkillShow={{action "toggleSkillShow" skill.skill}} @showSkillTitle={{true}}>
                                <div class="col-md-1 pt-3">
                                  {{#if skill.isRated}}
                                    <a class="edit-buttons" role="button" onclick={{action "resetPeopleSkill" skill}} data-toggle="tooltip" data-placement="top" title="Reset Skill">
                                      <i class="fa fa-redo"></i>
                                    </a>
                                  {{/if}}
                                </div>
                              </PeopleSkillShow>
                            {{/if}}
                          </div>
                        </div>
                      {{/each}}
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          {{/each}}
          <script>
            $(document).ready(() => {
              $('[data-toggle="tooltip"]').tooltip();
            })
          </script>
        {{/if}}
      </div>
    </div>
  </div>
</div>
