<div class="row">
  <div class="col">
    {{peopleSkill.skill.title}}
  </div>
  <div class="col">
    <label class="description">Niveau</label>
    {{#power-select
    selected=peopleSkill.level
    options=interestLevelOptions
    searchEnabled=false
    onfocus=(action "handleFocus")
    onblur=(action "handleBlur")
    onchange=(action (mut peopleSkill.level))
    as |level|
    }}
      {{level}}
    {{/power-select}}
  </div>
  <div class="col">
    <label class="description">Interesse</label>
    {{#power-select
    selected=peopleSkill.interest
    options=interestLevelOptions
    searchEnabled=false
    onfocus=(action "handleFocus")
    onblur=(action "handleBlur")
    onchange=(action (mut peopleSkill.interest))
    as |interest|
    }}
      {{interest}}
    {{/power-select}}
  </div>
  <div class="col">
    {{input type="checkbox" checked=peopleSkill.certificate}}
    <label class="description">Zertifikat</label>
  </div>
  <div class="col">
    {{input type="checkbox" checked=peopleSkill.core_competence}}
    <label class="description">Kernkompetenz</label>
  </div>
</div>
<br>
