<div class="modal fade" id="people-skill-new-modal" tabindex="-1" role="dialog" aria-labelledby="people-skill-new-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="people-skill-new-modal-label">Neuer Skill hinzufügen</h5>
        <button type="button" class="close" onclick={{action "abortNew"}} aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row my-3">
            <div class="col-md-3">Skill</div>
            <div class="col-md-9 people-skill-new-dropdowns">
              <PowerSelectWithCreate @triggerId="people-skill-new-skill" @renderInPlace={{true}} @class="w-100" @dropdownClass="w-100" @options={{this.dropdownSkills}} @selected={{this.newPeopleSkill.skill}} @searchField="title" @onchange={{action (mut this.newPeopleSkill.skill)}} @oncreate={{action "setupNewSkill"}} @buildSuggestion={{action "customSuggestion"}} as |skill|>
                {{skill.title}}
              </PowerSelectWithCreate>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-md-3">Kategorie</div>
            <div class="col-md-9 people-skill-new-dropdowns">
              <PowerSelect @triggerId="people-skill-new-category" @renderInPlace={{true}} @class="w-100" @dropdownClass="w-100" @options={{this.childCategories}} @matcher={{this.categorySearchMatcher}} @disabled={{eq this.newSkillSelected false}} @selected={{this.selectedCategory}} @onchange={{action "setCategory"}} as |category|>
                {{category.parent.title}} - {{category.title}}
              </PowerSelect>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-md-3">Level</div>
            <div class="col-md-9 people-skill-new-dropdowns">
              <div class="slider-5-ticks">
                <UiSlider @value={{this.newPeopleSkill.level}} @ticks="1,2,3,4,5" @tooltip="hide" @min={{1}} @max={{5}} />            
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-md-3">Interesse</div>
            <div class="col-md-9 people-skill-new-dropdowns">
              <IconRating @size="lg" @fillColor="#238BCA" @value={{this.newPeopleSkill.interest}} @onClick={{action (mut this.newPeopleSkill.interest)}} />
            </div>
          </div>
          <div id="certificate-toggle" class="row my-3">
            <div class="col-md-3">Zertifikat vorhanden</div>
            <XToggle @theme="material" @size="medium" @value={{this.newPeopleSkill.certificate}} @onToggle={{action (mut this.newPeopleSkill.certificate)}} />
          </div>
          <div id="coreCompetence-toggle" class="row my-3">
            <div class="col-md-3">Kernkompetenz</div>
            <XToggle @theme="material" @size="medium" @value={{this.newPeopleSkill.coreCompetence}} @onToggle={{action (mut this.newPeopleSkill.coreCompetence)}} />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" onclick={{action "abortNew"}} class="btn btn-secondary">Abbrechen</button>
        <button id="people-skill-new-submit-button" type="button" onclick={{action "submit"}} class="btn btn-primary">Speichern</button>
      </div>
    </div>
  </div>
</div>
