<div class="row">
  <div class="col people-skill-skillname">
    <strong>{{peopleSkill.skill.title}}</strong>
  </div>
  <div class="col people-skill-level">
    {{peopleSkill.level}}
  </div>
  <div class="col people-skill-interest">
    {{peopleSkill.interest}}
  </div>
  <div class="col people-skill-certificate">
    {{#if peopleSkill.certificate}}
      <i class="fa fa-check-square" aria-hidden="true"></i>
    {{else}}
      <i class="fa fa-square-o" aria-hidden="true"></i>
    {{/if}}
    <span class="description ml-2">Zertifikat</span>
  </div>
  <div class="col people-skill-coreCompetence">
    {{#if peopleSkill.coreCompetence}}
      <i class="fa fa-check-square" aria-hidden="true"></i>
    {{else}}
      <i class="fa fa-square-o" aria-hidden="true"></i>
    {{/if}}
    <span class="description ml-2">Kernkompetenz</span>
  </div>
</div>
<br>
