<div class="row h-100">
  <div class="col pt-3 people-skill-skillname">
    <div class="people-skill-title">{{this.peopleSkill.skill.title}}</div>
  </div>
  <div class="col mb-4 peopleSkillEditLevel">
    <label class="description member-skillset-level-title">{{this.levelName}}</label>
    <UiSlider {{did-insert this.sliderLoading}} @value={{this.levelValue}} @ticks="1,2,3,4,5" @tooltip="hide" @min={{1}} @max={{5}} @immediateResponse={{true}} />
  </div>
  <div class="col people-skill-interest">
    <label class="description member-skillset-interest-title">Interesse</label>
    <IconRating @fillColor="#238BCA" @value={{this.peopleSkill.interest}} @onClick={{action (mut this.peopleSkill.interest)}} />
  </div>
  <div class="col flex-column d-flex justify-content-center">
    <div class="row">
      <Input @type="checkbox" @id={{concat this.peopleSkill.skill.id "-certificate"}} @checked={{this.peopleSkill.certificate}} />
      <label class="description ml-2 mb-0" for={{concat this.peopleSkill.skill.id "-certificate"}}>Zertifikat</label>
    </div>
  </div>
  <div class="col flex-column d-flex justify-content-center">
    <div class="row">
      <Input @type="checkbox" @id={{concat this.peopleSkill.skill.id "-coreCompetence"}} @checked={{this.peopleSkill.coreCompetence}} />
      <label class="description ml-2 mb-0" for={{concat this.peopleSkill.skill.id "-coreCompetence"}}>Kernkompetenz</label>
    </div>
  </div>
</div>
