<div id="left-grid" class="span3">
  {{! Personlist heading }}
  <div class="row-fluid">
    <span class="span8 section-title">{{#link-to 'people'}}Puzzle Mitarbeiter{{/link-to}}</span>
    <div id="thanks">
      {{#link-to "people.new"}}neu...{{/link-to}}
    </div>
  </div>
  {{! Horizontal ruler }}
  <div class="row-fluid">
    <div class="span10">
      <hr>
    </div>
  </div>
  {{! Personlist }}
  <div class="row-fluid person-list">
    <div class="span10">
      <div id="form-search" class="">
        <input id="field-search" type="text" class="span12"
          autocomplete="off" placeholder="Personensuche" oninput={{perform searchPeopleTask value='target.value'}}>
        <button class="btn btn-link"
            onclick={{action (toggle 'advancedSearch' this)}}
            id="toggleSearch">
          {{if advancedSearch '- erweiterte Suche' '+ erweiterte Suche'}}
        </button>
        <br>
        {{#if advancedSearch}}
          <div>
            <select onchange={{action 'setFilter' value="target.value"}}>
              <option value='all'>Alle</option>
              {{#each statusData as |status|}}
                <option value={{status.id}} selected={{eq filterBy status.id}}>
                  {{~status.name~}}
                </option>
              {{/each}}
            </select>
          </div>
        {{/if}}
        <br>
      </div>
      <div class="container-fluid round-border"
        style="background-color: #ccc;">
        <div class="menu_div">
          {{#if showGrouped}}
            {{#cp-panels name="people-list" accordion=true as |panels|}}
              {{#each-in groupedList as |letter people|}}
                {{#panels.panel name=letter as |panel|}}
                  {{#panel.toggle}}
                    <div class="person-list-header">
                      {{~letter~}}
                    </div>
                  {{/panel.toggle}}
                  {{#panel.body}}
                    <ul>
                      {{#each people as |person|}}
                        <li>
                          {{#link-to "person" person.id click=(action 'scrollToTop')}}
                            {{~person.attributes.name~}}
                          {{/link-to}}
                        </li>
                      {{/each}}
                    </ul>
                  {{/panel.body}}
                {{/panels.panel}}
              {{/each-in}}
            {{/cp-panels}}
          {{else}}
            <ul id="person-list">
              {{#each filteredList as |person|}}
                <li>
                  {{#link-to "person" person.id click=(action 'scrollToTop')}}
                    {{~person.attributes.name~}}
                  {{/link-to}}
                </li>
              {{/each}}
            </ul>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
