<div class="mb-2 d-flex">
  <div class="people-search">
    <PowerSelect @triggerId="people-search" @selected={{this.selected}} @options={{this.peopleToSelect}} @searchEnabled={{true}} @searchField="name" @placeholder="{{t "people-search.searchPerson"}}" @onFocus={{action "handleFocus"}} @onBlur={{action "handleBlur"}} @onChange={{action "changePerson"}} as |person|>
      {{person.name}} <small>({{person.company.name}})</small>
    </PowerSelect>
  </div>
  <div class="ml-3">
    {{#if this.selected}}
      <UpdatedAt @entry={{selected}} @class="updated-at-person" />
    {{/if}}
  </div>
</div>
