<div class="row">
  <div class="col">
    {{peopleSkill.skill.title}}
  </div>
  <div class="col">
    {{peopleSkill.level}}
  </div>
  <div class="col">
    {{peopleSkill.interest}}
  </div>
  <div class="col">
    {{peopleSkill.certificate}}
  </div>
  <div class="col">
    {{peopleSkill.core_competence}}
  </div>
</div>
<br>
