{{! Personlist }}
<div class="row-fluid person-list">
  <div id="form-search">
    <div class={{if search 'input-append'}}>
      <input id="field-search"
          type="text"
          autocomplete="off"
          placeholder="Personensuche"
          class="form-control"
          value={{search}}
          oninput={{perform searchPeopleTask value='target.value'}}>
      {{#if search}}
        <button class="btn" onclick={{action 'clearSearch'}}>&times;</button>
      {{/if}}
    </div>
    <button class="btn btn-link"
        onclick={{action (toggle 'advancedSearch' this)}}
        id="toggleSearch">
      {{if advancedSearch '- erweiterte Suche' '+ erweiterte Suche'}}
    </button>
    <br>
    {{#if advancedSearch}}
      <div>
        <select onchange={{action 'setFilter' value="target.value"}}>
          <option value='all'>Alle</option>
          {{#each statusData as |status|}}
            <option value={{status.id}} selected={{eq filterBy status.id}}>
              {{~status.name~}}
            </option>
          {{/each}}
        </select>
      </div>
    {{/if}}
    <br>
  </div>
  <div class="container-fluid round-border">
    <div class="menu_div">
      {{#if showGrouped}}
        {{#cp-panels name="people-list" accordion=true as |panels|}}
          {{#each-in groupedList as |letter people|}}
            {{#panels.panel name=letter as |panel|}}
              {{#panel.toggle}}
                <div class="person-list-header">
                  {{~letter~}}
                </div>
              {{/panel.toggle}}
              {{#panel.body}}
                  {{#each people as |person|}}
                    <span class="badge badge-success p-2 mr-2 mb-2 skill" href="#">
                      {{#link-to "person" person.id click=(action 'scrollToTop')}}
                        {{~person.attributes.name~}}
                      {{/link-to}}
                    </span>
                  {{/each}}
              {{/panel.body}}
            {{/panels.panel}}
          {{/each-in}}
        {{/cp-panels}}
      {{else}}
        {{#each filteredList as |person|}}
          {{#link-to "person" person.id click=(action 'scrollToTop') class="badge badge-success p-2 mr-2 mb-2 skill"}}
              {{~person.attributes.name~}}
          {{/link-to}}
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>
