<div class="row">
  <div class="col people-skill-skillname">
    {{peopleSkill.skill.title}}
  </div>
  <div class="col people-skill-level">
    {{peopleSkill.level}}
  </div>
  <div class="col people-skill-interest">
    {{peopleSkill.interest}}
  </div>
  <div class="col people-skill-certificate">
    {{peopleSkill.certificate}}
  </div>
  <div class="col people-skill-coreCompetence">
    {{peopleSkill.core_competence}}
  </div>
</div>
<br>
