{{skill-show skill=currentSkill}}
{{#nav-sidebar items=sidebarItems}}
  <ul class="nav flex-column mt-2 border">
    {{#if peopleSkillsEditing}}
      <li class="d-flex flex-column nav-link">
        <div class="mb-2 text-center">
          <i class="fa fa-edit"></i> Bearbeiten
        </div>
        <button onclick={{action 'submit' person}} role="button" class="btn btn-primary" id="submit-education-button">Speichern</button>
        <button onclick={{action 'abortEdit'}} role="button" class="btn abort-button w-100 mt-1">Abbrechen</button>
      </li>
    {{else}}
      <li class="d-flex flex-column nav-link">
        <a role="button" class="edit-buttons" onclick={{action (toggle 'peopleSkillsEditing' this)}}>
          <i class="fa fa-edit"></i> Skills bearbeiten
        </a>
      </li>
    {{/if}}
  </ul>
  <ul class="nav flex-column mt-2">
    <li class="d-flex flex-column nav-link border">
      <a role="button" class="edit-buttons" data-toggle="modal" data-target="#people-skill-new-modal">
        <i class="fa fa-plus" aria-hidden="true"></i> Skill hinzufügen
      </a>
    </li>
  </ul>
{{/nav-sidebar}}
<div class="col-sm-10 float-right position-relative">
  {{new-people-skills-show person=person skills=skills}}
  {{people-skill-new peopleSkills=peopleSkills
                     childCategories=childCategories
                     person=person}}
  <div id="peopleSkillsHeader" class="pt-3 pb-5">
    <div class="card-header bg-info people-skills-header">
      <div class="row">
        <div class="col-sm-6">
          <a class="card-link text-dark header-text">Skills ({{peopleSkills.length}})</a>
        </div>
        <div class="col-sm-6 text-right d-block">
          <a class="card-link text-dark" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <i class="fa angle"></i>
          </a>
        </div>
      </div>
    </div>
    <div id="collapseTwo" class="collapse show border border-info rounded-bottom">
      <div class="card-body d-flex flex-column">
        <div class="row mb-3">
          <div class="col-sm-10">
            {{skillset-rated-filter personId=person.id}}
          </div>
        </div>
        {{#if peopleSkills}}
          {{#each skillset as |parentCategory|}}
            <div id="parentCategory-{{parentCategory.id}}" class="row pb-2">
              <div class="col">
                <div class="card-header bg-info people-skills-header">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="text-dark parent-categories-text">
                        {{parentCategory.title}}
                      </div>
                    </div>
                  </div>
                </div>
                {{#each parentCategory.children as |child|}}
                  <div class="show border border-info rounded-bottom">
                    <div class="card-body d-flex flex-column people-skillset-category">
                      <div class="description fs-15">
                        {{child.title}}
                        ({{child.skills.length}})
                      </div>
                      {{#each child.skills as |skill|}}
                        <div class="show border border-info rounded-bottom people-skill-link">
                          <div class="card-body d-flex flex-column people-skillset-skill fs-15">
                            {{#if peopleSkillsEditing}}
                              {{people-skill-edit peopleSkill=skill}}
                            {{else}}
                              {{#people-skill-show peopleSkill=skill toggleSkillShow=(action 'toggleSkillShow' skill.skill)}}
                                <div class="col-md-1 pt-4">
                                  {{#if skill.isRated}}
                                    <a role="button" class="edit-buttons" onclick={{action 'resetPeopleSkill' skill}}>
                                      <i class="fa fa-repeat"></i>
                                    </a>
                                  {{/if}}
                                </div>
                              {{/people-skill-show}}
                            {{/if}}
                          </div>
                        </div>
                      {{/each}}
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
