<div class="row">
  {{#if this.showPersonName}}
    <div role="button" onclick={{toggleSkillShow}} data-toggle={{if this.toggleSkillShow "modal"}} data-target="#skill-show-modal" class="col pt-3 people-skill-person-name">
      <a role="button" onclick={{action "changePerson" this.peopleSkill.person}} class="edit-buttons">
        <span data-dismiss="modal">{{this.peopleSkill.person.name}}</span>
      </a>
    </div>
  {{/if}}
  {{#if this.skillList}}
    {{#each this.peopleSkill.skills as |skill|}}
      <PeopleSkillListShow @title={{skill.title}} @level={{skill.level}} @interest={{skill.interest}} @certificate={{skill.certificate}} @coreCompetence={{skill.coreCompetence}} @showSkillTitle={{true}} class="skills-list-container"/>
    {{/each}}
  {{else}}
      <PeopleSkillListShow @title={{this.peopleSkill.skill.title}} @level={{this.peopleSkill.level}} @interest={{this.peopleSkill.interest}} @certificate={{this.peopleSkill.certificate}} @coreCompetence={{this.peopleSkill.coreCompetence}} @showSkillTitle={{true}}/>
  {{/if}}
  {{yield}}
</div>
<br>