<div id="left-grid" class="span3">
  <!-- Personlist heading -->
  <div class="row-fluid">
    <span class="span8 section-title">Puzzle Mitarbeiter</span>
    <div id="thanks">
      {{#link-to "people.new"}}neu...{{/link-to}}
    </div>
  </div>
  <!-- Horizontal ruler -->
  <div class="row-fluid">
    <div class="span10">
      <hr>
    </div>
  </div>
  <!-- Personlist -->
  <div class="row-fluid person-list">
    <div class="span10">
      <div id="form-search" class="">
        <input id="field-search" type="text" class="span12"
          autocomplete="off" placeholder="Personensuche" oninput={{perform searchPeopleTask value='target.value'}}> 
        <a onclick={{action (toggle 'advancedSearch' this)}} id="toggleSearch">
          {{if advancedSearch '- erweiterte Suche' '+ erweiterte Suche'}}
        </a><br>
        {{#if advancedSearch}}
          <div>
            <select onchange={{action 'setFilter' value="target.value"}}>
              <option value='all'>Alle</option>
              {{#each statusData as |status|}}
                <option value={{status.id}} selected={{eq filterBy status.id}}>{{status.name}}</option>
              {{/each}}
            </select>
          </div>
        {{/if}}
        <br>
      </div>
      <div class="container-fluid round-border"
        style="background-color: #ccc;">
        <div class="menu_div">
          <ul id="person-list">
            {{#each filteredList as |person|}}
              <li>
                {{#link-to "person" person.id click=(action 'scrollToTop')}}
                  {{person.attributes.name}}
                {{/link-to}}
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
