<div id="profil">
  {{#with (changeset person validations) as |changeset|}}
    {{#form-for changeset submit=(action 'submit') as |f|}}
      <div class="card-header bg-primary">
        <div class="row">
          <div class="col-sm-6">
            <a class="card-link text-white" href="#">Personalien</a>
          </div>
          <div class="col-sm-6 text-right d-block">
            <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#"><i class="fa angle"></i></a>
          </div>
        </div>
      </div>
      <div id="collapseOne" class="collapse show border border-primary rounded-bottom">
        <div class="card-body row">
          <div class="col-sm-3 d-flex flex-column" id="profile-content-edit">
            <table class="table-person">
              <tr>
                <div>
                  {{picture-edit picturePath=person.picturePath uploadPath=personPictureUploadPath}}
                </div>
              </tr>
            </table>
            <div class="mt-auto">
              <button {{action 'submit' changeset}} role="button" id="submit-button" class="btn btn-primary"><i class="fa save"></i> Speichern</button>
              <button onclick={{personEditing}} role="button" class="btn btn-secondary"><i class="fa abort"></i> Abbrechen</button>
            </div>
          </div>
          <div class="col-sm-3">
            <table class="table-person">
              <tr>
                <td>{{f.text-field 'name' label="Name"}}</td>
              </tr>
              <tr>
                <td>{{f.text-field 'title' label="Titel"}}</td>
              </tr>
              <tr>
                <td>
                  <Label>Funktion</Label>
                  {{#power-select
                  triggerId="role"
                  selected=person.roles.firstObject
                  options=sortedRoles
                  searchEnabled=true
                  searchField="name"
                  onfocus=(action "handleFocus")
                  onblur=(action "handleBlur")
                  onchange=(action "setRole")
                  as |role|
                  }}
                    {{role.name}}
                  {{/power-select}}
                </td>
              </tr>
              <tr>
                <td>
                  <label>Firma</label>
                  {{#power-select
                    triggerId="company"
                    selected=person.company
                    options=companiesToSelect
                    onfocus=(action "handleFocus")
                    onblur=(action "handleBlur")
                    onchange=(action (mut person.company))
                  as |company|
                  }}
                    {{company.name}}
                  {{/power-select}}
                </td>
              </tr>
            </table>
          </div>
          <div class="col-sm-3">
            <table class="table-person">
              <tr>
                <td>
                  <label class="label-date form-field--label" for='date_location'>Geb.Datum</label>
                  <div id="date_location">
                    {{ember-flatpickr
                      allowInput=false
                      date=person.birthdate
                      dateFormat='d.m.Y'
                      maxDate='today'
                      onChange=(action 'setBirthdate')}}
                  </div>
                </td>
              </tr>
              <tr>
                <td>{{f.text-field 'location' label="Wohnort"}}</td>
              </tr>
              <tr>
                <td>
                  <Label> Zivilstand </Label>
                  {{#power-select
                  triggerId="martialStatus"
                  selected=person.martialStatus
                  options=martialStatuses
                  searchEnabled=false
                  onfocus=(action "handleFocus")
                  onblur=(action "handleBlur")
                  onchange=(action (mut person.martialStatus))
                  as |martialStatus|
                  }}
                    {{martialStatus}}
                  {{/power-select}}
                </td>
              </tr>
              <tr>
                <td>
                  <Label>Doppelbürger</Label>
                  {{input type="checkbox" checked=secondNationality click=(action "switchNationality" value="target.checked")
                    id="toggle-nationalities-id" class="checkbox"}}
                </td>
              </tr>
              <tr>
                <td>
                  <Label>Erste Nationlität</Label>
                  {{#power-select
                    triggerId="nationality"
                    options=countries
                    selected=selectedNationality
                    onchange=(action "setNationality")
                    onfocus=(action "handleFocus")
                    onblur=(action "handleBlur")
                    searchField="1"
                    as |country|}}
                    <span class="flag-icon flag-icon-{{to-lowercase country.[0]}}"></span>{{country.[1]}}
                  {{/power-select}}
                </td>
              </tr>
              <tr>
                {{#if secondNationality}}
                  <td>
                    <Label>Zweite Nationalität</Label>
                    {{#power-select
                      triggerId="nationality2"
                      options=countries
                      selected=selectedNationality2
                      onchange=(action "setNationality2")
                      onfocus=(action "handleFocus")
                      onblur=(action "handleBlur")
                      searchField="1"
                      as |country|}}
                      <span class="flag-icon flag-icon-{{to-lowercase country.[0]}}"></span>{{country.[1]}}
                    {{/power-select}}
                  </td>
                {{/if}}
              </tr>
            </table>
          </div>
          <div class="col-sm-3">
            <table class="table-person">
              <tr>
                <td>{{f.text-field 'language' label="Sprachen"}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    {{/form-for}}
  {{/with}}
</div>
