<div id="profil">
  {{#with (changeset person validations) as |changeset|}}
    {{#form-for changeset submit=(action 'submit') as |f|}}
      <div class="card-header bg-info">
        <div class="row">
          <div class="col-sm-6">
            <a class="card-link text-dark header-text">Personalien</a>
          </div>
        </div>
      </div>
      <div id="collapseOne" class="collapse show border border-info rounded-bottom">
        <div class="card-body row">
          <div class="col-sm-3 d-flex flex-column" id="profile-content-edit">
            <table class="table-person">
              <tr>
                <div>
                  {{picture-edit picturePath=person.picturePath uploadPath=personPictureUploadPath}}
                </div>
              </tr>
            </table>
            <div class="mt-auto">
              <button {{action 'submit' changeset}} role="button" id="submit-button" class="btn btn-primary "><i class="fa save"></i> Speichern</button>
              <button onclick={{action "abortEdit"}} role="button" class="btn btn-secondary"><i class="fa abort"></i> Abbrechen</button>
            </div>
          </div>
          <div class="col-sm-3">
            <table class="table-person">
              <tr>
                <td>{{f.text-field 'name' label="Name"}}</td>
              </tr>
              <tr>
                <td>{{f.text-field 'title' label="Abschluss"}}</td>
              </tr>
              <tr>
                <td>
                  <Label>Funktion</Label>
                  {{#power-select
                  triggerId="role"
                  selected=person.roles.firstObject
                  options=sortedRoles
                  searchEnabled=true
                  searchField="name"
                  onfocus=(action "handleFocus")
                  onblur=(action "handleBlur")
                  onchange=(action "setRole")
                  as |role|
                  }}
                    {{role.name}}
                  {{/power-select}}
                </td>
              </tr>
              <tr>
                <td>
                  <label>Firma/Kategorie</label>
                  {{#power-select
                    triggerId="company"
                    selected=person.company
                    options=companiesToSelect
                    onfocus=(action "handleFocus")
                    onblur=(action "handleBlur")
                    onchange=(action (mut person.company))
                  as |company|
                  }}
                    {{company.name}}
                  {{/power-select}}
                </td>
              </tr>
            </table>
          </div>
          <div class="col-sm-3">
            <table class="table-person">
              <tr>
                <td>
                  <label class="label-date form-field--label" for='date_location'>Geburtsdatum</label>
                  <div id="date_location">
                    {{ember-flatpickr
                      allowInput=false
                      date=person.birthdate
                      dateFormat='d.m.Y'
                      maxDate='today'
                      onChange=(action 'setBirthdate')}}
                  </div>
                </td>
              </tr>
              <tr>
                <td>{{f.text-field 'location' label="Wohnort (Stadt)"}}</td>
              </tr>
              <tr>
                <td>
                  <Label> Zivilstand </Label>
                  {{#power-select
                  triggerId="maritalStatus"
                  selected=selectedMaritalStatus
                  options=maritalStatuses
                  searchEnabled=false
                  onfocus=(action "handleFocus")
                  onblur=(action "handleBlur")
                  onchange=(action "setMaritalStatus")
                  as |maritalStatus|
                  }}
                    {{maritalStatus}}
                  {{/power-select}}
                </td>
              </tr>
              <tr>
                <td>
                  <Label>Doppelb체rger</Label>
                  {{input type="checkbox" checked=secondNationality click=(action "switchNationality" value="target.checked")
                    id="toggle-nationalities-id" class="checkbox"}}
                </td>
              </tr>
              <tr>
                <td>
                  <Label>Erste Nationalit채t</Label>
                  {{#power-select
                    triggerId="nationality"
                    options=countries
                    selected=selectedNationality
                    onchange=(action "setNationality")
                    onfocus=(action "handleFocus")
                    onblur=(action "handleBlur")
                    searchField="1"
                    as |country|}}
                    <span class="flag-icon flag-icon-{{to-lowercase country.[0]}}"></span>{{country.[1]}}
                  {{/power-select}}
                </td>
              </tr>
              <tr>
                {{#if secondNationality}}
                  <td>
                    <Label>Zweite Nationalit채t</Label>
                    {{#power-select
                      triggerId="nationality2"
                      options=countries
                      selected=selectedNationality2
                      onchange=(action "setNationality2")
                      onfocus=(action "handleFocus")
                      onblur=(action "handleBlur")
                      searchField="1"
                      as |country|}}
                      <span class="flag-icon flag-icon-{{to-lowercase country.[0]}}"></span>{{country.[1]}}
                    {{/power-select}}
                  </td>
                {{/if}}
              </tr>
            </table>
          </div>
          <div class="col-sm-3">
            <table>
              <tr>
                <td>{{!Leere Zeile aus Layout-Gr체nden}}</td>
              </tr>
              <tr>
                <td>Sprachen<a href="http://www.europaeischer-referenzrahmen.de/" target="_blank" rel="noopener"><i class="ml-2 fa fa-question-circle" aria-hidden="true"></i></a></td>
              </tr>
              <tr>
                <div class="border rounded mt-2 p-2">
                  {{language-skills-edit person=person}}
                </div>
              </tr>
            </table>
          </div>
        </div>
      </div>
    {{/form-for}}
  {{/with}}
</div>
