{{#sticky-container}}
  <nav id="person-sidebar" class="border">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#main" onclick={{action 'scrollTo' '#particulars'}}><p class="mt-2">Personalien</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#competences" onclick={{action 'scrollTo' '#competences'}}><p class="mt-2">Kernkompetenzen</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#educations" onclick={{action 'scrollTo' '#educations'}}><p class="mt-2">Ausbildung</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#advancedTrainings" onclick={{action 'scrollTo' '#advancedTrainings'}}><p class="mt-2">Weiterbildung</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#activities" onclick={{action 'scrollTo' '#activities'}}><p class="mt-2">Stationen</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projects" onclick={{action 'scrollTo' '#projects'}}><p class="mt-2">Projekte</p></a>
      </li>
    </ul>
  </nav>
{{/sticky-container}}
