<div class="card-header bg-primary">
  <div class="row">
    <div class="col-sm-6">
      <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Personalien</a>
    </div>
    <div class="col-sm-6 text-right d-block">
      <a onclick={{personEditing}} data-test-person-edit-form-toggle class="card-link text-white"><i class="fa edit"></i></a>
      <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa angle"></i></a>
    </div>
  </div>
</div>
<div id="collapseOne" class="collapse show border border-primary rounded-bottom">
  <div class="card-body">
    <div class="row" id="profile-content-show">
      <div class="col-sm-2">
        <img id="img-avatar-read"
             src={{person.picturePath}}
               class="img-polaroid profil-img"
        alt="">
      </div>
      <div class="col-sm-5">
        <table class="table-uebersicht">
          <tr>
            <td>Firma</td>
            <td data-test-person-company>{{person.company.name}}</td>
          </tr>
          <tr>
            <td>Name</td><td id="data-test-person-name">{{person.name}}</td>
          </tr>
          <tr>
            <td>Titel</td><td id="data-test-person-title">{{person.title}}</td>
          </tr>
          <tr>
            <td>Funktion</td><td id="data-test-person-role">{{person.roles.firstObject.name}}</td>
          </tr>
          <tr>
            <td>Geb. Datum</td>
            <td>
              <time datetime={{moment-format person.birthdate}} id="data-test-person-birthdate">
                {{~moment-format person.birthdate 'L'~}}
              </time>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-sm-5">
        <table class="table-uebersicht">
          <tr>
            <td></td>
          </tr>
          <tr>
            <td>Nationalität</td><td id="data-test-person-nationality">{{format-country person.nationality}}</td>
          </tr>
          {{#if person.nationality2}}
            <tr>
              <td>Weitere Nationalität</td><td id="data-test-person-nationality2">{{format-country person.nationality2}}</td>
            </tr>
          {{/if}}
          <tr>
            <td>Wohnort</td><td id="data-test-person-location">{{person.location}}</td>
          </tr>
          <tr>
            <td>Sprachen</td><td id="data-test-person-language">{{person.language}}</td>
          </tr>
          <tr>
            <td>Zivilstand</td><td id="data-test-person-marital-status">{{person.martialStatus}}</td>
          </tr>
          {{#each company.employeeQuantities as |quantity|}}
            <tr>
              <td>{{quantity.category}}</td><td>{{quantity.quantity}}</td>
            </tr>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
</div>
