<div id="profil">
  {{#validated-form model=(changeset this.person PersonEditValidations) on-submit=(action "submit") as |personChangeset|}}
    <div class="card-header bg-info">
      <div class="row">
        <div class="col-sm-6 header-text">
          Personalien
        </div>
      </div>
    </div>
    <div class="border border-info rounded-bottom">
      <div class="card-body">
        <div class="row">
          <div class="p-4">
            <PictureEdit @picturePath={{this.picturePath}} @uploadPath={{this.personPictureUploadPath}} />
          </div>

          <div class="col-sm">
            <table class="table-person">
              <tbody>
                <tr>
                  <td>{{personChangeset.input label="Name" name="name" errorComponent=(component "validation-error-component")}}</td>
                </tr>
                <tr>
                  <td>{{personChangeset.input label="Email" name="email" errorComponent=(component "validation-error-component")}}</td>
                </tr>
                <tr>
                  <td>{{personChangeset.input label="Abschluss" name="title" errorComponent=(component "validation-error-component")}}</td>
                </tr>
                <tr>
                  <label>Funktionen</label>
                </tr>
                {{#each this.person.personRoles as |personRole|}}
                  <div class="border rounded mt-2 p-2">
                    <tr>
                      <td>
                        <label class="description role-description">Rolle</label>
                        <div class="role-dropdown">
                          <PowerSelect @selected={{personRole.role}} @options={{this.sortedRoles}} @onFocus={{action "handleFocus"}} @onBlur={{action "handleBlur"}} @onChange={{action "setRole" personRole}} @onKeydown={{action "setPersonRoleWithTab" personRole}} @disabled={{this.usedRoles}} as |role|>
                            {{role.name}}
                          </PowerSelect>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="description role-description">Stufe</label>
                        <div class="level-dropdown">
                          {{#if this.personRoleLevelsToSelect}}
                            <PowerSelect @selected={{selected-person-role-level this.personRoleLevelsToSelect level=personRole.level}} @options={{this.personRoleLevelsToSelect}} @onFocus={{action "handleFocus"}} @onBlur={{action "handleBlur"}} @onChange={{action "setPersonRoleLevel" personRole}} @onKeydown={{action "setPersonRoleLevelWithTab" personRole}} as |personRoleLevel|>
                              {{personRoleLevel.level}}
                            </PowerSelect>
                          {{/if}}
                        </div>
                        <div class="percent-field">
                          <input name="person[role-percent]" placeholder="in %" type="number" value={{personRole.percent}} onchange={{action "setRolePercent" personRole}} max="9999">
                        </div>
                        <div class="delete-role-icon">
                          <DeleteWithConfirmation @entry={{personRole}} @class="edit-buttons" />
                        </div>
                      </td>
                    </tr>
                  </div>
                {{/each}}
                <tr>
                  <td>
                    <a href="#" class="nav-link language-button" role="button" {{action "addRole" this.person}}>
                      <i class="fa fa-plus" aria-hidden="true"></i>
                      Neue Funktion
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Organisationseinheit</label>
                    <PowerSelect @triggerId="department" @selected={{this.person.department}} @options={{this.departmentsToSelect}} @onFocus={{action "handleFocus"}} @onBlur={{action "handleBlur"}} @onChange={{action (mut this.person.department)}} @onKeydown={{action "setWithTab" "setDepartment"}} as |department|>
                      {{department.name}}
                    </PowerSelect>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Firma</label>
                    <PowerSelect @triggerId="company" @selected={{this.person.company}} @options={{this.companiesToSelect}} @onFocus={{action "handleFocus"}} @onBlur={{action "handleBlur"}} @onChange={{action (mut this.person.company)}} @onKeydown={{action "setWithTab" "setCompany"}} as |company|>
                      {{company.name}}
                    </PowerSelect>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm">
            <table class="table-person">
              <tbody>
                <tr>
                  <td>{{personChangeset.input label="Geburtsdatum" name="birthdate" renderComponent=(component "validation-date-input" input=this.person.birthdate) errorComponent=(component "validation-error-component")}}</td>
                </tr>
                <tr>
                  <td>{{personChangeset.input label="Wohnort (Stadt)" name="location" errorComponent=(component "validation-error-component")}}</td>
                </tr>
                <tr>
                  <td>
                    <label>Zivilstand</label>
                    <PowerSelect @triggerId="maritalStatus" @selected={{this.selectedMaritalStatus}} @options={{this.maritalStatuses}} @searchEnabled={{false}} @onFocus={{action "handleFocus"}} @onBlur={{action "handleBlur"}} @onChange={{action "setMaritalStatus"}} @onKeydown={{action "setWithTab" "setMaritalStatus"}} as |maritalStatus|>
                      {{maritalStatus}}
                    </PowerSelect>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Doppelb체rger</label>
                    <Input @type="checkbox" @checked={{this.secondNationality}} @click={{action "switchNationality" value="target.checked"}} @id="toggle-nationalities-id" class="checkbox" />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Erste Nationalit채t</label>
                    <PowerSelect @triggerId="nationality" @options={{this.countries}} @selected={{this.selectedNationality}} @onChange={{action "setNationality"}} @onFocus={{action "handleFocus"}} @onBlur={{action "handleBlur"}} @onKeydown={{action "setWithTab" "setNationality"}} @searchField="1" as |country|>
                      <span class="flag-icon flag-icon-{{to-lowercase country.[0]}}"></span>{{country.[1]}}
                    </PowerSelect>
                  </td>
                </tr>
                <tr>
                  {{#if this.secondNationality}}
                    <td>
                      <label>Zweite Nationalit채t</label>
                      <PowerSelect @triggerId="nationality2" @options={{this.countries}} @selected={{this.selectedNationality2}} @onChange={{action "setNationality2"}} @onFocus={{action "handleFocus"}} @onBlur={{action "handleBlur"}} @onKeydown={{action "setWithTab" "setNationality2"}} @searchField="1" as |country|>
                        <span class="flag-icon flag-icon-{{to-lowercase country.[0]}}"></span>{{country.[1]}}
                      </PowerSelect>
                    </td>
                  {{/if}}
                </tr>
                <tr>
                  <td>{{personChangeset.input label="K체rzel" name="shortname" errorComponent=(component "validation-error-component")}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-sm">
            <table>
              <tbody>
                <tr>
                  <td>
                    Sprachen
                    <a href="http://www.europaeischer-referenzrahmen.de/" target="_blank" rel="noopener noreferrer">
                      <i class="ml-2 fa fa-question-circle" aria-hidden="true"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <div class="border rounded mt-2 p-2">
                    <LanguageSkillsEdit @person={{this.person}} />
                  </div>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br>
        {{personChangeset.submit label="Speichern" id="submit-button"}}
        <button type="button" {{action "abortEdit"}} role="button" class="btn abort-button">
          Abbrechen
        </button>
      </div>
    </div>
  {{/validated-form}}
</div>
