<div id="variation">
  <div class="row">
    <ul class="nav nav-tabs" id="variation-selection">
      <li id="actual-cv-pill" class="nav-item">
        {{#link-to "person" (or person.originPersonId person) class="nav-link"}}CV{{/link-to}}
      </li>
      {{#link-to "person.fws" (or person.originPersonId person) tagName="li" class="nav-item"}}
        <a class="nav-link">Fachwissensskala</a>
      {{/link-to}}
    </ul>
  </div>

  <div class="row">
    <ul>
      <li id="variation-cv-pill" class={{if person.originPersonId 'active'}} class="btn btn-outline-primary dropdown-toggle btn-w-1">
      {{#basic-dropdown onOpen=(action 'loadPersonVariations' person.originPersonId person.id) as |dd|}}
        {{#dd.trigger class="btn btn-default"}}
          {{#if person.originPersonId}}
            {{person.variationName}}
          {{else}}
            Varianten
          {{/if}}
          <b class="caret"></b>
        {{/dd.trigger}}
        {{#dd.content}}
          <ul class="content-bootstrap-feel dropdown-menu"
              data-test-variation-dropdown-content>
            {{#each personVariations as |pv|}}
              <li id="change-variation-link"
                  class={{if (eq pv.id person.id) 'active'}}>
                {{#link-to "person" pv.id click=(action dd.actions.close)}}
                  {{~pv.attributes.variation_name~}}
                {{/link-to}}
              </li>
            {{/each}}
            {{#unless person.originPersonId}}
              {{#if personVariations.length}}<hr>{{/if}}
              <li>
                <a class="new-variation-link"
                   onclick={{pipe dd.actions.close (toggle 'createVariationModal' this)}}>
                  Neue Variante erstellen...
                </a>
              </li>
            {{/unless}}
          </ul>
        {{/dd.content}}
      {{/basic-dropdown}}
      </li>
    </ul>

    <div class="dropdown">
      <button type="button" class="btn btn-outline-primary dropdown-toggle float-right btn-w-1" data-toggle="dropdown">Optionen</button>
      <div class="dropdown-menu">
        {{!TODO update or create not working}}
        {{#if person.originPersonId}}
          <a onclick={{action (toggle 'updateVariationModal' this)}} class="dropdown-item" href="#">Varianten Name ändern...</a>
          <a onclick={{action (toggle 'deletePersonConfirm' this)}} class="dropdown-item">Variante Löschen</a>
        {{else}}
          <a class="new-variation-link"
             onclick={{action (toggle 'createVariationModal' this)}} class="dropdown-item">
            Neue Variante erstellen...
          </a>
          <a onclick={{action (toggle 'deletePersonConfirm' this)}} class="dropdown-item">CV Löschen</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>


{{#if createVariationModal}}
  {{#modal-dialog hasOverlay=false}}
    <div data-test-variation-modal>
      <h1>CV-Variante erstellen</h1>
      <hr>
      {{#form-for (changeset person validations) submit=(pipe-action (action 'createPersonVariation' person.id)
      (toggle 'createVariationModal' this)) as |f|}}
        {{f.text-field 'variationName' label="Varianten Name"}}
        <br>
        <button {{action (toggle 'createVariationModal' this)}} class="btn">Abbrechen</button>
        {{f.submit "Speichern"class="btn btn-primary"}}
      {{/form-for}}
    </div>
  {{/modal-dialog}}
{{/if}}

{{#if updateVariationModal}}
  {{#modal-dialog hasOverlay=false}}
    <h1>CV-Variantenname ändern</h1>
    <hr>
    {{#form-for (changeset person validations)
                submit=(pipe-action (action 'updateVariationName')
                                    (toggle 'updateVariationModal' this)) as |f|}}
      {{f.text-field 'variationName' label="Varianten Name"}}
      <br>
      <button {{action (toggle 'updateVariationModal' this)}} class="btn">Abbrechen</button>
      {{f.submit "Speichern" class="btn btn-primary"}}
    {{/form-for}}
  {{/modal-dialog}}
{{/if}}

{{#if deletePersonConfirm}}
  {{#modal-dialog hasOverlay=false}}
    <div class="dialog-content">
      <div class="dialog-text">
        <p>Möchten Sie dieses CV unwiederruflich löschen?</p>
      </div>
      <div class="dialog-footer">
        <button {{action 'deletePerson' person}} class="confirm-button btn btn-danger">
          <i class="fa fa-check-circle-o"></i>
          CV Löschen
        </button>
        <button onclick={{action (toggle 'deletePersonConfirm' this)}} class="cancel-button btn pull-right">
          <i class="fa fa-ban"></i>
          Abbrechen
        </button>
      </div>
    </div>
  {{/modal-dialog}}
{{/if}}


