<br>
<div class="card">
  <div class="card-header bg-info">
    <div class="row">
      <div class="col-sm-6 header-text">
        {{t "person-show.particulars"}}
      </div>
    </div>
  </div>
  <div class="border border-info rounded-bottom">
    <div class="card-body">
      <div class="row" id="profile-content-show">
        <div class="col-sm-3">
          <table>
            <tbody>
              <tr>
                <img id="img-avatar-read" src={{this.picturePath}} class="wh-15 img-polaroid profil-img rounded-circle" alt="" role="presentation">
              </tr>
              <div class="mt-4">
              </div>
              <tr>
                <a onclick={{this.personEditing}} class="edit-buttons" role="button" data-test-person-edit-form-toggle>
                  <td><i class="fa fa-edit" aria-hidden="true"></i> {{t "person-show.edit"}}</td>
                </a>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-3">
          <table class="table-person">
            <tbody>
              <tr class="description">
                <td>{{t "person-show.name"}}</td>
              </tr>
              <tr>
                <td id="data-test-person-name" class="cv-search-searchable">{{this.person.name}}</td>
              </tr>
              <div class="mb-2">
              </div>
              <tr class="description">
                <td>Email</td>
              </tr>
              <tr>
                <td id="data-test-person-email">{{@person.email}}</td>
              </tr>
              <div class="mb-2">
              </div>
              <tr class="description">
                <td>{{t "person-show.degree"}}</td>
              </tr>
              <tr>
                <td id="data-test-person-title" class="cv-search-searchable">{{@person.title}}</td>
              </tr>
              <div class="mb-2">
              </div>
              <tr class="description">
                <td>{{t "person-show.function"}}</td>
              </tr>
              {{#if this.person.personRoles.length}}
                {{#each @person.personRoles as |personRole|}}
                  <tr>
                    <td id="data-test-person-role">
                      {{personRole.role.name}}
                      {{personRole.level}}
                      {{#if personRole.percent}}
                        {{personRole.percent}}%
                      {{/if}}
                    </td>
                  </tr>
                {{/each}}
              {{/if}}
              <div class="mb-2">
              </div>
              <tr class="description">
                <td>{{t "person-show.department"}}</td>
              </tr>
              <tr>
                <td id="data-test-person-department">{{@person.department.name}}</td>
              </tr>
              <div class="mb-2">
              </div>
              <tr class="description">
                <td>{{t "person-show.company"}}</td>
              </tr>
              <tr>
                <td id="data-test-person-company">{{@person.company.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <table class="table-person">
            <tbody>
              <tr class="description">
                <td>{{t "person-show.birthdate"}}</td>
              </tr>
              <tr>
                <td>
                  <time datetime={{moment-format @person.birthdate}} id="data-test-person-birthdate">
                    {{~moment-format @person.birthdate "L"~}}
                  </time>
                </td>
              </tr>
              <div class="mb-2">
              </div>
              <tr class="description">
                <td>{{t "person-show.nationality"}}{{#if @person.nationality2}}en{{/if}}</td>
              </tr>
              <tr>
                <td id="data-test-person-nationalities">
                  {{get (format-country @person.nationality) 1}}{{#if @person.nationality2}}, {{get (format-country @person.nationality2) 1}}{{/if}}
                </td>
              </tr>
              <div class="mb-2">
              </div>
              <tr class="description">
                <td>{{t "person-show.placeOfResidence"}}</td>
              </tr>
              <tr>
                <td id="data-test-person-location">{{@person.location}}</td>
              </tr>
              <div class="mb-2">
              </div>
              <tr class="description">
                <td>{{t "person-show.maritalStatus"}}</td>
              </tr>
              <tr>
                <td id="data-test-person-marital-status">{{this.maritalStatus}}</td>
              </tr>
              <tr class="description">
                <td>{{t "person-show.shortname"}}</td>
              </tr>
              <tr>
                <td id="data-test-person-shortname">{{@person.shortname}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <table class="table-person">
            <tbody>
              <tr class="description">
                <td>{{t "person-show.languages"}}<a href="http://www.europaeischer-referenzrahmen.de/" target="_blank" rel="noopener noreferrer"><i class="ml-2 fa fa-question-circle" aria-hidden="true"></i></a></td>
              </tr>
              <tr>
                <div class="border rounded mt-2">
                  <table class="table table-borderless">
                    <tbody>
                      {{#each this.sortedLanguageSkills as |skill|}}
                        <tr>
                          <td data-test-person-language class="description">{{skill.language}}</td>
                          <td class="language-level"><img alt="" role="presentation" src="/assets/language-levels/{{to-lowercase skill.level}}.svg"></td>
                          <td class="language-certificate">
                            {{#if skill.certificate}}
                              <img alt="" role="presentation" src="/assets/icon_certificate.svg" data-toggle="tooltip" data-placement="right" title={{skill.certificate}}>
                            {{/if}}
                          </td>
                        </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(() => {
    $('[data-toggle="tooltip"]').tooltip();
  })
</script>
