<div id="profil">
  {{#with (changeset person validations) as |changeset|}}
    {{#form-for changeset submit=(action 'submit') as |f|}}
      <div class="card-header bg-primary">
        <div class="row">
          <div class="col-sm-6">
            <a class="card-link text-white" href="#">Übersicht</a>
          </div>
          <div class="col-sm-6 text-right d-block">
            <a {{action 'submit' changeset}} role="button" id="submit-button" class="card-link text-white"><i class="fa save"></i></a>
            <a onclick={{personEditing}} role="button" class="card-link text-white"><i class="fa abort"></i></a>
            <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#"><i class="fa angle"></i></a>
          </div>
        </div>
      </div>
      <div id="collapseOne" class="collapse show border border-primary rounded-bottom">
        <div class="card-body row">
          <div class="col-sm-2" id="profile-content-edit">
            {{picture-edit picturePath=person.picturePath uploadPath=personPictureUploadPath}}
          </div>
          <div class="col-sm-5">
            <table class="table-uebersicht">
              <tr>
                <td>
                  <label>Firma</label>
                  {{#power-select
                    selected=person.company
                    options=companiesToSelect
                    onfocus=(action "handleFocus")
                    onblur=(action "handleBlur")
                    onchange=(action (mut person.company))
                  as |company|
                  }}
                    {{company.name}}
                  {{/power-select}}
                </td>
              </tr>
              <tr>
                <td>{{f.text-field 'name' label="Name"}}</td>
              </tr>
              <tr>
                <td>{{f.text-field 'title' label="Titel"}}</td>
              </tr>
              <tr>
                <td>
                  <Label> Funktion </Label>
                  {{#power-select
                  selected=person.role
                  options=sortedRoles
                  searchEnabled=false
                  onfocus=(action "handleFocus")
                  onblur=(action "handleBlur")
                  onchange=(action (mut person.role))
                  as |role|
                  }}
                    {{role}}
                  {{/power-select}}
                </td>
              </tr>
              <tr>
                <td>
                  <label class="label-date form-field--label" for='date_location'>Geb.Datum</label>
                  <div id="date_location">
                    {{ember-flatpickr
                      allowInput=false
                      date=person.birthdate
                      dateFormat='d.m.Y'
                      maxDate='today'
                      onChange=(action 'setBirthdate')}}
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-sm-5">
            <table class="table-uebersicht">
              <tr>
                <td>{{!Leere Zeile aus Layout-Gründen}}</td>
              </tr>
              <tr>
                <td>{{f.text-field 'origin' label="Nationalität"}}</td>
              </tr>
              <tr>
                <td>{{f.text-field 'location' label="Wohnort"}}</td>
              </tr>
              <tr>
                <td>{{f.text-field 'language' label="Sprache"}}</td>
              </tr>
              <tr>
                <td>
                  <Label> Zivilstand </Label>
                  {{#power-select
                  selected=person.martialStatus
                  options=martialStatuses
                  searchEnabled=false
                  onfocus=(action "handleFocus")
                  onblur=(action "handleBlur")
                  onchange=(action (mut person.martialStatus))
                  as |martialStatus|
                  }}
                    {{martialStatus}}
                  {{/power-select}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    {{/form-for}}
  {{/with}}
</div>
