<section id="profil" class="section">
  {{#form-for newPerson submit=(action 'submit') as |f|}}
    <div class="card-header bg-primary">
      <div class="row">
        <div class="col-sm-6">
          <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Person Erfassen</a>
        </div>
        <div class="col-sm-6 text-right d-block">
          <a {{action 'submit' newPerson}} role="button" id="submit-button" class="card-link text-white"><i class="fa save"></i></a>
        </div>
      </div>
    </div>
    <div id="collapseOne" class="collapse show border border-primary rounded-bottom">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <table class="table-person">
              <tr>
                <td>{{f.text-field 'name' label="Name"}}</td>
              </tr>
              <tr>
                <td>{{f.text-field 'title' label="Titel"}}</td>
              </tr>
              <tr>
                <td>
                  <Label> Funktion </Label>
                  {{#power-select
                  triggerId="role"
                  selected=newPerson.roles.firstObject
                  options=sortedRoles
                  searchEnabled=false
                  searchField="name"
                  onfocus=(action "handleFocus")
                  onblur=(action "handleBlur")
                  onchange=(action "setRole")
                  as |role|
                  }}
                    {{role.name}}
                  {{/power-select}}
                </td>
              </tr>
              <tr>
                <td>
                  <label>Firma</label>
                  {{#power-select
                    triggerId="company"
                    selected=newPerson.company
                    options=companiesToSelect
                    searchField="name"
                    onfocus=(action "handleFocus")
                    onblur=(action "handleBlur")
                    onchange=(action (mut newPerson.company))
                    as |company|
                    }}
                    {{company.name}}
                  {{/power-select}}
                </td>
              </tr>
            </table>
          </div>
          <div class="col-sm-4">
            <table class="table-person">
              <tr>
                <td>
                  <div class="text-field form-group">
                    <label class="label-date form-field--label" for='date_location'>Geb.Datum</label>
                    <div id="date_location">
                      {{ember-flatpickr
                        allowInput=false
                        date='01.01.1990'
                        dateFormat='d.m.Y'
                        maxDate='today'
                        onChange=(action 'setBirthdate')}}
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <Label>Nationalität</Label>
                  {{#power-select
                    triggerId="nationality"
                    options=countries
                    selected=selectedNationality
                    onchange=(action "setNationality")
                    onfocus=(action "handleFocus")
                    onblur=(action "handleBlur")
                    searchField="1"
                    as |country|}}
                    <span class="flag-icon flag-icon-{{to-lowercase country.[0]}}"></span>{{country.[1]}}
                  {{/power-select}}
                </td>
              </tr>
              <tr>
                <td>
                  <Label>Weitere Nationalität</Label>
                  {{#power-select
                    options=countries
                    allowClear=true
                    selected=selectedNationality2
                    onchange=(action "setNationality2")
                    onfocus=(action "handleFocus")
                    onblur=(action "handleBlur")
                    searchField="1"
                    as |country|}}
                    <span class="flag-icon flag-icon-{{to-lowercase country.[0]}}"></span>{{country.[1]}}
                  {{/power-select}}
                </td>
              </tr>
              <tr>
                <td>{{f.text-field 'location' label="Wohnort"}}</td>
              </tr>
              <tr>
                <td>
                  <Label> Zivilstand </Label>
                  {{#power-select
                  triggerId="martialStatus"
                  selected=newPerson.martialStatus
                  options=martialStatuses
                  searchEnabled=false
                  onfocus=(action "handleFocus")
                  onblur=(action "handleBlur")
                  onchange=(action (mut newPerson.martialStatus))
                  as |martialStatus|
                  }}
                    {{martialStatus}}
                  {{/power-select}}
                </td>
              </tr>
            </table>
          </div>
          <div class="col-sm-4">
            <table class="table-person">
              <tr>
                <td>{{f.text-field 'language' label="Sprache"}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  {{/form-for}}
</section>
