<div class="modal fade" id="person-cv-export" tabindex="-1" role="dialog" aria-labelledby="person-cv-export-label" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="person-cv-export-label">CV-Export</h5>
        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div>{{t "person-cv-export.locationForFooter"}}</div>
          <PowerSelect @selected={{this.selectedLocation}} @options={{this.availableLocations}} @onFocus={{this.handleFocus}}
                          @onBlur={{this.handleBlur}} @onChange={{action "setLocation"}} as |location|>
            {{location.shortName}}
          </PowerSelect>
          <div id="includeCompetencesAndSkills-toggle" class="row my-3">
            <div class="col-md-6">{{t "person-cv-export.coreCompetenciesSkills"}}</div>
            <XToggle @theme="material" @size="small" @value={{this.includeCompetencesAndSkills}} @onToggle={{fn (mut this.includeCompetencesAndSkills)}} />
          </div>
          <div id="includeInterestCompetence-toggle" class="row my-3">
            <div class="col-md-6">{{t "person-cv-export.interestCompetencies"}}</div>
            <XToggle @theme="material" @size="small" @value={{this.includeOnlyCompetencesByInterests}} @onToggle={{fn (mut this.includeOnlyCompetencesByInterests)}} />
          </div>
          <div class="row my-3 {{unless this.includeOnlyCompetencesByInterests "hidden"}}">
            <div class="col-md-6">{{t "skill-search.interest"}}</div>
              <IconRating @fillColor="#238BCA" @value={{this.interestValue}} @onClick={{action (mut this.interestValue)}} disabled={{this.invalidKuchen}}/>
          </div>
          <div class="row my-3">
            <button type="button" {{on "click" this.startExport}} class="btn btn-primary btn-lg btn-block">{{t "person-cv-export.normalCV"}}</button>
          </div>
          <div class="row my-3">
            <button type="button" {{on "click" this.startAnonymizedExport}} class="btn btn-primary btn-lg btn-block">{{t "person-cv-export.anonymisedCV"}}</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{t "person-cv-export.cancel"}}</button>
      </div>
    </div>
  </div>
</div>
