<div class="row">
  <div class="col-sm-12">
    <ul class="nav nav-tabs container-fluid" id="variation-selection">
      {{#link-to "person.index" (or person.originPersonId person) tagName="li" class="nav-item" href="false"}}
        {{#link-to "person.index" class="nav-link"}}CV{{/link-to}}
      {{/link-to}}
      {{#link-to "person.fws" (or person.originPersonId person) tagName="li" class="nav-item" href="false"}}
        {{#link-to "person.fws" class="nav-link"}}FWS{{/link-to}}
      {{/link-to}}
    </ul>
  </div>
</div>
<div class="row mt-2">
  <div class="col-sm-8">
    <div id="variation">
      <ul class="list-unstyled float-left">
        <li id="variation-cv-pill" class="{{if person.originPersonId 'active'}}">
          {{#basic-dropdown onOpen=(action 'loadPersonVariations' person.originPersonId person.id) as |dd|}}
            {{#dd.trigger class="btn btn-outline-primary dropdown-toggle btn-w-1 mr-2"}}
              {{#if person.originPersonId}}
                {{person.variationName}}
              {{else}}
                Varianten
              {{/if}}
              <b class="caret"></b>
            {{/dd.trigger}}
            {{#dd.content}}
              <ul class="content-bootstrap-feel dropdown-menu"
                  data-test-variation-dropdown-content>
                {{#each personVariations as |pv|}}
                  <li id="change-variation-link"
                      class={{if (eq pv.id person.id) 'active'}}>
                    {{#link-to "person" pv.id click=(action dd.actions.close)}}
                      {{~pv.attributes.variation_name~}}
                    {{/link-to}}
                  </li>
                {{/each}}
                {{#unless person.originPersonId}}
                  {{#if personVariations.length}}<hr>{{/if}}
                  <li>
                    <a href="#" class="new-variation-link"
                       onclick={{pipe dd.actions.close (toggle 'createVariationModal' this)}}>
                      Neue Variante erstellen...
                    </a>
                  </li>
                {{/unless}}
              </ul>
            {{/dd.content}}
          {{/basic-dropdown}}
        </li>
      </ul>
      <ul class="list-unstyled float-left">
        <li class="dropdown right">
          {{#basic-dropdown as |dd|}}
            {{#dd.trigger class="btn btn-outline-primary dropdown-toggle btn-w-1 mr-2"}}Optionen <b class="caret"></b>{{/dd.trigger}}
            {{#dd.content}}
              <ul class="content-bootstrap-feel dropdown-menu">
                {{#if person.originPersonId}}
                  <li>
                    <a href="#" class="update-variation-link"
                       onclick={{pipe dd.actions.close (toggle 'updateVariationModal' this)}}>
                      Varianten Name ändern...
                    </a>
                  </li>
                  <li>
                    <a href="#" onclick={{pipe dd.actions.close (toggle 'deletePersonConfirm' this)}}>Variante Löschen</a>
                  </li>
                {{else}}
                  <li>
                    <a href="#" class="new-variation-link"
                       onclick={{pipe dd.actions.close (toggle 'createVariationModal' this)}}>
                      Neue Variante erstellen...
                    </a>
                  </li>
                  <li>
                    <a href="#" onclick={{pipe dd.actions.close (toggle 'deletePersonConfirm' this)}}>CV Löschen</a>
                  </li>
                {{/if}}
              </ul>
            {{/dd.content}}
          {{/basic-dropdown}}
        </li>
      </ul>
      <ul class="list-unstyled float-left">
        <li class="dropdown right">
          {{#basic-dropdown as |dd|}}
            {{#dd.trigger class="btn btn-outline-primary dropdown-toggle btn-w-1"}}Exportieren <b class="caret"></b>{{/dd.trigger}}
            {{#dd.content}}
              <ul class="content-bootstrap-feel dropdown-menu">
                <li>
                  <a href="#" class="update-variation-link" onclick={{pipe (action 'exportCvOdt' person.id) dd.actions.close}}>
                    {{#if person.originPersonId}}
                      Aktuelle Variante
                    {{else}}
                      Aktuelles CV
                    {{/if}}
                  </a>
                </li>
                <li>
                  <a href="#" class="update-variation-link" onclick={{pipe (action 'exportDevFws' person.id) dd.actions.close}}>
                    Fachwissensskala Entwickler
                  </a>
                </li>
                <li>
                  <a href="#" class="update-variation-link" onclick={{pipe (action 'exportSysFws' person.id) dd.actions.close}}>
                    Fachwissensskala Systemtechniker
                  </a>
                </li>
              </ul>
            {{/dd.content}}
          {{/basic-dropdown}}
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4">
    <span class="text-right d-block">
      <strong>Letztes Update <span class="text-danger"><time datetime={{moment-format person.updatedAt}}>{{moment-format person.updatedAt 'L LT'}}</time></span></strong>
    </span>
  </div>
</div>



{{#if createVariationModal}}
  {{#modal-dialog hasOverlay=false}}
    <div data-test-variation-modal>
      <h1>CV-Variante erstellen</h1>
      <hr>
      {{#form-for (changeset person validations) submit=(pipe-action (action 'createPersonVariation' person.id)
      (toggle 'createVariationModal' this)) as |f|}}
        {{f.text-field 'variationName' label="Varianten Name"}}
        <br>
        <button {{action (toggle 'createVariationModal' this)}} class="btn">Abbrechen</button>
        {{f.submit "Speichern"class="btn btn-primary"}}
      {{/form-for}}
    </div>
  {{/modal-dialog}}
{{/if}}

{{#if updateVariationModal}}
  {{#modal-dialog hasOverlay=false}}
    <h1>CV-Variantenname ändern</h1>
    <hr>
    {{#form-for (changeset person validations)
                submit=(pipe-action (action 'updateVariationName')
                                    (toggle 'updateVariationModal' this)) as |f|}}
      {{f.text-field 'variationName' label="Varianten Name"}}
      <br>
      <button {{action (toggle 'updateVariationModal' this)}} class="btn">Abbrechen</button>
      {{f.submit "Speichern" class="btn btn-primary"}}
    {{/form-for}}
  {{/modal-dialog}}
{{/if}}

{{#if deletePersonConfirm}}
  {{#modal-dialog hasOverlay=false}}
    <div class="dialog-content">
      <div class="dialog-text">
        <p>Möchten Sie dieses CV unwiederruflich löschen?</p>
      </div>
      <div class="dialog-footer">
        <button {{action 'deletePerson' person}} class="confirm-button btn btn-danger">
          <i class="fa fa-check-circle-o"></i>
          CV Löschen
        </button>
        <button onclick={{action (toggle 'deletePersonConfirm' this)}} class="cancel-button btn pull-right">
          <i class="fa fa-ban"></i>
          Abbrechen
        </button>
      </div>
    </div>
  {{/modal-dialog}}
{{/if}}


