<section id="profil" class="section">
  {{#form-for newPerson submit=(action 'submit') as |f|}}
    <div class="row-fluid">
      <h2>Mitarbeiter erfassen</h2>
      <div class="span5">
        <span class="section-title">Personalien</span>
      </div>
      <div class="pull-right">
        {{f.submit "Speichern"}}
      </div>
    </div>
    <!-- Horizontal ruler -->
    <div class="row-fluid">
      <div class="span12">
        <hr>
      </div>
    </div>
    <div class="row-fluid" id="profile-content-edit">
      <div class="span5">
        {{f.text-field 'name'}}
        {{f.text-field 'title' label="Titel"}}
        {{f.text-field 'role' label="Funktion"}}
        {{f.date-field 'birthdate' label="Geb.Datum"}}
      </div>
      <div class="span5">
        {{f.text-field 'origin' label="Nationalität"}}
        {{f.text-field 'location' label="Wohnort"}}
        {{f.text-field 'language' label="Sprache"}}
        {{f.text-field 'martialStatus' label="Zivilstand"}}
        {{f.select-field 'statusId' statusData
          label="Status"
          optionLabelPath="label"
          optionTargetPath="id"
          }}
      </div>
    </div>
  {{/form-for}}
</section>
