<section id="profil" class="section">
  {{#form-for this.newPerson submit=(action "submit") as |f|}}
    <div class="card-header bg-info">
      <div class="row">
        <div class="col-sm-6 header-text">
          Person erfassen
        </div>
      </div>
    </div>
    <div class="border border-info rounded-bottom">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <table class="table-person mb-3">
              <tbody>
                <tr>
                  <td>{{f.text-field "name" label="Name"}}</td>
                </tr>
                <tr>
                  <td>{{f.text-field "email" label="Email"}}</td>
                </tr>
                <tr>
                  <td>{{f.text-field "title" label="Abschluss"}}</td>
                </tr>
                <tr>
                  <label>Funktionen</label>
                </tr>
                {{#each this.newPerson.personRoles as |personRole|}}
                  <div class="border rounded mt-2 p-2">
                    <tr>
                      <td>
                        <label class="description role-description">Rolle</label>
                        <div class="role-dropdown">
                          <PowerSelect @selected={{personRole.role}} @options={{this.sortedRoles}} @onchange={{action "setRole" personRole}} @disabled={{this.usedRoles}} as |role|>
                            {{role.name}}
                          </PowerSelect>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="description role-description">Stufe</label>
                        <div class="level-dropdown">
                          {{#if this.personRoleLevelsToSelect}}
                            <PowerSelect @selected={{selected-person-role-level this.personRoleLevelsToSelect level=personRole.level}} @options={{this.personRoleLevelsToSelect}} @onchange={{action "setPersonRoleLevel" personRole}} as |personRoleLevel|>
                              {{personRoleLevel.level}}
                            </PowerSelect>
                          {{/if}}
                        </div>
                        <div class="percent-field">
                          <input placeholder="in %" type="number" value={{personRole.percent}} onchange={{action "setRolePercent" personRole}} max="9999">
                        </div>
                        <div class="delete-role-icon">
                          <DeleteWithConfirmation @entry={{personRole}} @class="edit-buttons" />
                        </div>
                      </td>
                    </tr>
                  </div>
                {{/each}}
                <tr>
                  <td>
                    <a class="nav-link language-button" role="button" {{action "addRole" this.newPerson}}>
                      <i class="fa fa-plus" aria-hidden="true"></i>
                      Neue Funktion
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Organisationseinheit</label>
                    <PowerSelect @triggerId="department" @selected={{this.newPerson.department}} @options={{this.departmentsToSelect}} @searchField="name" @onfocus={{action "handleFocus"}} @onblur={{action "handleBlur"}} @onchange={{action (mut this.newPerson.department)}} @onkeydown={{action "setWithTab" "setDepartment"}} as |department|>
                      {{department.name}}
                    </PowerSelect>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Firma/Kategorie</label>
                    <PowerSelect @triggerId="company" @selected={{this.newPerson.company}} @options={{this.companiesToSelect}} @searchField="name" @onfocus={{action "handleFocus"}} @onblur={{action "handleBlur"}} @onchange={{action (mut this.newPerson.company)}} @onkeydown={{action "setWithTab" "setCompany"}} as |company|>
                      {{company.name}}
                    </PowerSelect>
                  </td>
                </tr>
                <tr>
                  <td>{{f.text-field "location" label="Wohnort (Stadt)"}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-4">
            <table class="table-person">
              <tbody>
                <tr>
                  <td>
                    <div class="text-field form-group">
                      <label class="label-date form-field--label" for="date_location">Geburtsdatum</label>
                      <div id="date_location" class="birthdate_pikaday">
                        <PikadayInput @onSelection={{action "setBirthdate"}} @value={{this.newPerson.birthdate}} @useUTC={{true}} />
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Doppelb체rger</label>
                    <Input @type="checkbox" @checked={{this.secondNationality}} @click={{action "switchNationality" value="target.checked"}} @id="toggle-nationalities-id" class="checkbox" />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Erste Nationalit채t</label>
                    <PowerSelect @triggerId="nationality" @options={{this.countries}} @selected={{this.selectedNationality}} @onchange={{action "setNationality"}} @onfocus={{action "handleFocus"}} @onblur={{action "handleBlur"}} @onkeydown={{action "setWithTab" "setNationality"}} @searchField="1" as |country|>
                      <span class="flag-icon flag-icon-{{to-lowercase country.[0]}}"></span>{{country.[1]}}
                    </PowerSelect>
                  </td>
                </tr>
                <tr>
                  {{#if this.secondNationality}}
                    <td>
                      <label>Zweite Nationalit채t</label>
                      <PowerSelect @triggerId="nationality2" @options={{this.countries}} @selected={{this.selectedNationality2}} @onchange={{action "setNationality2"}} @onfocus={{action "handleFocus"}} @onblur={{action "handleBlur"}} @onkeydown={{action "setWithTab" "setNationality2"}} @searchField="1" as |country|>
                        <span class="flag-icon flag-icon-{{to-lowercase country.[0]}}"></span>{{country.[1]}}
                      </PowerSelect>
                    </td>
                  {{/if}}
                </tr>
                <tr>
                  <td>
                    <label> Zivilstand </label>
                    <PowerSelect @triggerId="maritalStatus" @selected={{this.selectedMaritalStatus}} @options={{this.maritalStatuses}} @searchEnabled={{false}} @onfocus={{action "handleFocus"}} @onblur={{action "handleBlur"}} @onchange={{action "setMaritalStatus"}} @onkeydown={{action "setWithTab" "setMaritalStatus"}} as |maritalStatus|>
                      {{maritalStatus}}
                    </PowerSelect>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-3">
            <table>
              <tbody>
                <tr>
                  <td>{{!Leere Zeile aus Layout-Gr체nden}}</td>
                </tr>
                <tr>
                  <td class="description">Sprachen<a href="http://www.europaeischer-referenzrahmen.de/" target="_blank" rel="noopener"><i class="ml-2 fa fa-question-circle" aria-hidden="true"></i></a></td>
                </tr>
                <tr>
                  <div class="border rounded mt-2 p-2">
                    <LanguageSkillsEdit @person={{this.newPerson}} />
                  </div>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <button {{action "submit" this.newPerson}} role="button" id="submit-button" class="btn btn-primary "> Speichern</button>
        <button onclick={{action "abortCreate"}} role="button" class="btn abort-button"> Abbrechen</button>
      </div>
    </div>
  {{/form-for}}
</section>
