{{#sticky-container options=myStickyOptions}}
  <nav id="person-sidebar" class="border">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#main" onclick={{action 'scrollTo' '#particulars'}}><p>Personalien</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#competences" onclick={{action 'scrollTo' '#competences'}}><p>Kernkompetenzen</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#educations" onclick={{action 'scrollTo' '#educations'}}><p>Ausbildung</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#advancedTrainings" onclick={{action 'scrollTo' '#advancedTrainings'}}><p>Weiterbildung</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#activities" onclick={{action 'scrollTo' '#activities'}}><p>Stationen</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projects" onclick={{action 'scrollTo' '#projects'}}><p>Projekte</p></a>
      </li>
    </ul>
  </nav>
{{/sticky-container}}
