<!-- Profile heading -->
<div class="row-fluid">
  <div class="span5">
    <span class="section-title">Personalien</span>
  </div>
  <a href={{document-export-url person.id}} id="button-edit-profile" class="button pull-right">
    Exportieren
  </a>

</div>

<!-- Horizontal ruler -->
<div class="row-fluid">
  <div class="span12">
    <hr>
  </div>
</div>

<!-- Profile content -->
<section id="profil" class="section">
    <div id="profile-content-show" class="row-fluid">
      <!-- Avatar img -->
      <div class="span2">
        <img id="img-avatar-read" src={{person.picturePath}} class="img-polaroid profil-img">
      </div>
      <!-- Profile left row -->
      <div class="span5">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd>{{person.name}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Titel</dt>
          <dd>{{person.title}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Funktion</dt>
          <dd>{{person.role}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Geb.Datum</dt>
          <dd>{{person.birthdate}}</dd>
        </dl>
      </div>
      <!-- /Profile left row -->

      <!-- Profile right row -->
      <div class="span5">
        <dl class="dl-horizontal">
          <dt>Nationalität</dt>
          <dd>{{person.origin}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Wohnort</dt>
          <dd>{{person.location}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Sprachen</dt>
          <dd>{{person.language}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Zivilstand</dt>
          <dd>{{person.martialStatus}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Status</dt>
          <dd>{{person.status}}</dd>
        </dl>
      </div>
      <!-- /Profile right row -->
    </div>
</section>
