<section id="variation">
  <div class="toolbar-pills span12 row-fluid">
    <ul class="nav nav-pills group-pills" id="variation-selection">
      <li id="actual-cv-pill" class={{unless person.originPersonId 'active'}}>
        {{#link-to "person" (or person.originPersonId person)}}aktuelles CV{{/link-to}}
      </li>
      <li id="variation-cv-pill" class={{if person.originPersonId 'active'}} class="dropwdown left">
        {{#basic-dropdown onOpen=(action 'loadPersonVariations' person.originPersonId person.id) as |dd|}}
          {{#dd.trigger class="btn btn-default"}}
            {{#if person.originPersonId}}
              {{person.variationName}}
            {{else}}
               Varianten
            {{/if}}
            <b class="caret"></b>
          {{/dd.trigger}}
          {{#dd.content}}
            <ul class="content-bootstrap-feel dropdown-menu"
                data-test-variation-dropdown-content>
              {{#each personVariations as |pv|}}
                <li id="change-variation-link"
                    class={{if (eq pv.id person.id) 'active'}}>
                  {{#link-to "person" pv.id click=(action dd.actions.close)}}
                    {{~pv.attributes.variation_name~}}
                  {{/link-to}}
                </li>
              {{/each}}
              {{#unless person.originPersonId}}
                {{#if personVariations.length}}<hr>{{/if}}
                <li>
                  <a class="new-variation-link"
                      onclick={{pipe dd.actions.close (toggle 'createVariationModal' this)}}>
                    Neue Variante erstellen...
                  </a>
                </li>
              {{/unless}}
            </ul>
          {{/dd.content}}
        {{/basic-dropdown}}
      </li>
      {{#link-to "person.fws" (or person.originPersonId person) tagName="li"}}
        <a class="fws-button">Fachwissensskala</a>
      {{/link-to}}
    </ul>
    <ul class="nav nav-pills group-pills" id="variation-options">
      <li class="dropdown right" id="option-pill">
        {{#basic-dropdown as |dd|}}
          {{#dd.trigger class="btn btn-default"}}Optionen <b class="caret"></b>{{/dd.trigger}}
          {{#dd.content}}
            <ul class="content-bootstrap-feel dropdown-menu">
              {{#if person.originPersonId}}
                <li>
                  <a class="update-variation-link"
                      onclick={{pipe dd.actions.close (toggle 'updateVariationModal' this)}}>
                    Varianten Name ändern...
                  </a>
                </li>
                <li>
                  <a onclick={{pipe dd.actions.close (toggle 'deletePersonConfirm' this)}}>Variante Löschen</a>
                </li>
              {{else}}
                <li>
                  <a class="new-variation-link"
                      onclick={{pipe dd.actions.close (toggle 'createVariationModal' this)}}>
                    Neue Variante erstellen...
                  </a>
                </li>
                <li>
                  <a onclick={{pipe dd.actions.close (toggle 'deletePersonConfirm' this)}}>CV Löschen</a>
                </li>
              {{/if}}
            </ul>
          {{/dd.content}}
        {{/basic-dropdown}}
      </li>
      <li id="export-dropdown" class="dropdown left">
        {{#basic-dropdown as |dd|}}
          {{#dd.trigger class="btn btn-default"}}Exportieren <b class="caret"></b>{{/dd.trigger}}
          {{#dd.content}}
            <ul class="content-bootstrap-feel dropdown-menu">
              <li>
                <a onclick={{pipe (action 'exportCvOdt' person.id) dd.actions.close}}>
                  {{#if person.originPersonId}}
                    Aktuelle Variante
                  {{else}}
                    Aktuelles CV
                  {{/if}}
                </a>
                <a onclick={{pipe (action 'exportDevFws' person.id) dd.actions.close}}>
                  Fachwissensskala Entwickler
                </a>
                <a onclick={{pipe (action 'exportSysFws' person.id) dd.actions.close}}>
                  Fachwissensskala Systemtechniker
                </a>
              </li>
            </ul>
          {{/dd.content}}
        {{/basic-dropdown}}
      </li>
    </ul>
  </div>
</section>

<hr>

{{#if createVariationModal}}
  {{#modal-dialog hasOverlay=false}}
    <div data-test-variation-modal>
      <h1>CV-Variante erstellen</h1>
      <hr>
      {{#form-for (changeset person validations) submit=(pipe-action (action 'createPersonVariation' person.id)
      (toggle 'createVariationModal' this)) as |f|}}
        {{f.text-field 'variationName' label="Varianten Name"}}
        <br>
        <button {{action (toggle 'createVariationModal' this)}} class="btn">Abbrechen</button>
        {{f.submit "Speichern"class="btn btn-primary"}}
      {{/form-for}}
    </div>
  {{/modal-dialog}}
{{/if}}

{{#if updateVariationModal}}
  {{#modal-dialog hasOverlay=false}}
    <h1>CV-Variantenname ändern</h1>
    <hr>
    {{#form-for (changeset person validations)
                submit=(pipe-action (action 'updateVariationName')
                                    (toggle 'updateVariationModal' this)) as |f|}}
      {{f.text-field 'variationName' label="Varianten Name"}}
      <br>
      <button {{action (toggle 'updateVariationModal' this)}} class="btn">Abbrechen</button>
      {{f.submit "Speichern" class="btn btn-primary"}}
    {{/form-for}}
  {{/modal-dialog}}
{{/if}}

{{#if deletePersonConfirm}}
  {{#modal-dialog hasOverlay=false}}
    <div class="dialog-content">
      <div class="dialog-text">
        <p>Möchten Sie dieses CV unwiederruflich löschen?</p>
      </div>
      <div class="dialog-footer">
        <button {{action 'deletePerson' person}} class="confirm-button btn btn-danger">
          <i class="fa fa-check-circle-o"></i>
          CV Löschen
        </button>
        <button onclick={{action (toggle 'deletePersonConfirm' this)}} class="cancel-button btn pull-right">
          <i class="fa fa-ban"></i>
          Abbrechen
        </button>
      </div>
    </div>
  {{/modal-dialog}}
{{/if}}
