<div class="pointer-all-sub d-flex flex-column align-items-center">
  <Input type="file" id="img-input" hidden  {{on "change" this.uploadImage}}/>
  {{#if this.picturePath}}
    <img
      src={{this.picturePath}}
      class="pic img-polaroid profil-img rounded-circle img-avatar-edit wh-15"
      role="button"
      {{on "click" this.changePicture}}
      alt="profile picture">
    <label  {{on "click" this.changePicture}}> {{t "image.update"}}</label>
  {{else}}
    <label {{on "click" this.changePicture}}> {{t "image.upload"}}</label>
  {{/if}}
</div>
