<div id="projectsHeader">
  <div class="card-header bg-info">
    <div class="row">
      <div class="col-sm-6 header-text" id="amount-of-projects">
        {{t "projects-show.projects"}} ({{this.amountOfProjects}})
      </div>
    </div>
  </div>
  <div class="border border-info rounded-bottom">
    <div class="card-body">
      {{#unless this.isNewRecord}}
        <a id="add-projects-button" onclick={{action "toggleProjectNew" true}} role="button" class="edit-buttons"><i class="fa add"></i>{{t "projects-show.add"}}</a>
      {{/unless}}
      <div id="competence-content-show">
        <div class="mt-2">
          {{#if this.isNewRecord}}
             <ProjectForm @person={{@person}} @done={{toggleProjectNew}}/>
          {{/if}}
          {{#each this.sortedProjects as |project|}}
            {{#if (eq this.editingProject project)}}
              <ProjectForm @person={{@person}} @project={{project}} @done={{this.abortProjectEdit}}/>
            {{else}}
              <ProjectShow class="project-row" @project={{project}} @editProject={{action "setEditingProject" project}} />
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
