{{#with (changeset project validations) as |changeset|}}
  <form onsubmit={{action 'submit' changeset}} id="form_project">
    <div id="project-content-edit" class="row-fluid" style="display: block;">
      <div class="span10">
        <div class="row-fluid">
          <div class="span2">
          {{input value=changeset.year_from type="number" class="input-mini"}}
          </div>
          <div class="span10">
            {{input value=changeset.title class="input-xxlarge"}}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span2">
          {{input value=changeset.year_to type="number" class="input-mini"}}
          </div>
          <div class="span10">
            {{input value=changeset.description class="input-xxlarge"}}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span2">
            {{input value=changeset.role class="input-xxlarge"}}
          </div>
        </div>
        <div class="row-fluid">
          <div class="span10">
            {{input value=changeset.technology class="input-xxlarge"}}
          </div>
        </div>
      </div>
      <div class="span2">
        <button class="btn btn-primary btn-block btn-mini" >
          Speichern </button>
        <button class="btn btn-inverse btn-block btn-mini" type="button" onclick={{action done}}>
          Abbrechen </button>
        <button class="btn btn-danger btn-block btn-mini" type="button" onclick={{action 'deleteProject' project}}>
          Delete </button>
      </div>
    </div>
  </form>
{{/with}}
