{{#with (changeset project validations) as |changeset|}}
  <form onsubmit={{action 'submit' changeset}} id="form_project">
    <div class="mb-2" id="project-content-edit">
      <div class="card-header bg-info">
        <div class="row">
          <div class="col-sm-12">
            <a class="card-link text-dark">Projekt bearbeiten</a>
          </div>
        </div>
      </div>
      <div id="collapseProjectNew" class="show border border-info rounded-bottom">
        <div class="card-body d-flex flex-column">
          <div class="row mb-2">
            <div class="col-sm-3">
              <div class="input-group centered-content-input">
                {{daterange-edit entity=project}}
              </div>
            </div>
            <div class="col-sm-7">
              {{input placeholder="Projektname" value=changeset.title class="form-control mb-2"}}
              <br>{{textarea placeholder="Projektbeschreibung" value=changeset.description class="form-control"}}
              <br>{{textarea placeholder="Rolle und Aufgaben" value=changeset.role class="form-control"}}
              <br>{{textarea placeholder="Eingesetzte Technologien" value=changeset.technology class="form-control"}}
            </div>
          </div>
          <div class="mt-auto">
            <button onclick={{action 'submit' changeset}} role="button" id="submit-button" class="btn btn-primary"><i class="fa save"></i> Speichern</button>
            {{#delete-with-confirmation
              entry=project
              class='btn btn-danger text-white no-hover'
            }}
              Löschen
            {{/delete-with-confirmation}}
            <button onclick={{action done}} role="button" class="btn btn-secondary"><i class="fa abort"></i> Abbrechen</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{{/with}}
