<div class="mb-2">
  <div class="card-header bg-info">
    <div class="row">
      <div class="col-sm-6 project-title-text cv-search-searchable">
        {{if this.project.monthFrom (concat (moment-format this.project.monthFrom "MM" "MM") ".")}}{{this.project.yearFrom}}
        {{#if (eq this.project.yearTo null)}}
          - heute
        {{else if (or (not-eq this.project.yearFrom this.project.yearTo) (not-eq this.project.monthFrom this.project.monthTo))}}
          - {{if this.project.monthTo (concat (moment-format this.project.monthTo "MM" "MM") ".")}}{{this.project.yearTo}}
        {{/if}}
        | {{this.project.title}}
      </div>
    </div>
  </div>
  <div class="border border-info rounded-bottom show">
    <div class="card-body d-flex flex-column">
      <table class="table table-borderless table-sm">
        <tbody>
          <tr>
            <th scope="row" class="w-25"> Beschreibung </th>
            <td class="text-table-left cv-search-searchable"> {{this.project.lineBreakDescription}}</td>
          </tr>
          <tr>
            <th scope="row" class="w-25"> Rolle </th>
            <td class="cv-search-searchable"> {{this.project.lineBreakRole}}</td>
          </tr>
          <tr>
            <th scope="row" class="w-25"> Technologie(n) </th>
            <td class="cv-search-searchable"> {{this.project.lineBreakTechnology}}</td>
          </tr>
        </tbody>
      </table>
      {{#if this.selectProject}}
        <div class="mt-auto">
          <a onclick={{action this.selectProject this.project}} role="button" class="edit-buttons"><i class="fa fa-edit"></i> Bearbeiten</a>
        </div>
      {{/if}}
    </div>
  </div>
</div>
