<tr id="template_project_record" class="template">
  <td id="show_year" class="show-year-cell">
    {{project.year_from}}
    {{#if (eq project.year_to null)}}
      - heute
    {{else if (not-eq project.year_from project.year_to)}}
      - {{project.year_to}}
    {{/if}}
  </td>
  <td class="show-description-cell">
    <div>
      <div class="project-title">
        {{project.title}}
      </div>
      <div class="project-description preserve-whitespace">
        {{~project.description~}}
      </div>
      <div class="project-role preserve-whitespace">
        {{~project.role~}}
      </div>
      <div class="project-technology preserve-whitespace">
        {{~project.technology~}}
      </div>
    </div>
  </td>
  <td>
    <a onclick={{action selectProject project}} id="button-edit-projects" class="button">Editieren</a>
  </td>
</tr>
