<div id="projectsHeader">
  <div class="card-header bg-info">
    <div class="row">
      <div class="col-sm-6 header-text">
        {{t "projects-show.projects"}} ({{this.amountOfProjects}})
      </div>
    </div>
  </div>
  <div class="border border-info rounded-bottom">
    <div class="card-body">
      <a onclick={{action "toggleProjectNew" true}} role="button" class={{~if (or this.projectEditing this.projectNew) "" "edit-buttons"~}}><i class="fa {{~if (or this.projectEditing this.projectNew) "" " add"~}}"></i>{{~if (or this.projectEditing this.projectNew) "" " Projekt hinzufügen"~}}</a>
      <div id="competence-content-show">
        <div class="mt-2">
          {{#if this.isNewRecord}}
             <ProjectForm @person={{@person}} @done={{toggleProjectNew}}/>
          {{/if}}
          {{#each this.sortedProjects as |project|}}
            {{#if (eq this.editingProject project)}}
              <ProjectForm @person={{@person}} @project={{project}} @done={{this.abortProjectEdit}}/>
            {{else}}
              <ProjectShow @project={{project}} @editProject={{action "setEditingProject" project}} />
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
