<div class="mb-2">
  <div class="card-header bg-info" data-toggle="collapse" data-parent="#accordion" href="#collapseProject{{project.title}}">
    <div class="row">
      <div class="col-sm-6">
        <a class="card-link text-dark project-title-text">
          {{if (not-eq (moment-format project.start_at 'DD') "13") (moment-format project.start_at 'MM.YYYY') (moment-format project.start_at 'YYYY')}}
          {{#if (eq project.finish_at null)}}
            - heute
          {{else if (not-eq project.finish_at project.start_at)}}
            - {{if (not-eq (moment-format project.finish_at 'DD') "13") (moment-format project.finish_at 'MM.YYYY') (moment-format project.finish_at 'YYYY')}}
          {{/if}}
          | {{project.title}}
        </a>
      </div>
      <div class="col-sm-6 text-right d-block">
        <a class="card-link text-dark" data-toggle="collapse" data-parent="#accordion" href="#collapseProject{{project.title}}"><i class="fa angle"></i></a>
      </div>
    </div>
  </div>
  <div id="collapseProject{{project.title}}" class="collapse border border-info rounded-bottom show">
    <div class="card-body d-flex flex-column">
      <table class="table table-borderless table-sm">
        <tr>
          <th scope="row" class="w-25"> Beschreibung </th>
          <td class="text-table-left"> {{project.lineBreakDescription}}</td>
        </tr>
        <tr>
          <th scope="row" class="w-25"> Rolle </th>
          <td> {{project.lineBreakRole}}</td>
        </tr>
        <tr>
          <th scope="row" class="w-25"> Technologie(n) </th>
          <td> {{project.lineBreakTechnology}}</td>
        </tr>
      </table>
      <div class="mt-auto">
        <a onclick={{action selectProject project}} role="button" class="edit-buttons"><i class="fa fa-pencil"></i> Bearbeiten</a>
      </div>
    </div>
  </div>
</div>
