<div id="projects">
  <div class="card-header bg-info">
    <div class="row">
      <div class="col-sm-6 header-text">
        {{t "projects-show.projects"}} ({{this.amountOfProjects}})
      </div>
    </div>
  </div>
  <div class="border border-info rounded-bottom">
    <div class="card-body">
      <a onclick={{action "toggleProjectNew" true}} role="button" class={{~if (or this.projectEditing this.projectNew) "" "edit-buttons"~}}><i class="fa {{~if (or this.projectEditing this.projectNew) "" " add"~}}"></i>{{~if (or this.projectEditing this.projectNew) "" " Projekt hinzufügen"~}}</a>
      <div id="competence-content-show">
        <div class="mt-2">
          {{component (if this.projectNew "project-new") personId=this.personId done=(action "toggleProjectNew")}}
          {{#each this.sortedProjects as |project|}}
            {{#if (eq this.projectEditing project)}}
              <ProjectEdit @project={{this.projectEditing}} @done={{action "toggleProjectEditing"}} />
            {{else}}
              <ProjectShow @selectProject={{if (or this.projectEditing this.projectNew) null (action (mut this.projectEditing))}} @project={{project}} />
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
