<section id="activity" class="section">
  <button onclick={{action (toggle 'projectNew' this)}}
      id="button-new-projects"
      class="btn btn-link pull-right">
    {{~if projectNew 'Abbrechen' 'Neu'~}}
  </button>
  {{model-header title="Projects"}}
  {{#if projectEditing}}
    {{project-edit project = projectEditing done=(action (toggle 'projectEditing' this))}}
  {{else}}
    {{#if projectNew}}
      {{project-new personId=personId done=(action (toggle 'projectNew' this))}}
    {{else}}
      <div class="row-fluid">
        <div class="span12">
          <table id="project-content-show-table"
            class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Zeit</th>
                <th>Projekt</th>
                <th class="action-header">Aktion</th>
              </tr>
            </thead>
            <tbody id="project-content-show">
              {{#each sortedProjects as |project|}}
                {{project-show selectProject = (action (mut projectEditing)) project=project}}
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    {{/if}}
  {{/if}}
</section>
