<section id="activity" class="section">
  <a onclick={{action (toggle 'projectNew' this)}} id="button-new-projects" class="button pull-right">{{if projectsNew 'Abbrechen' 'Neu'}}</a>
  {{model-header title="Projects"}}
  {{#if projectNew}}
    {{project-new personId=personId submit=(action (toggle 'projectNew' this))}}
{{else}}
  <div class="row-fluid">
    <div class="span12">
      <table id="project-content-show-table"
        class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Zeit</th>
            <th>Projekt</th>
            <th class="action-header">Aktion</th>
          </tr>
        </thead>
        <tbody id="project-content-show">
          {{#each projects as |project|}}
            {{project-show project=project}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{/if}}
</section>
