<section id="activity" class="section">
  {{model-header title="Projects"}}
  <div class="row-fluid">
    <div class="span12">
      <table id="project-content-show-table"
        class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Zeit</th>
            <th>Projekt</th>
            <th class="action-header">Aktion</th>
          </tr>
        </thead>
        <tbody id="project-content-show">
          {{#each projects as |project|}}
            <tr id="template_project_record" class="template">
              <td id="show_year" class="show-year-cell">
                {{project.year_from}}-{{project.year_to}}
              </td>
              <td class="show-description-cell">
                <div>
                  <div id="show_projectTitle" class="project-title">
                    {{project.title}}
                  </div>
                  <div id="show_projectDescription" class="project-description">
                    {{project.description}}
                  </div>
                  <div id="show_role" class="project-role">
                    {{project.role}}
                  </div>
                  <div id="show_technology" class="project-technology">
                    {{project.technology}}
                  </div>
                </div>
              </td>
              <td>
                <a id="button-edit-project" class="button">Edit</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>
