<tr id="template_project_record" class="template">
  <td id="show_year" class="show-year-cell">
    {{project.year_from}}
    {{#unless (eq project.year_from project.year_to)}}
      -{{project.year_to}}
    {{/unless}}
  </td>
  <td class="show-description-cell">
    <div>
      <div id="show_projectTitle" class="project-title">
        {{project.title}}
      </div>
      <div id="show_projectDescription" class="project-description">
        {{project.description}}
      </div>
      <div id="show_role" class="project-role">
        {{project.role}}
      </div>
      <div id="show_technology" class="project-technology">
        {{project.technology}}
      </div>
    </div>
  </td>
  <td>
    <a onclick={{action selectProject project}} id="button-edit-projects" class="button">Editieren</a>
  </td>
</tr>
