<div class="mb-2">
  <div class="card-header bg-secondary">
    <div class="row">
      <div class="col-sm-6">
        <a class="card-link text-white project-title-text" data-toggle="collapse" data-parent="#accordion" href="#collapseProject{{project.title}}">
          {{project.year_from}}
          {{#if (eq project.year_to null)}}
            - heute
          {{else if (not-eq project.year_from project.year_to)}}
            - {{project.year_to}}
          {{/if}}
          | {{project.title}}
        </a>
      </div>
      <div class="col-sm-6 text-right d-block">
        <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseProject{{project.title}}"><i class="fa angle"></i></a>
      </div>
    </div>
  </div>
  <div id="collapseProject{{project.title}}" class="collapse border border-secondary rounded-bottom show">
    <div class="card-body d-flex flex-column">
      <div class="row">
        <div class="col-sm-2">
          <strong>Beschreibung</strong>
          <br><strong>Rolle</strong>
          <br><strong>Technologie</strong>
        </div>
        <div class="col-sm-10">
          {{~project.description~}}
          <br> {{project.role}}
          {{#if project.projectTechnologies}}
            <br>
            {{#each project.projectTechnologies as |project-technology|}}
              {{#each project-technology.offer as |offer|}}
                <span class="badge badge-success p-2 mr-2 mb-2 skill" href="#">{{offer}}</span>
              {{/each}}
            {{/each}}
          {{else}}
            <br>{{~project.technology~}}
          {{/if}}
        </div>
      </div>
      <div class="mt-auto">
        <a onclick={{action selectProject project}} role="button" class="edit-buttons"><i class="fa fa-pencil"></i> Bearbeiten</a>
      </div>
    </div>
  </div>
</div>
