<div class="skill-list">
  {{#if this.showSkillTitle}}
    <div role="button" onclick={{toggleSkillShow}} data-toggle={{if this.toggleSkillShow "modal"}} data-target="#skill-show-modal" class="col pt-3">
      <div id="title-label" class="people-skill-title">{{this.title}}</div>
    </div>
  {{/if}}
  <div onclick={{this.toggleSkillShow}} data-toggle={{if this.toggleSkillShow "modal"}} role="button" data-target="#skill-show-modal" class="col justify-content-center people-skill-level">
    <p id="level-name-label" class="description skillset-level-title">{{this.levelName}}</p>
    <UiSlider id="level-label" @value={{this.levelValue}} @ticks="1,2,3,4,5" @tooltip="hide" @disabled={{true}} @min={{1}} @max={{5}} @immediateResponse={{true}} @action={{action "adjustSliderStylingOnReset"}} />
  </div>
  <div onclick={{this.toggleSkillShow}} data-toggle={{if this.toggleSkillShow "modal"}} role="button" data-target="#skill-show-modal" class="col people-skill-interest">
    <p class="description skillset-interest-title">Interesse</p>
    <IconRating id="interest-label" @fillColor="#238BCA" @readOnly={{true}} @value={{this.interest}} @onClick={{action (mut this.interest)}} />
  </div>
  <div onclick={{this.toggleSkillShow}} data-toggle={{if this.toggleSkillShow "modal"}} role="button" data-target="#skill-show-modal" class="col pt-3 people-skill-certificate">
    {{#if this.certificate}}
      <i id="checkbox-certificate-enabled" class="fa fa-check-square" aria-hidden="true"></i>
    {{else}}
      <i id="checkbox-certificate-disabled" class="far fa-square" aria-hidden="true"></i>
    {{/if}}
    <span id="certificate-label" class="description ml-2">{{t "ratedSkill.certificate"}}</span>
  </div>
  <div onclick={{this.toggleSkillShow}} data-toggle={{if this.toggleSkillShow "modal"}} role="button" data-target="#skill-show-modal" class="col pt-3 people-skill-coreCompetence">
    {{#if this.coreCompetence}}
      <i id="checkbox-core-competence-enabled" class="fa fa-check-square" aria-hidden="true"></i>
    {{else}}
      <i id="checkbox-core-competence-disabled" class="far fa-square" aria-hidden="true"></i>
    {{/if}}
    <span id="core-competence-label" class="description ml-2">{{t "ratedSkill.coreCompetence"}}</span>
  </div>
</div>