  <SkillShow @skill={{this.currentSkill}} />
  <div id="skillset-header" class="header pt-3">
    <div class="row mb-3">
      <div class="col-sm-12 search-skill-field">
        <ListFilter />
      </div>
      <div class="col-sm-3">
        <SkillsetDefaultsetFilter />
      </div>
      <div class="col-sm-5">
        <SkillsetCategoryFilter @parentCategories={{this.parentCategories}} />
      </div>
      <div class="col-sm-1">
        <a onclick={{pipe (action "exportSkillsetOdt")}} class="edit-buttons" role="button" data-toggle="tooltip" data-placement="top" title="Exportiert das gesamte Skillset">
          <i class="fa fa-download" aria-hidden="true"></i>
          Export
        </a>
      </div>
      <div class="col-sm-2">
        <a id="new-skill-link" class="edit-buttons" role="button" data-toggle="modal" data-target="#skill-new-modal">
          <i class="fa fa-plus" aria-hidden="true"></i> Neuer Skill
        </a>
      </div>
    </div>
  </div>
<div class="mb-end">
  <SkillNew @refreshList={{action "refreshList"}} />
  <table id="skills-list-table" class="table">
    <thead class="position-sticky">
      <tr>
        <th scope="col" class="bg-info header-text text-secondary">Skill</th>
        <th scope="col" class="w-9 text-secondary">Members</th>
        <th scope="col" class="bg-info text-secondary">Kategorie</th>
        <th scope="col" class="text-secondary">Subkategorie</th>
        <th scope="col" class="w-9 bg-info text-secondary">Default-Set</th>
        <th scope="col" class="w-9 text-secondary">Radar</th>
        <th scope="col" class="w-9 bg-info text-secondary">Portfolio</th>
        <th scope="col" class="w-9 text-secondary">Bearbeiten</th>
      </tr>
    </thead>
    <tbody class="mt-5">
      {{#each this.sortedSkills as |skill|}}
        {{#if (array-contains this.editSkills skill)}}
          <SkillsListRowEdit @skill={{skill}} @parentCategories={{this.parentCategories}} @childCategories={{this.childCategories}} @stopEditing={{action "stopEditing" skill}} />
        {{else}}
          <SkillsListRowShow @skill={{skill}} @toggleSkill={{action "toggleSkill" skill}} @startEditing={{action "startEditing" skill}} />
        {{/if}}
      {{/each}}
    </tbody>
  </table>
</div>
<script>
  $(document).ready(() => {
    $("[data-toggle="tooltip"]").tooltip();
  })
</script>
