<td>
  <Input @id={{concat this.elementId "-edit-title"}} @value={{this.changeset.title}} class="form-control" @name="edit-skill-title" placeholder="Titel" />
</td>
<td>
  {{this.skill.people.length}}
</td>
<td class="skill-edit-dropdown overflow-visible">
  <PowerSelect @renderInPlace={{true}} @triggerClass="skill-edit-parent-category" @class="w-100" @dropdownClass="w-100" @options={{this.parentCategories}} @selected={{this.selectedParent}} @onChange={{action "setParentCategory"}} @searchField="title" @onBlur={{action "handleBlur"}} @onFocus={{action "handleFocus"}} as |category|>
    {{category.title}}
  </PowerSelect>
</td>
<td class="skill-edit-dropdown overflow-visible">
  <PowerSelect @renderInPlace={{true}} @triggerClass="skill-edit-child-category" @class="w-100" @options={{this.selectableChildCategories}} @selected={{this.changeset.category}} @onChange={{action (mut this.changeset.category)}} @searchField="title" @onBlur={{action "handleBlur"}} @onFocus={{action "handleFocus"}} as |category|>
    {{category.title}}
  </PowerSelect>
</td>
<td>
  <div class="d-flex justify-content-center mt-2">
    <Input @type="checkbox" @id={{concat this.elementId "-edit-defaultSet"}} @checked={{this.changeset.defaultSet}} />
  </div>
</td>
<td class="skill-edit-dropdown overflow-visible">
  <PowerSelect @searchEnabled={{false}} @renderInPlace={{true}} @triggerClass="skill-edit-radar" @class="w-100" @options={{this.radarOptions}} @selected={{this.changeset.radar}} @onChange={{action (mut this.changeset.radar)}} @onBlur={{action "handleBlur"}} @onFocus={{action "handleFocus"}} as |radar|>
    {{radar}}
  </PowerSelect>
</td>
<td class="skill-edit-dropdown overflow-visible">
  <PowerSelect @searchEnabled={{false}} @renderInPlace={{true}} @triggerClass="skill-edit-portfolio" @class="w-100" @options={{this.portfolioOptions}} @selected={{this.changeset.portfolio}} @onChange={{action (mut this.changeset.portfolio)}} @onBlur={{action "handleBlur"}} @onFocus={{action "handleFocus"}} as |portfolio|>
    {{portfolio}}
  </PowerSelect>
</td>
<td>
  <div class="d-flex justify-content-around">
    <a role="button" onclick={{action "submit"}} class="skill-edit-save edit-buttons">
      <i class="fa fa-save"></i>
    </a>
    <a role="button" onclick={{action "abort"}} class="edit-buttons">
      <i class="fa fa-times"></i>
    </a>
    <DeleteWithConfirmation @entry={{this.skill}}></DeleteWithConfirmation>
  </div>
</td>
