  {{skill-show skill=currentShowSkill}}
<div class="row mb-3">
  <div class="col-sm-12 search-skill-field">
    {{list-filter}}
  </div>
  <div class="col-sm-3">
    {{skillset-defaultset-filter}}
  </div>
  <div class="col-sm-5">
    {{skillset-category-filter}}
  </div>
  <div class="col-sm-1">
    <a onclick={{pipe (action 'exportSkillsetOdt')}} class="edit-buttons" data-toggle="tooltip" data-placement="top" title="Exportiert das gesamte Skillset">
      <i class="fa fa-download" aria-hidden="true"></i>
      Export
    </a>
  </div>
  <div class="col-sm-2">
    {{skill-new refreshList=(action 'refreshList')}}
  </div>
</div>
<div class="mb-end">
  <table id="skills-list-table" class="table">
    <thead>
      <tr>
        <th scope="col" class="bg-info header-text text-secondary">Skill</th>
        <th scope="col" class="w-9 text-secondary">Members</th>
        <th scope="col" class="bg-info text-secondary">Kategorie</th>
        <th scope="col" class="text-secondary">Subkategorie</th>
        <th scope="col" class="w-9 bg-info text-secondary">Default-Set</th>
        <th scope="col" class="w-9 text-secondary">Radar</th>
        <th scope="col" class="w-9 bg-info text-secondary">Portfolio</th>
        <th scope="col" class="w-9 text-secondary">Bearbeiten</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedSkills as |skill|}}
        <tr role="button" onclick={{action 'toggleSkillShow' skill}} data-toggle="modal" data-target="#skill-show-modal">
          <td class="skillname">
            <span class="w-9 mr-2 d-inline-block">
              {{#if skill.defaultSet}}
                <img class="w-100" alt="defaultSet Logo" src="/assets/min-logo.png">
              {{else if (eq skill.defaultSet null)}}
                <p class="green-point">&#8226;</p>
              {{/if}}
            </span>
            <span>
              {{skill.title}}
            </span>
          </td>
          <td>{{skill.people.length}}</td>
          <td>{{if skill.parentCategory skill.parentCategory.title "-"}}</td>
          <td>{{if skill.category skill.category.title "-"}}</td>
          <td>{{if (eq skill.defaultSet null) "NEU" (if skill.defaultSet "Ja" "Nein")}}</td>
          <td>{{if skill.radar skill.radar "-"}}</td>
          <td>{{if skill.portfolio skill.portfolio "-"}}</td>
          <td><a class="edit-buttons"><i class="fa fa-edit"></i></a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<script>
  $(document).ready(() => {
    $('[data-toggle="tooltip"]').tooltip();
  })
</script>
