<div id="skills-list-defaultSet-filter">
  <div class="btn-group" role="group">
    <LinkTo @route="skills" @query={{hash defaultSet=""}} @tagName="button" @elementId="defaultFilterAll" @classNames="btn border border-right-0 filter-buttons">
      {{t "skillset-defaultset-filter.all"}}
    </LinkTo>
    <LinkTo @route="skills" @query={{hash defaultSet="new"}} @tagName="button" @elementId="defaultFilterNew" @classNames="btn border filter-buttons">
      {{t "skillset-defaultset-filter.new"}}
    </LinkTo>
    <LinkTo @route="skills" @query={{hash defaultSet="true"}} @tagName="button" @elementId="defaultFilterDefault" @classNames="btn border border-left-0 filter-buttons">
      Default
    </LinkTo>
  </div>
</div>
