<td data-toggle="modal" data-target="#skill-show-modal" class="skillname show-skill">
  <span class="w-9 mr-2 d-inline-block">
    {{#if this.skill.defaultSet}}
      <img class="w-100" alt="" role="presentation" src="/assets/min-logo.png">
    {{else if (eq this.skill.defaultSet null)}}
      <p class="green-point">&#8226;</p>
    {{/if}}
  </span>
  <span>
    {{this.skill.title}}
  </span>
</td>
<td data-toggle="modal" data-target="#skill-show-modal" class="show-skill">
  {{this.skill.people.length}}
</td>
<td data-toggle="modal" data-target="#skill-show-modal" class="show-skill">
  {{if this.skill.parentCategory this.skill.parentCategory.title "-"}}
</td>
<td data-toggle="modal" data-target="#skill-show-modal" class="show-skill">
  {{if this.skill.category this.skill.category.title "-"}}
</td>
<td data-toggle="modal" data-target="#skill-show-modal" class="show-skill">
  {{if (eq this.skill.defaultSet null) "NEU" (if this.skill.defaultSet "Ja" "Nein")}}
</td>
<td data-toggle="modal" data-target="#skill-show-modal" class="show-skill">
  {{if this.skill.radar this.skill.radar "-"}}
</td>
<td data-toggle="modal" data-target="#skill-show-modal" class="show-skill">
  {{if this.skill.portfolio this.skill.portfolio "-"}}
</td>
<td>
  <a role="button" onclick={{this.startEditing}} class="edit-buttons skill-edit-button">
    <i class="fa fa-edit"></i>
  </a>
</td>
