<label id="category-filter-label" class="description">Kategorie</label>
<div id="category-filter-dropdown">
  <PowerSelect @selected={{this.selectedCategory}} @options={{this.categories}} @searchEnabled={{false}} @onfocus={{action "handleFocus"}} @onblur={{action "handleBlur"}} @onchange={{action "setCategoryFilter"}} as |category|>
    {{category.title}}
  </PowerSelect>
</div>
