<div class="modal fade" id="skill-new-modal" tabindex="-1" role="dialog" aria-labelledby="skill-new-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="skill-new-modal-label">{{t "skill-new.createSkill"}}</h5>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row my-3">
            <div class="col-md-3">{{t "skill-new.title"}}</div>
            <div class="col-md-9">
              <Input @id={{concat this.elementId "-new-title"}} @value={{this.newSkill.title}} class="form-control" @name="new-skill-title" />
            </div>
          </div>
          <div class="row my-3">
            <div class="col-md-3">{{t "skill-new.category"}}</div>
            <div class="col-md-9 people-skill-new-dropdowns">
              <PowerSelect @triggerId="skill-new-category" @renderInPlace={{true}} @class="w-100" @dropdownClass="w-100" @options={{this.childCategories}} @matcher={{this.categorySearchMatcher}} @disabled={{eq this.newSkillSelected false}} @selected={{this.selectedCategory}} @onChange={{action "setCategory"}} @onBlur={{action "handleBlur"}} @onFocus={{action "handleFocus"}} @onKeydown={{action "setWithKey" "setCategory"}} as |category|>
                {{category.parent.title}} - {{category.title}}
              </PowerSelect>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-md-3">Radar</div>
            <div class="col-md-9 people-skill-new-dropdowns">
              <PowerSelect @triggerId="skill-new-radar" @renderInPlace={{true}} @class="w-100" @dropdownClass="w-100" @options={{this.radarOptions}} @selected={{this.newSkill.radar}} @onChange={{action "setRadar"}} @onBlur={{action "handleBlur"}} @onFocus={{action "handleFocus"}} @onKeydown={{action "setWithKey" "setRadar"}} as |radar|>
                {{radar}}
              </PowerSelect>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-md-3">Portfolio</div>
            <div class="col-md-9 people-skill-new-dropdowns">
              <PowerSelect @triggerId="skill-new-portfolio" @renderInPlace={{true}} @class="w-100" @dropdownClass="w-100" @options={{this.portfolioOptions}} @selected={{this.newSkill.portfolio}} @onChange={{action "setPortfolio"}} @onFocus={{action "handleFocus"}} @onKeydown={{action "setWithKey" "setPortfolio"}} as |portfolio|>
                {{portfolio}}
              </PowerSelect>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" onclick={{action "abortNew"}} class="btn btn-secondary">{{t "skill-new.cancel"}}</button>
        <button id="skill-new-submit-button" type="button" onclick={{action "submit"}} class="btn btn-primary">{{t "skill-new.save"}}</button>
      </div>
    </div>
  </div>
</div>
