%div.w-100.d-flex.flex-row.justify-content-start{data: {controller: "skills-level"}}
  %div.w-50.mt-3
    = form.collection_select "skill_id[]", Skill.all.sort_by(&:title), :id, :title, {include_blank: "Select option",
    selected: search_skill(rowNumber)},
      class: "form-select w-100", onchange: "this.form.submit()"
  %div.w-25.d-flex.flex-column.align-items-center
    %label.form-label.text-gray.fs-6{"data-skills-level-target": "label"}= t ExpertiseTopicSkillValue.skill_levels.key(search_level(rowNumber)-1)
    = form.range_field "level[]", min: 1, max: 5, value: search_level(rowNumber), class: "form-range w-75",
                            "data-action": "change->skills-level#toggleLevel", "data-skills-level-target": "switch",
                             onchange: "this.form.submit()"
  %div.w-25.d-flex.flex-column.align-items-center
    %label.form-label.text-gray.fs-6.mb-0.mt-0 Interesse
    .rate
      = form.radio_button "interest[#{rowNumber}]", 5, id: "row#{rowNumber}_star5", checked: 5 == search_interest(rowNumber), onClick: "this.form.submit()"
      %label{for: "row#{rowNumber}_star5", title: "text", id: "row#{rowNumber}_star-label5", class: "star5"} 5 stars
      = form.radio_button "interest[#{rowNumber}]", 4, id: "row#{rowNumber}_star4", checked: 4 == search_interest(rowNumber), onClick: "this.form.submit()"
      %label{for: "row#{rowNumber}_star4", title: "text", id: "row#{rowNumber}_star-label4", class: "star4"} 4 stars
      = form.radio_button "interest[#{rowNumber}]", 3, id: "row#{rowNumber}_star3", checked: 3 == search_interest(rowNumber), onClick: "this.form.submit()"
      %label{for: "row#{rowNumber}_star3", title: "text", id: "row#{rowNumber}_star-label3", class: "star3"} 3 stars
      = form.radio_button "interest[#{rowNumber}]", 2, id: "row#{rowNumber}_star2", checked: 2 == search_interest(rowNumber), onClick: "this.form.submit()"
      %label{for: "row#{rowNumber}_star2", title: "text", id: "row#{rowNumber}_star-label2", class: "star2"} 2 stars
      = form.radio_button "interest[#{rowNumber}]", 1, id: "row#{rowNumber}_star1", checked: 1 == search_interest(rowNumber), onClick: "this.form.submit()"
      %label{for: "row#{rowNumber}_star1", title: "text", id: "row#{rowNumber}_star-label1", class: "star1"} 1 star