%div.mt-3{"data-controller": "people-skills-filter"}
  = form_with(url: people_skills_path, method: :get, class: "filter-form", data: {"turbo-frame": "search-results"}) do |form|
    = render("search_form", form: form)
    = form.fields_for :people_skills do |ff|
      - 3.times do |i|
        %div{"data-people-skills-filter-target": "filter"}
          %div.d-flex.flex-row.w-100.align-items-center
            = render("search_form", form: ff)
            %img{:src=> "/assets/x.svg",:height=>"20", class: "pointer", "data-action": "click->people-skills-filter#hide",
            "data-people-skills-filter-id-param": i}
  %button.btn.text-primary.text-decoration-underline.pointer.align-items-center{"data-action": "click->people-skills-filter#show", "data-people-skills-filter-target": "add"}
    %img{:src=> "/assets/plus-lg.svg",:height=>"20"}
    Skill hinzufügen (max. 5))
  %div.profile-header.mw-100.border-bottom.mt-4.fw-normal
    Suchresultate
  %turbo-frame{id: "search-results"}
    %div.border.p-3.rounded-bottom
      - if entries.size == 0
        Keine Resultate
      - else
        - entries.each do | filtered_entry|
          %div.d-flex.flex-row.w-100.border-bottom
            %div.d-flex.flex-column.mt-2.mb-2.w-25.justify-content-start
              = link_to filtered_entry[:person].name, person_path(filtered_entry[:person]), {"data-turbo"=>false}
            %div.d-flex.flex-row.mt-2.mb-2.w-75
              - filtered_entry[:skills].each do |person_skill|
                = render('person_skill', {person_skill: person_skill})