%div.mt-3{"data-controller": "people-skills-filter"}
  %turbo-frame{id: "search-filters"}
    = form_with(url: people_skills_path, method: :get, class: "filter-form") do |form|
      - row_count.times do |i|
        %div.d-flex.flex-row.align-items-center
          = render("search_form", form: form, rowNumber: i)
          - if i != 0
            = image_tag("x.svg", class: "text-primary pointer")
      = link_to image_tag("plus-lg.svg", class: "text-primary me-1") + "Skill hinzufügen (max. 5)",
       filter_people_skills_path + "?rows=#{row_count}&#{query_params}", class: "btn d-flex align-items-center text-primary w-75",
       data: {"turbo-frame": "search-filters"}
  %div.profile-header.mw-100.border-bottom.mt-4.fw-normal
    Suchresultate
  %turbo-frame{id: "search-results"}
    %div.border.p-3.rounded-bottom
      - if entries.size == 0
        Keine Resultate
      - else
        - entries.each do | filtered_entry|
          %div.d-flex.flex-row.w-100.border-bottom
            %div.d-flex.flex-column.mt-2.mb-2.w-25.justify-content-start
              = link_to filtered_entry[:person].name, person_path(filtered_entry[:person]), {"data-turbo"=>false}
            %div.d-flex.flex-row.mt-2.mb-2.w-75
              - filtered_entry[:skills].each do |person_skill|
                = render('person_skill', {person_skill: person_skill})