%div.mt-3{"data-controller": "people-skills-filter"}
  %turbo-frame{id: "search-filters"}
    = form_with(url: people_skills_path, method: :get, class: "filter-form", data: {"people-skills-filter-target": "form"}) do |form|
      - filter_params.rows_count.times do |i|
        %div.d-flex.flex-row.align-items-center{"data-people-skills-filter-target": "filter", id: "filter-row-#{i+ 1}"}
          %div.filter-container.me-1
            = render("search_form", form: form, rowNumber: i, filter_params: filter_params)
          - if i != 0
            = image_tag("x.svg", class: "text-primary pointer", "data-action": "click->people-skills-filter#remove",
            "data-people-skills-filter-id-param": i, id: "remove-row-#{i}")
      - if filter_params.rows_count < 5
        = link_to image_tag("plus-lg.svg", class: "text-primary me-1") + "Skill hinzufügen (max. 5)",
         filter_form_people_skills_path + "?rows=#{filter_params.rows_count}&#{filter_params.query_params}", class: "btn d-flex align-items-center text-primary w-75",
         data: {"turbo-frame": "search-filters"}, id: "add-row-button"
  %div.profile-header.mw-100.border-bottom.mt-4.fw-normal
    Suchresultate
  %turbo-frame{id: "search-results"}
    %div.border.p-3.rounded-bottom.search-results
      - if entries.size == 0
        Keine Resultate
      - else
        - entries.each do | filtered_entry |
          %div.d-flex.flex-row.w-100.border-bottom
            %div.d-flex.flex-column.mt-2.mb-2.person-filter-container.justify-content-start
              = link_to filtered_entry[:person].name, person_path(filtered_entry[:person]), {"data-turbo"=>false}
            %div.d-flex.flex-column.mt-2.mb-2.skills-filter-container
              - filtered_entry[:skills].each do |person_skill|
                %div.d-flex.flex-row.mb-5
                  = render('person_skill', {person_skill: person_skill})