%div.mt-3
  = form_with(url: people_skills_path, method: :get) do |form|
    %div.w-100.d-flex.flex-row.justify-content-start{data: {controller: "skills-level"}}
      %div.w-50.mt-3
        = form.collection_select :skill_id, Skill.all, :id, :title, {include_blank: "Select option", selected: params[:skill_id]},
        class: "form-select w-100", onchange: "this.form.requestSubmit()"
      %div.w-25.d-flex.flex-column.align-items-center
        %label.form-label.text-gray.fs-6{"data-skills-level-target": "label"}= t ExpertiseTopicSkillValue.skill_levels.key(@level - 1)
        = form.range_field :level, min: 1, max: 5, class: "form-range w-75",
                              "data-action": "change->skills-level#toggleLevel", "data-skills-level-target": "switch",
                              value: @level, onchange: "this.form.requestSubmit()"
      %div.w-25.d-flex.flex-column.align-items-center
        %label.form-label.text-gray.fs-6.mb-0.mt-0 Interesse
        .rate
          = form.radio_button :interest, 5, id: "star5", checked: @interest == 5, onClick: "this.form.requestSubmit()"
          %label{for: "star5", title: "text", id: "star-label5", class: "star5"} 5 stars
          = form.radio_button :interest, 4, id: "star4", checked: @interest == 4, onClick: "this.form.requestSubmit()"
          %label{for: "star4", title: "text", id: "star-label4", class: "star4"} 4 stars
          = form.radio_button :interest, 3, id: "star3", checked: @interest == 3, onClick: "this.form.requestSubmit()"
          %label{for: "star3", title: "text", id: "star-label3", class: "star3"} 3 stars
          = form.radio_button :interest, 2, id: "star2", checked: @interest == 2, onClick: "this.form.requestSubmit()"
          %label{for: "star2", title: "text", id: "star-label2", class: "star2"} 2 stars
          = form.radio_button :interest, 1, id: "star1", checked: @interest == 1, onClick: "this.form.requestSubmit()"
          %label{for: "star1", title: "text", id: "star-label1", class: "star1"} 1 star
    %div.profile-header.mw-100.border-bottom.mt-4.fw-normal
      Suchresultate
    %hr
    %turbo-frame{id: "search-results"}
      - if filtered_entries.size == 0
        Keine Resultate
      - else
        - JSON.parse(filtered_entries)["data"].each do | person_skill_search |
          %div.d-flex.flex-row.w-100
            %div.d-flex.flex-column.mt-2.mb-2.w-25.justify-content-start
              = link_to Person.find(person_skill_search["id"]).name, person_path(person_skill_search["id"])
            %div.d-flex.flex-row.mt-2.mb-2.w-75
              - person_skill_search["relationships"]["skills"]["data"].each do | skill_search |
                %div.col-2.d-flex.align-items-center
                  = PeopleSkill.find(skill_search["id"]).skill.title
                %div.d-flex.flex-column.align-items-center.col-3
                  %label.form-label.text-gray= t ExpertiseTopicSkillValue.skill_levels.key(PeopleSkill.find(skill_search["id"]).level - 1)
                  %input{value: PeopleSkill.find(skill_search["id"]).level, class: "form-range w-75", type: "range", min: 1, max: 5, disabled: true}
                %div.d-flex.flex-column.align-items-center.col-3
                  %label.form-label.text-gray= t "people-skills.interest"
                  .rate.rate-show
                    %input{type: "radio", value: 5, id: "star5#{PeopleSkill.find(skill_search["id"]).id}",
                            checked: PeopleSkill.find(skill_search["id"]).interest == 5, disabled: true}/
                    %label{for: "star5#{PeopleSkill.find(skill_search["id"]).id}", title: "text", id: "star-label5#{PeopleSkill.find(skill_search["id"]).id}"} 5 stars
                    %input{type: "radio", value: 4, id: "star4#{PeopleSkill.find(skill_search["id"]).id}",
                            checked: PeopleSkill.find(skill_search["id"]).interest == 4, disabled: true}/
                    %label{for: "star4#{PeopleSkill.find(skill_search["id"]).id}", title: "text", id: "star-label4#{PeopleSkill.find(skill_search["id"]).id}"} 4 stars
                    %input{type: "radio", value: 3, id: "star3#{PeopleSkill.find(skill_search["id"]).id}",
                            checked: PeopleSkill.find(skill_search["id"]).interest == 3, disabled: true}/
                    %label{for: "star3#{PeopleSkill.find(skill_search["id"]).id}", title: "text", id: "star-label3#{PeopleSkill.find(skill_search["id"]).id}"} 3 stars
                    %input{type: "radio", value: 2, id: "star2#{PeopleSkill.find(skill_search["id"]).id}",
                            checked: PeopleSkill.find(skill_search["id"]).interest == 2, disabled: true}/
                    %label{for: "star2#{PeopleSkill.find(skill_search["id"]).id}", title: "text", id: "star-label2#{PeopleSkill.find(skill_search["id"]).id}"} 2 stars
                    %input{type: "radio", value: 1, id: "star1#{PeopleSkill.find(skill_search["id"]).id}",
                            checked: PeopleSkill.find(skill_search["id"]).interest == 1, disabled: true}/
                    %label{for: "star1#{PeopleSkill.find(skill_search["id"]).id}", title: "text", id: "star-label1#{PeopleSkill.find(skill_search["id"]).id}"} 1 star
                %div.col-2.d-flex.align-items-center
                  %div.d-flex.flex-row.form-check
                    %input.check_box{type: "checkbox", class: "form-check-input me-2", checked: PeopleSkill.find(skill_search["id"]).certificate, disabled: true}
                    %label.form-label.text-gray= t "people-skills.certificate"
                %div.col-2.d-flex.align-items-center
                  %div.d-flex.flex-row.form-check
                    %input.check_box{type: "checkbox", class: "form-check-input me-2", checked: PeopleSkill.find(skill_search["id"]).core_competence, disabled: true}
                    %label.form-label.text-gray= t "people-skills.core-competence"