%div.mt-3{"data-controller": "people-skills-filter"}
  %turbo-frame{id: "search-filters"}
    = form_with(url: people_skills_path, method: :get, class: "filter-form", data: {"turbo-frame": "search-results"}) do |form|
      = render("search_form", form: form)
      - @row.times do
        = render("search_form", form: form)
  = link_to image_tag("plus-lg.svg", class: "text-primary me-1") + "Skill hinzufügen (max. 5)",
  people_skills_path + "?rows=#{@row + 1}", class: "btn d-flex align-items-center text-primary w-75"
  %div.profile-header.mw-100.border-bottom.mt-4.fw-normal
    Suchresultate
  %turbo-frame{id: "search-results"}
    %div.border.p-3.rounded-bottom
      - if entries.size == 0
        Keine Resultate
      - else
        - entries.each do | filtered_entry|
          %div.d-flex.flex-row.w-100.border-bottom
            %div.d-flex.flex-column.mt-2.mb-2.w-25.justify-content-start
              = link_to filtered_entry[:person].name, person_path(filtered_entry[:person]), {"data-turbo"=>false}
            %div.d-flex.flex-row.mt-2.mb-2.w-75
              - filtered_entry[:skills].each do |person_skill|
                = render('person_skill', {person_skill: person_skill})