<div>
  <ul class="nav nav-tabs nav-tabs-fws" role="tablist">
    <li class={{if (eq discipline 'development') 'active'}}>
      <a href="#" aria-controls="development" role="tab" onclick={{action (mut discipline) 'development'}}>Entwickler</a>
    </li>
    <li class={{if (eq discipline 'system_engineering') 'active'}}>
      <a href="#" aria-controls="system_engineering" role="tab" onclick={{action (mut discipline) 'system_engineering'}}>Systemtechniker</a>
    </li>
  </ul>

  <div id="expertise-categories">
    <div class="tab-content">
      <div role="tabpanel" id="development" class="tab-pane active">
        {{expertise-categories-show person=model discipline=discipline}}
      </div>
    </div>
  </div>
</div>
