{{#each this.model.errors as |error|}}
  {{error.detail}}
{{/each}}

<div id="person-collapse-group" class="collapse-group">
  <NavSidebar @items={{this.sidebarItems}}>
    <ul class="nav flex-column mt-2">
      <li class="d-flex flex-column nav-link border">
        <a role="button" class="edit-buttons" data-toggle="modal" data-target="#person-cv-export">
          <i class="fa fa-download" aria-hidden="true"></i> Export
        </a>
      </li>
    </ul>
  </NavSidebar>
  <div class="col-sm-10 float-right position-relative px-0">
    <div id="accordion">
      {{!Personalien Tab}}
      <div class="card mb-3" id="particulars">
        {{#if this.personEditing}}
          <PersonForm @person={{this.model}} @submit={{action (toggle "personEditing" this)}} @abort={{action (toggle "personEditing" this) }}></PersonForm>
        {{else}}
          <PersonShow @person={{this.model}}  @personEditing={{action (toggle "personEditing" this)}}></PersonShow>
        {{/if}}

      </div>
      <div class="card mb-3" id="competences">
        {{core-competences-show
                    person=this.model
        }}
      </div>
      {{!Ausbildungen Tab}}
      <div class="card mb-3" id="educations">
        <EducationsShow @educations={{@model.educations}} @person={{@model}} @submit={{this.submit}}/>
      </div>
      {{!Weiterbildungen Tab}}
      <div class="card mb-3" id="advancedTrainings">
         <AdvancedTrainingsShow @advancedTrainings={{@model.advancedTrainings}} @person={{@model}} @submit={{this.submit}}/>
      </div>
      {{!Aktivitäten Tab}}
      <div class="card mb-3" id="activities">
         <ActivitiesShow @activities={{@model.activities}} @person={{@model}} @submit={{this.submit}}/>
      </div>
      {{!Projekte Tab}}
      <div class="card mb-end" id="projects">
        <ProjectsShow @projects={{@model.projects}} @person={{@model}} @submit={{this.submit}} />
      </div>
      <ScrollToTopButton />
    </div>
  </div>
</div>
{{person-cv-export}}
{{if query (component "person-jump-to" query=this.query)}}
