{{#each model.errors as |error|}}
  {{error.detail}}
{{/each}}

<div id="person-collapse-group" class="collapse-group">
  <div class="row">
    <div class="col-sm-12">
      <span class="text-right d-block controls">
        <a href="#person-collapse-group" class="mr-2 open-button" hidden=true>+ Details einblenden</a>
        <a href="#person-collapse-group" class="close-button">- Details ausblenden</a>
      </span>
    </div>
  </div>
  <div id="accordion">
    {{!Personalien Tab}}
    <div class="card mb-3">
      {{component (if personEditing 'person-edit' 'person-show' )
                  person=model
                  submit=(action (toggle 'personEditing' this))
                  personEditing=(action (toggle 'personEditing' this))
      }}
    </div>
    {{!Kompetenzen Tab}}
    <div class="card mb-3">
      {{component (if competencesEditing 'competences-edit' 'competences-show' )
                  person=model
                  submit=(action (toggle 'competencesEditing' this))
                  competencesEditing=(action (toggle 'competencesEditing' this))
      }}
    </div>
    {{!Ausbildungen Tab}}
    <div class="card mb-3">
      {{component (if educationsEditing 'educations-edit' 'educations-show' )
                  educations=model.educations
                  person=model
                  submit=(action (toggle 'educationsEditing' this))
                  educationsEditing=(action (toggle 'educationsEditing' this))
      }}
    </div>
    {{!Weiterbildungen Tab}}
    <div class="card mb-3">
      {{component (if advancedTrainingsEditing 'advanced-trainings-edit' 'advanced-trainings-show' )
                  advanced-trainings=model.advancedTrainings
                  person=model
                  submit=(action (toggle 'advancedTrainingsEditing' this))
                  advancedTrainingsEditing=(action (toggle 'advancedTrainingsEditing' this))
      }}
    </div>
    {{!Aktivitäten Tab}}
    <div class="card mb-3">
      {{component (if activitiesEditing 'activities-edit' 'activities-show' )
                  activities=model.activities
                  person=model
                  submit=(action (toggle 'activitiesEditing' this))
                  activitiesEditing=(action (toggle 'activitiesEditing' this))
      }}
    </div>
    {{!Projekte Tab}}
    <div class="card mb-end">
      {{projects-show projects=model.projects personId=model.id}}
    </div>
  </div>
</div>

<script>
  $(".open-button").on("click", function() {
    $(this).closest('.collapse-group').find('.collapse').collapse('show');
    $('.open-button').attr('hidden', true);
    $('.close-button').attr('hidden', false);
  });

  $(".close-button").on("click", function() {
    $(this).closest('.collapse-group').find('.collapse').collapse('hide');
    $('.close-button').attr('hidden', true);
    $('.open-button').attr('hidden', false);
  });
</script>
