= form_with(model: @certificate) do |f|
  .row.border.border-top.table-light.table-hover.table-row
    .col-1.d-flex.align-items-center
      = f.text_field :name, class: "form-control"
    .col-2.d-flex.align-items-center
      = f.text_field :description, class: "form-control"
    .col-1.d-flex.align-items-center
      = f.number_field :points_value, class: "form-control", step: 0.5
    .col-1.d-flex.align-items-center
      = f.text_field :provider, class: "form-control"
    .col-1.d-flex.align-items-center
      = f.number_field :exam_duration, class: "form-control"
    .col-1.d-flex.align-items-center
      = f.text_field :type_of_exam, class: "form-control"
    .col-1.d-flex.align-items-center
      = f.text_field :course_duration, class: "form-control"
    .col-1.d-flex.align-items-center
      = f.number_field :study_time, class: "form-control"
    .col-2.d-flex.align-items-center
      = f.text_field :notes, class: "form-control"
    .col-1
      %div.h-100.d-flex.justify-content-center.align-items-center.gap-3
        = image_submit_tag("/assets/floppy2-fill.svg")
        = close_action_link certificates_path