%div.w-100.margin-header.mt-4
  .row.bg-light-subtle.border.border-top.border-5.border-secondary.border-top-0.border-start-0.border-end-0
    .col-2.d-flex.align-items-center
      %strong= ti "table.name"
    .col-2.bg-secondary-subtle.d-flex.align-items-center
      %strong= ti "table.description"
    .col-1.d-flex.align-items-center
      %strong= ti "table.points_value"
    .col-2.bg-secondary-subtle.d-flex.align-items-center
      %strong= ti "table.provider"
    .col-1.d-flex.align-items-center
      %strong= ti "table.exam_duration"
    .col-1.bg-secondary-subtle.d-flex.align-items-center
      %strong= ti "table.type_of_exam"
    .col-1.d-flex.align-items-center
      %strong= ti "table.study_time"
    .col-2.bg-secondary-subtle.d-flex.align-items-center
      %strong= ti "table.notes"
  %div
    %turbo-frame{id: "certificates"}
    - @certificates.each do |certificate|
      %turbo-frame{id: "#{dom_id certificate}"}
        .row.border.border-top.table-light.tableform-hover.table-row.py-2
          .col-2.d-flex.align-items-center.text-break
            = certificate.name
          .col-2.bg-light.d-flex.align-items-center
            = certificate.description
          .col-1.d-flex.align-items-center
            = certificate.points_value
          .col-2.bg-light.d-flex.align-items-center
            = certificate.provider
          .col-1.d-flex.align-items-center
            = certificate.exam_duration
          .col-1.bg-light.d-flex.align-items-center
            = certificate.type_of_exam
          .col-1.d-flex.align-items-center
            = certificate.study_time
          .col-1.bg-light.d-flex.align-items-center
            = certificate.notes