%table
  %thead
    %tr.w-100
      %th.col-4= Person.human_attribute_name(:name)
      %th.col-4= Person.human_attribute_name(:updated_at)
      %th.col-4= ti('link.delete')
  %tbody
    - person_collection.each do |person|
      = form_with(model: person, url: admin_people_management_path(person_id: person.id), method: :delete) do |f|
        %tr.w-100{id: dom_id(person)}
          %td.col-4= person.name
          %td.col-4= person.updated_at.strftime('%d.%m.%Y')
          %td.col-4= f.submit ti('link.delete')
