= form_with model: ([entry.person, entry]) do |f|
  = render('people/person_relations/form', form: f) do
    - content_for :input do
      = f.label :title
      = f.text_area :title, placeholder: "Description", class: "form-control w-100"
      = f.label :location
      = f.text_area :location, placeholder: "Ein Ausbildungsort", class: "form-control w-100"
      = f.label :display_in_cv, class: "form-check-label"
      = f.checkbox :display_in_cv, class: "form-check-input"
