%div.d-flex.flex-column{"data-controller"=>"date-picker"}
    %div.d-flex.row.justify-content-end
        %span.col-5
            %span.ps-3 
                = t("datetime.prompts.month")
        %span.col-5
            %span.ps-3 
                = t("datetime.prompts.year")
        %span.col-10
            %hr.my-1
    %div.d-flex.row.align-items-center
        %span.fw-bold.col-2 
            = "#{t('date_range_picker.from')}:"
        %span.col-5
            = form.select :month_from, months_with_nil, {}, class: "form-select"
        %span.col-5
            = form.select :year_from, last_100_years_disabled_hidden_nil,{}, class: "form-select"
    %div{"data-date-picker-target" => "hideable", :hidden => end_date, :id => "end_date_picker"}
        %div.d-flex.row.align-items-center
            %span.fw-bold.col-2 
                = "#{t('date_range_picker.to')}:"
            %span.col-5
                = form.select :month_to, months_with_nil, {}, class: "form-select"
            %span.col-5
                = form.select :year_to, last_100_years_disabled_hidden_nil, {}, class: "form-select"
    %span{"data-date-picker-target" => "hideable", :hidden => !end_date} Bis Heute
    
    %div.d-flex.row.justify-content-end
        %span.col-10
            %button{"data-action" => "date-picker#toggleTargets", :class => "btn btn-primary w-100", :type=> "button"} 
                %span{"data-date-picker-target" => "hideable", :hidden => end_date} Bis Heute
                %span{"data-date-picker-target" => "hideable", :hidden => !end_date} Mit Enddatum