%div.d-flex.flex-column{"data-controller"=>"date-picker"}
    %div.d-flex.row.justify-content-end
        %span.col-5
            %span.ps-3 
                = I18n.t("datetime.prompts.month")
        %span.col-5
            %span.ps-3 
                = I18n.t("datetime.prompts.year")
        %span.col-10
            %hr.my-1
    %div.d-flex.row.align-items-center
        %span.fw-bold.col-2 
            = "#{I18n.t('date_range_picker.from')}:"
        %span.col-5
            = f.select :month_from, translated_months.compact.each_with_index.map { |month, index| [month, index +1] }, {}, class: "form-select", "data-action": "change->date-picker#changeDate"
        %span.col-5
            = f.select :year_from, (Time.zone.now.year - 100)..(Time.zone.now.year + 1),{}, class: "form-select", "data-action": "change->date-picker#changeDate"
    %div{"data-date-picker-target" => "hideable", :hidden => end_date, :id => "end_date_picker"}
        %div.d-flex.row.align-items-center
            %span.fw-bold.col-2 
                = "#{I18n.t('date_range_picker.to')}:"
            %span.col-5
                = f.select :month_to, translated_months.compact.each_with_index.map { |month, index| [month, index +1] }, {}, class: "form-select"
            %span.col-5
                = f.select :year_to, (Time.zone.now.year - 100)..(Time.zone.now.year + 1), {}, class: "form-select"
    %div.d-flex.row.justify-content-end
        %span.col-10
            %button{"data-action" => "date-picker#toggleTargets", :class => "btn btn-primary w-100", :type=> "button"} 
                %span{"data-date-picker-target" => "hideable", :hidden => end_date} Bis Heute
                %span{"data-date-picker-target" => "hideable", :hidden => !end_date} Mit Enddatum
            %button{"data-action" => "date-picker#sameDateToggle", :class => "btn btn-primary w-100", :type=> "button", :hidden => ""} 
                %span{"data-date-picker-target" => "hideable", :hidden => end_date} Gleiches Start und Enddatum
                %span{"data-date-picker-target" => "hideable", :hidden => !end_date} Unterschiedliches Start und Enddatum