%label.form-label.text-gray= ti "people_skills.interest"
.rate.rate-show
  - 1.upto 5 do |interest|
    %input{type: "radio", value: interest, id: "star#{interest}#{person_skill.id}",
                        checked: person_skill.interest == interest, disabled: true}/
    %label{for: "star#{interest}#{person_skill.id}", id: "star-label#{interest}#{person_skill.id}"} ="#{interest} stars"