%label.form-label.text-gray= ti "people_skills.interest"
.rate.rate-show
  %input{type: "radio", value: 5, id: "star5#{person_skill.id}",
                      checked: person_skill.interest == 5, disabled: true}/
  %label{for: "star5#{person_skill.id}", id: "star-label5#{person_skill.id}"} 5 stars
  %input{type: "radio", value: 4, id: "star4#{person_skill.id}",
                      checked: person_skill.interest == 4, disabled: true}/
  %label{for: "star4#{person_skill.id}", id: "star-label4#{person_skill.id}"} 4 stars
  %input{type: "radio", value: 3, id: "star3#{person_skill.id}",
                      checked: person_skill.interest == 3, disabled: true}/
  %label{for: "star3#{person_skill.id}", id: "star-label3#{person_skill.id}"} 3 stars
  %input{type: "radio", value: 2, id: "star2#{person_skill.id}",
                      checked: person_skill.interest == 2, disabled: true}/
  %label{for: "star2#{person_skill.id}", id: "star-label2#{person_skill.id}"} 2 stars
  %input{type: "radio", value: 1, id: "star1#{person_skill.id}",
                      checked: person_skill.interest == 1, disabled: true}/
  %label{for: "star1#{person_skill.id}", id: "star-label1#{person_skill.id}"} 1 star