%turbo-frame{id: "search-filters"}
  %div{"data-controller": "people-skills-filter"}
    = form_with(url: people_skills_path, method: :get, class: "filter-form", data: {"people-skills-filter-target": "form"}) do |form|
      %div.filter-container.me-1#filter-row-0
        = render("people_skills/search_form", form: form, rowNumber: 0)
      - search_row.times do | i |
        %div.d-flex.flex-row.align-items-center{"data-people-skills-filter-target": "filter", id: "filter-row-#{i+ 1}"}
          %div.filter-container.me-1
            = render("people_skills/search_form", form: form, rowNumber: i + 1)
          = image_tag("x.svg", class: "text-primary pointer",
          "data-action": "click->people-skills-filter#remove", "data-people-skills-filter-id-param": i)
    - if search_row < 4
      = link_to image_tag("plus-lg.svg", class: "text-primary me-1") + "Skill hinzufügen (max. 5)",
        filter_people_skills_path + "?rows=#{search_row + 1}&#{query_params}",
        class: "btn d-flex align-items-center text-primary w-75", data: {"turbo-frame": "search-filters"},
        id: "add-row-button"