!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PuzzleSkills
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "https://unpkg.com/@puzzleitc/puzzle-shell/dist/style.css"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
    = javascript_include_tag "application", "https://unpkg.com/@puzzleitc/puzzle-shell/dist/bundle.js", type: "module"
    = favicon_link_tag "favicon.png"
  %body.d-flex.justify-content-center{"data-controller": "skills-empty-space"}
    %div.content{"data-skills-empty-space-target": "container"}
      %div.position-sticky.top-0.z-3
        %div.d-flex.justify-content-between.bg-white
          %div.d-flex
            %div.mb-1.mt-1
              %img{:src=> "/assets/logo.svg",:height=>"32"}
            %text.d-flex.align-items-end.ms-2.small= "5.0.0"
          %ul.navbar.text-gray
            %li.d-flex.align-items-center.cursor-pointer.ps-2.pe-2.border-start.border-end.h-100
              %div.scale-icon-06(name="user")
              %span#username
                - if find_profile_by_keycloak_user.nil?
                  = link_to current_auth_user&.name, people_path(alert: "true")
                - else
                  = link_to find_profile_by_keycloak_user.name, person_path(find_profile_by_keycloak_user)
                - if admin?
                  (Admin)
            %li.d-flex.align-items-center.cursor-pointer.ps-2.pe-2
              %a.d-flex.align-items-center{:href => "https://github.com/puzzle/skills/issues"}
                %pzsh-icon.scale-icon-08.text-gray(name="question-circle")
            %li.d-flex.align-items-center.cursor-pointer.border-start.border-end.h-100.ps-2.pe-2{"data-action": "click->skills-empty-space#goCrazy"}
              - if !development?
                - if auth_user_signed_in?
                  =link_to "Logout", destroy_auth_user_session_path, data: { "turbo-method": :delete}
                - elsif devise_mapping.omniauthable?
                  =button_to "Login", omniauth_authorize_path(resource_name, resource_class.omniauth_providers.first), {data: { "turbo": false }, class: "btn btn-link"}
        %div.puzzle-header
          %div.d-flex.h-100
            %ul.navbar.h-100
              - @first_path = Pathname(request.path).each_filename.to_a.map{|e| "/"+e}[0]
              %li.bg-skills-blue.h-100.d-flex.align-items-center{class: "#{'highlighted' if @first_path == people_path}"}
                %a.nav-link.cursor-pointer.ps-2.pe-2{href: people_path} Profil
              %li.bg-skills-blue.h-100.d-flex.align-items-center{class: "#{'highlighted' if @first_path == people_skills_path}"}
                %a.nav-link.cursor-pointer.ps-2.pe-2{href: people_skills_path} Skill Suche
              %li.bg-skills-blue.h-100.d-flex.align-items-center{class: "#{'highlighted' if @first_path == cv_search_index_path}"}
                %a.nav-link.cursor-pointer.ps-2.pe-2{href: cv_search_index_path} CV Suche
              %li.bg-skills-blue.h-100.d-flex.align-items-center{class: "#{'highlighted' if @first_path == skills_path}"}
                %a.nav-link.cursor-pointer.ps-2.pe-2{href: skills_path} Skillset
      %div.container-fluid
        %div.row.d-flex.justify-content-center
          = content_for?(:content) ? yield(:content) : yield
          = turbo_frame_tag "remote_modal", target: "_top"