!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RailsTest
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
    = favicon_link_tag "favicon.png"
  %body.d-flex.justify-content-center
    %pzsh-container.content
      %div.position-sticky.top-0.z-3
        %div.d-flex.justify-content-between.bg-white
          %div.d-flex
            %div.mb-1.mt-1
              %img{:src=> "/assets/logo.svg",:height=>"32"}
            %text.d-flex.align-items-end.ms-2.small= "4.4.0"
          %ul.navbar.text-gray
            %li.d-flex.align-items-center.cursor-pointer.ps-2.pe-2.border-start.border-end.h-100
              %pzsh-icon.scale-icon-06(name="user")
              %text= current_person&.name
            %li.d-flex.align-items-center.cursor-pointer.ps-2.pe-2
              %a.d-flex.align-items-center{:href => "https://github.com/puzzle/skills/issues"}
                %pzsh-icon.scale-icon-08.text-gray(name="question-circle")
            %li.d-flex.align-items-center.cursor-pointer.border-start.border-end.h-100.ps-2.pe-2
              =link_to "Logout", destroy_person_session_path, data: { "turbo-method": :delete }
        %div
          %pzsh-topbar.p-0
            %div.d-flex.justify-content-center
              %ul.navbar
                %li
                  %a.nav-link.cursor-pointer.ps-2.pe-2= "Profil"
                %li
                  %a.nav-link.cursor-pointer.ps-2.pe-2= "Skill Suche"
                %li
                  %a.nav-link.cursor-pointer.ps-2.pe-2= "CV Suche"
                %li
                  %a.nav-link.cursor-pointer.ps-2.pe-2{href: skills_path} Skillset
      %div.container-fluid
        %div.row.d-flex.justify-content-center
          %div
            = yield
            = turbo_frame_tag "remote_modal", target: "_top"