!!!
%html{"data-bs-theme": theme_preference}
  %head
    -# Resolve the theme before first paint to avoid a flash of the wrong color scheme.
    -# Reads the `theme` cookie (auto/light/dark); "auto" or unset follows the OS preference.
    :javascript
      (function () {
        var m = document.cookie.match(/(?:^|; )theme=([^;]*)/);
        var pref = m ? m[1] : 'auto';
        var dark = pref === 'dark' || (pref !== 'light' &&
          window.matchMedia('(prefers-color-scheme: dark)').matches);
        document.documentElement.setAttribute('data-bs-theme', dark ? 'dark' : 'light');
      })();
    // This disables the Turbo prefetch in development as it gets quite annoying when debugging
    - if Rails.env.development?
      %meta{:name => "turbo-prefetch", :content => "false"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PuzzleSkills
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
    = javascript_include_tag "application", "https://unpkg.com/@puzzleitc/puzzle-shell/dist/bundle.js", type: "module"
    = favicon_link_tag "favicon.png"
  %body#dropdown-wormhole.d-flex.justify-content-center{"data-controller": "skills-empty-space"}
    %div.content{"data-skills-empty-space-target": "container"}
      %div.position-sticky.top-0.z-3
        %div.d-flex.justify-content-between.bg-body.flex-wrap
          = link_to people_path, class: "text-decoration-none text-body" do
            %div.d-flex
              %div.mb-1.mt-1
                %img{:src=> "/assets/logo.svg",:height=>"32"}
              %text.d-flex.align-items-end.ms-2.small="6.3.0" #x-release-please-version
          %ul.navbar.text-gray.d-flex.flex-wrap.align-items-center.gap-2
            -# Language selector
            %li.d-flex.align-items-center.cursor-pointer.border-start-lg.h-100-lg.ps-3.pe-2{"data-controller": "dropdown"}
              = select :i18n, :language, language_selector, {}, class: "form-control", data:{action: "change->dropdown#navigateOnChange"}
            -# Devise/Mockdata
            - if Rails.env.development?
              %li.d-flex.align-items-center.cursor-pointer.ps-3.pe-2.border-start-lg.h-100-lg
                %span#username
                  - if devise?
                    = ti("devise.devise")
                  - else
                    = ti("devise.mockdata")
            -# Admin panel
            - if admin?
              %li.d-flex.align-items-center.cursor-pointer.ps-3.pe-2.border-start-lg.h-100-lg
                = link_to ti("devise.admin_panel"), admin_index_path
            -# Username
            - if Rails.env.development?
              %li.d-flex.align-items-center.cursor-pointer.ps-3.pe-2.border-start-lg.h-100-lg#username{data: { controller: "dropdown", "dropdown-content-position-value": "fixed"}}
                = select_tag :auth_user_id, options_for_select(auth_users_for_select, url_for(auth_user_id: current_auth_user&.id)), data: { "dropdown-target": "dropdown" }
            - elsif auth_user_signed_in?
              %li.d-flex.align-items-center.cursor-pointer.ps-3.pe-2.border-start-lg.h-100-lg
                %div.scale-icon-06(name="user")
                %span#username
                  - if find_person_by_auth_user.nil?
                    = link_to current_auth_user&.name || current_auth_user&.email, people_path(alert: "true")
                  - else
                    = link_to find_person_by_auth_user.name, person_path(find_person_by_auth_user)
                  - if admin?
                    = ti "devise.admin"
            -# Login/Logout
            - if devise?
              %li.d-flex.align-items-center.cursor-pointer.border-start-lg.h-100-lg.ps-3.pe-2
                - if auth_user_signed_in?
                  = link_to ti("devise.sign_out"), destroy_auth_user_session_path, data: { "turbo-method": :delete }, class: "btn btn-link"
                - elsif devise_mapping.omniauthable?
                  =button_to ti("devise.sign_in"), omniauth_authorize_path(resource_name, resource_class.omniauth_providers.first), {data: { "turbo": false, controller: "instant-click" }, class: "btn btn-link"}
            -# Theme toggle (auto / light / dark)
            -# The navbar's `gap-2` adds space only on the icon's right (between this
            -# li and the next), so symmetric padding looks off-centre. Add matching
            -# left padding (ps-3 = pe-2 + gap-2) to centre the icon between the lines.
            %li.d-flex.align-items-center.justify-content-center.cursor-pointer.border-start-lg.h-100-lg.ps-3.pe-2{role: "button", "aria-label": ti("theme.toggle"), data: { controller: "theme", "theme-pref-value": theme_cookie_pref, "theme-auto-icon-value": image_path("theme/circle-half.svg"), "theme-light-icon-value": image_path("theme/sun-fill.svg"), "theme-dark-icon-value": image_path("theme/moon-stars-fill.svg"), action: "click->theme#cycle" }, title: ti("theme.toggle")}
              %span.text-gray.theme-toggle-icon{data: { "theme-target": "icon" }}
            -# Help
            %li.d-flex.align-items-center.cursor-pointer.ps-3.pe-2.border-start-lg.h-100-lg
              %a.d-flex.align-items-center{:href => "https://github.com/puzzle/skills/issues"}
                %pzsh-icon.scale-icon-08.text-gray(name="question-circle")
            %li.d-flex.align-items-center.cursor-pointer.border-start-lg.border-end-lg.h-100-lg.ps-3.pe-2{"data-action": "click->skills-empty-space#goCrazy"}
        %div.puzzle-header
          %div.d-flex.min-height-inherit
            = render "application/tabbar", tabs: global_tabs, bar_class: "skills-navbar", active_path: global_navbar_path
      %div.container-fluid
        %div.row.d-flex.justify-content-center
          %span#flash-messages
            = render partial: 'layouts/flash', collection: [:notice, :alert], as: :level
          - content_for(:actions) do
            %span
              = yield :actions
          = content_for?(:content) ? yield(:content) : yield

          = turbo_frame_tag "remote_modal", target: "_top"
