!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RailsTest
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
    = favicon_link_tag "favicon.png"
  %body.d-flex.justify-content-center
    %pzsh-container.content
      %div.sticky-header
        %div.d-flex.justify-content-between
          %div.d-flex
            %div.mb-1.mt-1
              %img{:src=> "/assets/logo.svg",:height=>"32"}
            %text.d-flex.align-items-end.ms-2.small-text= "4.4.0"
          %ul.navbar.grey-color
            %li.align-center.nav-pad.border-r-l.h-100
              %pzsh-icon.scale-icon-06(name="user")
              %text= "Curtis Jackson"
            %li.align-center.nav-pad
              %a.align-center{:href => "https://google.com"}
                %pzsh-icon.scale-icon-08.grey-color(name="question-circle")
            %li.align-center.nav-pad.border-r-l.h-100
              %a= "Logout"
        %div
          %pzsh-topbar.p-0.top-bar-color
            %div.d-flex.justify-content-center
              %ul.navbar
                %li
                  %a.nav-link.nav-pad= "Profil"
                %li
                  %a.nav-link.nav-pad= "Skill Suche"
                %li
                  %a.nav-link.nav-pad= "CV Suche"
                %li
                  %a.nav-link.nav-pad{href: "/skills"} Skillset
      %div.container-fluid
        %div.row.d-flex.justify-content-center
          %div
            = yield
            = turbo_frame_tag "remote_modal", target: "_top"