!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PuzzleSkills
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "https://unpkg.com/@puzzleitc/puzzle-shell/dist/style.css"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
    = javascript_include_tag "application", "https://unpkg.com/@puzzleitc/puzzle-shell/dist/bundle.js", type: "module"
    = favicon_link_tag "favicon.png"
  %body.d-flex.justify-content-center{"data-controller": "skills-empty-space"}
    %div.content{"data-skills-empty-space-target": "container"}
      %div.position-sticky.top-0.z-3
        %div.d-flex.justify-content-between.bg-white
          %div.d-flex
            %div.mb-1.mt-1
              %img{:src=> "/assets/logo.svg",:height=>"32"}
            %text.d-flex.align-items-end.ms-2.small= "5.0.0"
          %ul.navbar.text-gray
            - if Rails.env.development?
              %li.d-flex.align-items-center.cursor-pointer.ps-2.pe-2.border-start.border-end.h-100
                %span#username
                  - if devise?
                    Devise
                  - else
                    Mockdata
            -# Username 
            - if auth_user_signed_in?
              %li.d-flex.align-items-center.cursor-pointer.ps-2.pe-2.border-start.border-end.h-100
                %div.scale-icon-06(name="user")
                %span#username
                  - if find_person_by_auth_user.nil?
                    = link_to current_auth_user&.name, people_path(alert: "true")
                  - else
                    = link_to find_person_by_auth_user.name, person_path(find_person_by_auth_user)
                  - if admin?
                    (Admin)
            -# Login/Logout
            - if devise?
              %li.d-flex.align-items-center.cursor-pointer.border-start.border-end.h-100.ps-2.pe-2
                - if auth_user_signed_in?
                  =link_to "Logout", destroy_auth_user_session_path, data: { "turbo-method": :delete}, class: "btn btn-link"
                - elsif devise_mapping.omniauthable?
                  =button_to "Login", omniauth_authorize_path(resource_name, resource_class.omniauth_providers.first), {data: { "turbo": false }, class: "btn btn-link"}
            -# Help
            %li.d-flex.align-items-center.cursor-pointer.ps-2.pe-2.border-start.h-100
              %a.d-flex.align-items-center{:href => "https://github.com/puzzle/skills/issues"}
                %pzsh-icon.scale-icon-08.text-gray(name="question-circle")
            %li.d-flex.align-items-center.cursor-pointer.border-start.border-end.h-100.ps-2.pe-2{"data-action": "click->skills-empty-space#goCrazy"}
        %div.puzzle-header
          %div.d-flex.h-100
            %ul.navbar.h-100
              %li.bg-skills-blue.h-100.d-flex.align-items-center{class: "#{'highlighted' if request.url.match?("people") && request.url.exclude?("people_skills")}"}
                %a.nav-link.cursor-pointer.ps-2.pe-2{href: people_path} Profil
              %li.bg-skills-blue.h-100.d-flex.align-items-center{class: "#{'highlighted' if request.url.include? "people_skills"}"}
                %a.nav-link.cursor-pointer.ps-2.pe-2{href: people_skills_path} Skill Suche
              %li.bg-skills-blue.h-100.d-flex.align-items-center{class: "#{'highlighted' if request.url.include? cv_search_index_path}"}
                %a.nav-link.cursor-pointer.ps-2.pe-2{href: cv_search_index_path} CV Suche
              %li.bg-skills-blue.h-100.d-flex.align-items-center{class: "#{'highlighted' if request.url.include?("skills") && request.url.exclude?("people_skills")}"}
                %a.nav-link.cursor-pointer.ps-2.pe-2{href: skills_path} Skillset
      %div.container-fluid
        %div.row.d-flex.justify-content-center
          %div
            = yield
            = turbo_frame_tag "remote_modal", target: "_top"