= content_for :content do
  %div.profile-header-and-tabs.pt-2
    %div
      =render partial:"people/search", :locals => {person: @person}
    %div{"data-controller": "highlight"}
      = render "application/tabbar", tabs: person_tabs(@person), bar_class: "mb-3 mt-2 nav nav-tabs", active_path: person_navbar_path, do_yield: true do
        %div.dropdown
          = button_tag ti(:more_actions), class: "btn dropdown-toggle", data: { "bs-toggle": "dropdown" }
          %ul.dropdown-menu
            %li 
              = export_action_link export_cv_person_path(@person), data: { turbo_frame: "remote_modal" }
            %li.text-nowrap{ data: { bs_toggle: 'tooltip' }, title: ti('link.export_redhat_tooltip') }
              = export_redhat_action_link export_redhat_cv_person_path(@person)
            - unless use_ptime_sync?
              %li.text-nowrap
                = destroy_action_link
  %turbo-frame#tab-content.d-flex.gap-3{"data-controller": "scroll"}
    = yield
= render template: "layouts/application"