= content_for :content do
  %div.profile-header-and-tabs.pt-2
    %div
      =render partial:"people/search", :locals => {person: @person}
    %div{"data-controller": "highlight"}
      = render "application/tabbar", tabs: person_tabs(@person) do
        %div.dropdown
          = button_tag ti(:more_actions), class: "btn dropdown-toggle", data: { "bs-toggle": "dropdown" }
          %ul.dropdown-menu
            %li 
              =  export_action_link export_cv_person_path(@person), data: { turbo_frame: "remote_modal" }
            %li.text-nowrap
              = destroy_action_link
  %turbo-frame#tab-content.d-flex.gap-3{"data-controller": "scroll"}
    = yield
= render template: "layouts/application"